<div class="columns is-multiline">
  <div class="column is-12">
    <div class="section">
      <div class="columns">
        <div class="column is-6">
          <div class="inner-section">
            <h4>General</h4>
            <div class="field">
              <app-toggle label="Build Pushed Branches" [(ngModel)]="hooks!.push" (ngModelChange)="saveHooks()"
                [class.events-none]="!(reposService.repo | async)?.perms?.write">
              </app-toggle>
              <span class="form-helper is-small">
                <span>Run builds on branches that are not explicitly excluded in config.</span>
              </span>
            </div>
            <div class="field">
              <app-toggle label="Build Pushed Pull Requests" [(ngModel)]="hooks!.pullRequest"
                (ngModelChange)="saveHooks()" [class.events-none]="!(reposService.repo | async)?.perms?.write">
              </app-toggle>
              <span class="form-helper is-small">
                <span>Run builds on new or updated pull requests.</span>
              </span>
            </div>
            <div class="field">
              <app-toggle label="Build Pushed Tags" [(ngModel)]="hooks!.tag" (ngModelChange)="saveHooks()"
                [class.events-none]="!(reposService.repo | async)?.perms?.write"></app-toggle>
              <span class="form-helper is-small">
                <span>Run builds on new tags.</span>
              </span>
            </div>
          </div>
        </div>
        <div class="column is-6">
          <div class="inner-section">
            <h4>Auto Cancellation</h4>
            <div class="notification is-gray is-small">
              <i class="far fa-comments"></i>
              <p>
                Auto Cancellation allows you to only run builds for the latest commits in the queue.<br />
                When new commits are pushed to same branch or pull request and jobs for previous commits are still
                running,
                they will be auto-cancelled if this options are on.
              </p>
            </div>
            <div class="field">
              <app-toggle label="Auto Cancel Branch Builds"
                [class.events-none]="!(reposService.repo | async)?.perms?.write"></app-toggle>
            </div>
            <div class="field">
              <app-toggle label="Auto Cancel Pull Request Builds"
                [class.events-none]="!(reposService.repo | async)?.perms?.write"></app-toggle>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-12">
    <div class="section">
      <div class="columns">
        <div class="column is-6">
          <div class="inner-section">
            <h4>Config</h4>
            <div class="notification is-small">
              <i class="fas fa-bars"></i>
              <p>
                The <code>.abstruse.yml</code> file at the root of the repo configures how Abstruse CI is building,
                testing and deploying your code.
                This document will list the different attributes abstruse understand and you can use to configure your
                builds.
              </p>
            </div>
            <div class="justify-end">
              <button type="button" class="button" (click)="fetchConfig()"
                [disabled]="fetchingConfig || !(reposService.repo | async)?.perms?.read">
                <i class="fas fa-cloud-download-alt"></i>
                <span *ngIf="!fetchingConfig">Fetch Config</span>
                <span *ngIf="fetchingConfig">Fetching Config...</span>
              </button>
            </div>
            <div class="config-container">
              <ngx-monaco-editor style="height: 300px" [options]="editorOptions" [(ngModel)]="config">
              </ngx-monaco-editor>
            </div>
            <div class="notification is-green is-small" *ngIf="buildTriggered">
              <i class="fas fa-play-circle"></i>
              <p>Build has been successfully triggered.</p>
            </div>
            <div class="justify-end">
              <button type="button" class="button is-green"
                [disabled]="triggeringBuild || config === '' || !(reposService.repo | async)?.perms?.write"
                (click)="triggerBuild()">
                <i class="fas fa-play-circle"></i>
                <span *ngIf="!triggeringBuild">Trigger Build</span>
                <span *ngIf="triggeringBuild">Triggering Build...</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
