<div class="columns is-multiline">
  <div class="column is-6 is-offset-3" [hidden]="!error">
    <div class="notification is-red">
      <i class="far fa-comment-dots"></i>
      <p>{{ error }}.</p>
    </div>
  </div>
  <div class="column is-12">
    <div class="section">
      <div class="columns">
        <div class="column is-6">
          <div class="inner-section">
            <h4>General</h4>
            <div class="field">
              <app-toggle
                label="Build Pushed Branches"
                [(ngModel)]="hooks!.push"
                (ngModelChange)="saveHooks()"
              >
              </app-toggle>
              <span class="form-helper is-small">
                <span>Run builds on branches that are not explicitly excluded in config.</span>
              </span>
            </div>
            <div class="field">
              <app-toggle
                label="Build Pushed Pull Requests"
                [(ngModel)]="hooks!.pullRequest"
                (ngModelChange)="saveHooks()"
              ></app-toggle>
              <span class="form-helper is-small">
                <span>Run builds on new or updated pull requests.</span>
              </span>
            </div>
            <div class="field">
              <app-toggle
                label="Build Pushed Tags"
                [(ngModel)]="hooks!.tag"
                (ngModelChange)="saveHooks()"
              ></app-toggle>
              <span class="form-helper is-small">
                <span>Run builds on new tags.</span>
              </span>
            </div>
          </div>
        </div>
        <div class="column is-6">
          <div class="inner-section">
            <app-settings-envs></app-settings-envs>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-12">
    <div class="section">
      <div class="columns">
        <div class="column is-6">
          <div class="inner-section">
            <h4>Config</h4>
            <div class="notification is-small">
              <i class="fas fa-bars"></i>
              <p>
                The <code>.abstruse.yml</code> file at the root of the repo configures how Abstruse
                CI is building, testing and deploying your code. This document will list the
                different attributes abstruse understand and you can use to configure your builds.
              </p>
            </div>
            <div class="justify-end">
              <button
                type="button"
                class="button"
                (click)="fetchConfig()"
                [disabled]="fetchingConfig"
              >
                <i class="fas fa-cloud-download-alt"></i>
                <span *ngIf="!fetchingConfig">Fetch Config</span>
                <span *ngIf="fetchingConfig">Fetching Config...</span>
              </button>
            </div>
            <div class="notification is-small is-red" [hidden]="!configError">
              <i class="far fa-comment-dots"></i>
              <p>{{ configError }}.</p>
            </div>
            <div class="notification is-small is-red" [hidden]="!triggerError">
              <i class="far fa-comment-dots"></i>
              <p>{{ triggerError }}.</p>
            </div>
            <div class="config-container">
              <ngx-monaco-editor
                style="height: 300px"
                [options]="editorOptions"
                [(ngModel)]="config"
              >
              </ngx-monaco-editor>
            </div>
            <div class="notification is-green is-small" *ngIf="buildTriggered">
              <i class="fas fa-play-circle"></i>
              <p>Build has been successfully triggered.</p>
            </div>
            <div class="justify-end">
              <button
                type="button"
                class="button"
                [disabled]="triggeringBuild || config === ''"
                (click)="triggerBuild()"
              >
                <i class="fas fa-play-circle"></i>
                <span *ngIf="!triggeringBuild">Trigger Build</span>
                <span *ngIf="triggeringBuild">Triggering Build...</span>
              </button>
            </div>
          </div>
        </div>
        <div class="column is-6">
          <div class="inner-section">
            <h4>Build Badge</h4>
            <div class="field">
              <label class="label">Branch</label>
              <input
                type="text"
                class="input"
                name="branch"
                [(ngModel)]="branch"
                [ngModelOptions]="{ standalone: true }"
              />
              <span class="form-helper"> Branch you want to generate badge upon. </span>
            </div>
            <h4>Generated Badge</h4>
            <img [src]="badgeURL" />

            <span class="sub-title">Generated badge URL</span>
            <span class="badge-result">
              <span class="txt">{{ badgeURL }}</span>
              <i
                class="far fa-copy"
                (click)="copyTextToClipboard(badgeURL)"
                appTooltip
                text="Copy to clipboard"
              ></i>
            </span>

            <span class="sub-title">Generated Markdown</span>
            <span class="badge-result">
              <span class="txt">{{ badgeMarkdown }}</span>
              <i
                class="far fa-copy"
                (click)="copyTextToClipboard(badgeMarkdown)"
                appTooltip
                text="Copy to clipboard"
              ></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-12">
    <div class="section">
      <div class="columns">
        <div class="column is-6">
          <div class="inner-section">
            <app-settings-mount></app-settings-mount>
          </div>
        </div>
        <div class="column is-6"></div>
      </div>
    </div>
  </div>
</div>
