@charset 'utf8'
@import '../../../node_modules/rash/rash'
@import 'fonts'
@import 'colors'
@import 'common'
@import 'forms'
@import 'buttons'
@import 'nav'
@import 'login'
@import 'content'
@import 'setup'
@import 'terminal'
@import 'loader'
@import 'message'
@import 'popup'
@import 'repositories'

html, body, .hero
  width: 100%
  background: $background
  font-family: $font-family-regular
  color: $white

