.build-top-container
  width: 100%
  border: 3px solid $divider
  border-radius: 4px
  margin-bottom: 10px
  margin-top: 30px

  &.green
    border-bottom: 3px solid $green

  &.red
    border-bottom: 3px solid $red

  &.yellow
    border-bottom: 3px solid $yellow

  .build-top-content
    padding: 20px
    background: $background-secondary

    .ssh
      padding: 5px 10px
      background: $background
      color: $white
      display: block
      margin: 5px 10px 0 10px
      font-size: 13px
      border: 1px solid $divider

    .avatar-img
      border-radius: 50%
      margin: 4px 5px 0 0
      display: block
      float: left

    hr
      margin: 5px 0

    h1
      font-size: 20px
      text-overflow: ellipsis
      white-space: nowrap
      overflow: hidden
      padding: 10px 20px 0 0
      margin: 0 0 5px 0

      span
        display: block
        float: left

      &.bold
        font-family: $font-family-bold

    h2
      font-size: 16px
      text-overflow: ellipsis
      white-space: nowrap
      overflow: hidden
      padding: 10px 20px 5px 0

    .column
      display: flex
      align-items: center

    p
      font-size: 14px
      color: $white
      padding: 0 20px
      display: flex
      align-items: center

    .icon
      margin-right: 5px

    .build-icon
      display: block
      width: 16px
      height: 16px
      margin-left: 15px
      margin-top: 3px
      float: left

      img
        width: 16px
        height: 16px

    .total-time
      display: flex
      justify-content: flex-end
      align-items: center
      font-size: 18px
      color: $white
      font-weight: bold
      padding-right: 0
      margin-right: 0

      img
        width: 24px
        height: 24px
        margin-right: 10px
        margin-top: 2px

  .right-buttons-top

    .button
      margin-left: 10px

.ssh-container
  display: flex
  align-items: center
  padding: 15px 10px
  background: $background
  border: 1px solid $divider
  font-size: 13px

  span
    margin: 0 10px 0 0

  .icon
    margin-left: 10px

  code
    background: $black
    color: $white
    padding: 5px 10px
    border-radius: 4px
    margin: 0 5px

.build-history-btn-container
  display: flex
  justify-content: flex-end

  .build-history-btn
    width: 180px
    display: block
    text-align: center
    background: $green
    margin: 0
    border-radius: 5px
    border: 1px solid $divider
    padding: 5px 20px
    cursor: pointer

    &.hide
      background: linear-gradient(to bottom, #F95359, #DD151C)
