.button
  width: 100%
  display: block
  height: 36px
  background: $background-button
  color: $color
  font-size: 14px
  padding: 6px 0
  text-align: center
  text-transform: none
  border: 1px solid $border

  &.green
    background: $green
    border-color: $green
