$background: #fafafc
$background-secondary: #222C3C
$background-button: #F1F5F7
$color: #354052
$color-secondary: #7F8FA4
$color-disabled: #C2CAD4
$color-search: #A1A7AF

$border: #DFE2E5
$divider: #DFE2E5
$border-blue: #2EA2F8

$blue: #0488ED
$blue-secondary: #1991EB
$blue-background: #00b4e7
$green: #009D22
$green-secondary: #009D22
$green-bg: #009D22
$red: #D70348
$red-secondary: #D70348
$yellow: #fcca01
$yellow-secondary: #fcca01
$grey: #636363
$grey-light: #adb5bd
$orange-secondary: #FD9A18
$grey-background: #E8EAF1
$grey-color: #8D909F

$button-background: #516173
$button-background-hover: #415061
$button-background-active: #354353

$header-background: #0d1011
$header-background-dark: #404143
$header-context-background: #1798de

$hover-item-background: #fafafa

$text: #828A92
$text-heading: #364F61
$text-black: #000000
