$background: #1B2431
$background-secondary: #222C3C
$background-button: #273142
$color: #FFFFFF
$color-secondary: #7F8FA4
$color-disabled: #354052
$color-search: #A1A7AF

$border: #313D4F
$divider: #364357
$border-blue: #1A91EB

$blue: #2EA1F8
$blue-secondary: #1991EB
$blue-background: #2EA1F8
$green: #39B54A
$green-secondary: #45B854
$green-bg: #36AF47
$red: #f03e3e
$red-secondary: #ED1C24
$yellow: #ffd43b
$yellow-secondary: #F7981C
$grey: #636363
$grey-light: #adb5bd
$orange-secondary: #FD9A18

$button-background: #516173
$button-background-hover: #415061
$button-background-active: #354353

