hr
  width: 100%
  margin: 5px 0
  background: $divider

.hidden
  display: none

.loading
  display: flex
  justify-content: center
  align-items: center
  padding: 30px

  .loader
    width: 30px
    height: 30px

.float-right
  float: right

.float-left
  float: left

.main-loader
  width: 80px
  height: 80px
  display: block
  margin: 100px auto

  img
    width: 80px
    height: 80px

.centered
  display: flex
  justify-content: center
  align-items: center
  height: 100%
