.content
  width: 100%
  background: $background-button
  position: relative
  z-index: 10
  border-radius: 4px
  margin-top: 10px
  margin-bottom: 100px

  +mobile
    padding: 0 10px
    margin-bottom: 20px

  ul
    margin: 10px 0

  &.bg-background
    background: $background-secondary
    border: 1px solid $divider
    padding: 20px

  h1
    color: $color
    font-size: 24px
    padding: 20px

  h2
    color: $color
    font-size: 20px
    padding: 20px 20px 0 20px
    font-family: $font-family-semibold

  h3
    color: $color-secondary
    padding: 20px 20px 10px 20px
    font-size: 14px
    text-transform: uppercase
    font-family: $font-family-semibold

  h4
    text-transform: uppercase
    font-size: 12px
    font-family: $font-family-semibold
    color: $color-secondary
    padding: 20px 0 0 0

  span
    color: $color-secondary

    &.underlined
      text-decoration: underline

    &.bold
      font-family: $font-family-bold

    &.larger
      font-size: 17px

      +mobile
        padding: 5px 0

    &.smaller
      font-size: 12px
      color: $color-secondary

.list-header
  background: $border
  color: $color-secondary
  font-size: 14px
  display: flex
  align-items: center
  height: 36px
  border-radius: 4px
  margin-bottom: 10px !important

  .column
    padding: 0 10px !important

.list-item
  display: flex
  align-items: center
  min-height: 100px
  color: $color
  font-size: 13px
  cursor: pointer
  background: $background
  border-radius: 3px
  border: 1px solid $divider

  +mobile
    display: block

    .column
      display: block !important
      margin: 5px 0
      text-align: center

  &.list-item-mini
    height: 35px

    &:hover
      cursor: default
      background-image: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%)
      border: 1px solid #CED0DA
      border-radius: 4px

  &.list-item-slim
    min-height: 70px

  &.columns
    margin: 5px 0

  span
    display: block
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    margin-right: 10px

    +mobile
      width: 100%
      text-align: center
      display: flex
      align-items: center
      justify-content: center
      white-space: pre-wrap

  &:hover
    background: darken($background, 3)

  .column
    padding: 0 10px !important
    display: flex
    align-items: center

    .columns
      width: 100%

      +mobile
        width: 100%
        padding: 0
        margin: 0

    &.commit-column
      display: inline-block

      span
        display: block

        +mobile
          width: 100%
          text-align: center

        &.icon
          display: inline-flex
          justify-content: center
          align-content: center
          float: left
          margin-top: 20px
          margin-right: 20px

          +mobile
            display: none

          img
            width: 14px
            height: 14px

    .repo-branch-column
      width: 100%

      span

        +mobile
          text-align: center

        &.span-branch
          font-size: 13px
          display: inline-block
          color: $color

          img
            display: block
            float: left
            margin: 5px 5px 0 0
            width: 12px
            height: 12px

  .icon
    width: 26px
    height: 26px
    display: flex
    align-items: center
    justify-content: center

    svg
      width: 14px
      height: 14px

  &.is-success
    border-left: 10px solid $green

  &.is-running
    border-left: 10px solid $yellow
    -webkit-animation: pulsate 2.0s infinite ease-in-out
    animation: pulsate 2.0s infinite ease-in-out

  &.is-errored
    border-left: 10px solid $red

  &.is-queued
    border-left: 10px solid $white

  .avatar-icon
    width: 50px
    height: 50px
    border-radius: 50px
    margin: 0 15px 0 5px

  span
    display: block

    &.underlined
      text-decoration: underline

    &.bold
      font-family: $font-family-bold

  .icon-and-text
    display: inline-flex
    justify-content: center
    align-items: center
    margin-right: 25px

    +mobile
      display: block
      width: 100%
      text-align: center
      margin: 0

    .icon
      display: inline-flex
      justify-content: center
      align-items: center


      &.script

        img
          width: 18px

      &.hourglass
        img
          width: 15px

    .version
      padding: 0 5px

.message-center
  display: block
  width: 400px
  margin: 0 auto

  .message
    position: relative
    p
      text-align: center
      img
        position: absolute
        width: 30px
        height: 30px
        left: 5px
        top: 5px
      a
        color: $white
        text-decoration: underline

.justify-end
  display: flex
  justify-content: flex-end

  +mobile
    justify-content: center

.search-input-container
  display: inline-block
  position: relative

  .search-input
    display: block
    background: $background
    border: 1px solid $divider
    border-radius: 4px
    min-width: 150px
    outline: none
    padding: 10px 30px 10px 20px
    font-size: 14px
    color: $color-search
    transition: min-width 300ms ease

    &::-webkit-input-placeholder
      color: $color-search

    &::-moz-placeholer
      color: $color-search

    &:-ms-input-placeholder
      color: $color-search

    &:-moz-olaceholder
      color: $color-search

    &:focus
      min-width: 350px

  svg
    display: block
    position: absolute
    width: 16px
    height: 16px
    right: 10px
    top: 11px

.more-button-container
  margin: 30px 0

progress
  width: 100%
  margin: 0 10px
  height: 5px
  border-radius: 10px

  &::-webkit-progress-bar
    background: #313D4F
    border-radius: 10px
  &::-webkit-progress-value
    background-image: linear-gradient(-90deg, #2BB415 2%, #5AD946 98%)
    border-radius: 10px
  &::-moz-progress-bar
    background-image: linear-gradient(-90deg, #2BB415 2%, #5AD946 98%)
    border-radius: 10px

.avatar-img-container
  display: block
  width: 40px
  height: 40px
  margin-left: 10px
  margin-right: 20px !important
  position: relative
  overflow: visible !important

  img
    width: 40px
    height: 40px

  .avatar-small
    position: absolute
    top: -12px
    right: -12px
    width: 30px
    height: 30px
    border: 1px solid $border
    border-radius: 50%
    z-index: 11

.avatar-img
  display: block
  max-width: 50px
  height: 50px
  border-radius: 50%


.data-label
  border-radius: 3px
  font-size: 12px
  color: $white !important
  padding: 5px 20px
  width: 100px
  margin: 0 auto
  text-align: center
  font-weight: $weight-semibold

  &.green
    background: #36AF47

  &.red
    background: #ED1C24

  &.bright
    background: #C2CAD4
    color: $white

.text-time
  display: block
  color: $grey-light !important
  margin-left: 5px
