.dracula-ansi-theme {

  .ansi-black-fg {
    color: #282a36;
  }

  .ansi-red-fg {
    color: #ff5555;
  }

  .ansi-green-fg {
    color: #50fa7b;
  }

  .ansi-yellow-fg {
    color: #f1fa8c;
  }

  .ansi-blue-fg {
    color: #8be9fd;
  }

  .ansi-magenta-fg {
    color: #bd93f9;
  }

  .ansi-cyan-fg {
    color: #8be9fd;
  }

  .ansi-white-fg {
    color: #f8f8f2;
  }

  .ansi-bright-black-fg {
    color: #282a36;
  }

  .ansi-bright-red-fg {
    color: #ff5555;
  }

  .ansi-bright-green-fg {
    color: #50fa7b;
  }

  .ansi-bright-yellow-fg {
    color: #f1fa8c;
  }

  .ansi-bright-blue-fg {
    color: #8be9fd;
  }

  .ansi-bright-magenta-fg {
    color: #bd93f9;
  }

  .ansi-bright-cyan-fg {
    color: #8be9fd;
  }

  .ansi-bright-white-fg {
    color: #f8f8f2;
  }

  .ansi-black-bg {
    background-color: #282a36;
  }

  .ansi-red-bg {
    background-color: #ff5555;
  }

  .ansi-green-bg {
    background-color: #50fa7b;
  }

  .ansi-yellow-bg {
    background-color: #f1fa8c;
  }

  .ansi-blue-bg {
    background-color: #8be9fd;
  }

  .ansi-magenta-bg {
    background-color: #bd93f9;
  }

  .ansi-cyan-bg {
    background-color: #8be9fd;
  }

  .ansi-white-bg {
    background-color: #f8f8f2;
  }

  .ansi-bright-black-bg {
    background-color: #282a36;
  }

  .ansi-bright-red-bg {
    background-color: #ff5555;
  }

  .ansi-bright-green-bg {
    background-color: #50fa7b;
  }

  .ansi-bright-yellow-bg {
    background-color: #f1fa8c;
  }

  .ansi-bright-blue-bg {
    background-color: #8be9fd;
  }

  .ansi-bright-magenta-bg {
    background-color: #bd93f9;
  }

  .ansi-bright-cyan-bg {
    background-color: #8be9fd;
  }

  .ansi-bright-white-bg {
    background-color: #f8f8f2;
  }
}
