=font-face($family, $path, $weight: normal, $style: normal)
  @font-face
    font-family: $family
    src: url('#{$path}.ttf') format('truetype')
    font-weight: $weight
    font-style: $style

+font-face('Roboto-Light', '../assets/fonts/Roboto-Light', 300, 'normal')
+font-face('Roboto-Regular', '../assets/fonts/Roboto-Regular', 400, 'normal')
+font-face('Roboto-Semibold', '../assets/fonts/Roboto-Medium', 600, 'normal')
+font-face('Roboto-Bold', '../assets/fonts/Roboto-Bold', 700, 'normal')
+font-face('Roboto-Black', '../assets/fonts/Roboto-Black', 900, 'normal')

$font-family-light: 'Roboto-Light', sans-serif
$font-family-regular: 'Roboto-Regular', sans-serif
$font-family-semibold: 'Roboto-Medium', sans-serif
$font-family-bold: 'Roboto-Bold', sans-serif
$font-family-black: 'Roboto-Black', sans-serif
