=font-face($family, $path, $weight: normal, $style: normal)
  @font-face
    font-family: $family
    src: url('#{$path}.ttf') format('truetype')
    font-weight: $weight
    font-style: $style

+font-face('Montserrat-Thin', '/fonts/Montserrat-Thin', 100, 'normal')
+font-face('Montserrat-Light', '/fonts/Montserrat-Light', 300, 'normal')
+font-face('Montserrat-Regular', '/fonts/Montserrat-Medium', 400, 'normal')
+font-face('Montserrat-SemiBold', '/fonts/Montserrat-SemiBold', 600, 'normal')
+font-face('Montserrat-Bold', '/fonts/Montserrat-Bold', 700, 'normal')
+font-face('Montserrat-Extrabold', '/fonts/Montserrat-ExtraBold', 900, 'normal')

$font-family-thin: 'Montserrat-Thin', sans-serif
$font-family-light: 'Montserrat-Light', sans-serif
$font-family-regular: 'Montserrat-Medium', sans-serif
$font-family-semibold: 'Montserrat-SemiBold', sans-serif
$font-family-bold: 'Montserrat-Bold', sans-serif
$font-family-extrabold: 'Montserrat-ExtraBold', sans-serif

+font-face('RobotoMono', '/fonts/RobotoMono-Light', 300, 'normal')
+font-face('RobotoMono', '/fonts/RobotoMono-Regular', 400, 'normal')
+font-face('RobotoMono', '/fonts/RobotoMono-Medium', 500, 'normal')
+font-face('RobotoMono', '/fonts/RobotoMono-Bold', 700, 'normal')

$font-family-roboto-mono: 'RobotoMono', monospace
