.image-name-input
  font-size: 22px
  padding: 10px
  display: inline-block
  margin-bottom: 10px
  border: 1px solid transparent
  outline: none
  width: 100%
  color: $color

  &:focus, &:active
    border: 1px solid $border

.images-buttons-container
  margin: 10px 0 0 0
  display: inline-block
  width: 100%

  .w300
    width: 300px
    float: right

.image-build-log
  background: $black
  font-family: $font-family-roboto-mono
  color: #f8f8f2
  font-size: 12px
