.image-name-input
  font-size: 16px
  padding: 10px 15px
  display: inline-block
  margin-bottom: 10px
  border: 1px solid $border
  outline: none
  width: 100%
  color: #CECFCF
  margin: 0 0 10px 0
  background: #212121

.images-buttons-container
  margin: 10px 0 0 0
  display: inline-block
  width: 100%

  .w300
    width: 300px
    float: right

.image-build-log
  background: $black
  font-family: $font-family-roboto-mono
  color: #f8f8f2
  font-size: 12px
  margin: 30px 0 0 0

.image-builder-box

  h1
    margin-bottom: 20px
    font-weight: $weight-semibold

  h2
    color: $black
    font-size: 15px
