.log-lines
  display: inline-block
  width: 100%
  margin: 10px 0 0
  padding: 0
  border-top: 1px solid $border
  border-bottom: 1px solid $border
  border-right: 1px solid $border

  .log-line
    display: flex
    align-items: center
    line-height: 1
    font-size: 13px
    height: 40px
    background: $white
    color: $color
    margin: 0
    border-left: 3px solid transparent

    span
      color: $color

    &.green
      border-color: $green

    &.red
      border-color: $red

    &.yellow
      border-color: $yellow

    .ansi-yellow-fg
      color: $yellow

    .ansi-green-fg
      color: $green

    .ansi-red-fg
      color: $red

    .time
      font-size: 12px
      text-align: right
      display: block
