.nav
  height: 70px
  background: $background
  box-shadow: 0 1px 0 0 $border

  .nav-item
    color: $white

    &.nav-logo
      &:hover
        path
          fill: $blue

    .nav-avatar
      display: block
      float: left
      width: 40px
      min-height: 40px
      border-radius: 50%
      border: 2px solid $border

    .nav-item-arrow
      display: block
      float: left
      margin-left: 10px

    &:hover
      color: $blue

      .nav-avatar
        border-color: $blue

      .nav-item-arrow
        path
          fill: $blue

  .exit-button
    height: 36px
    width: auto
    display: inline-block
    flex: none
    margin-top: 17px
    margin-left: 10px
    display: flex
    align-items: center
    justify-content: center
    font-family: $font-family-regular

  &.sub-nav
    background: $background-button

    .nav-center
      display: flex
      align-items: center

    .nav-right
      display: flex
      align-items: center

      .nav-item
        max-width: 150px

        &:hover
          color: $white
