.nav
  height: 100px
  background: $background
  box-shadow: 0 1px 0 0 $border

  .nav-item
    color: $white

    &.nav-logo
      &:hover
        path
          fill: $blue

    .nav-avatar
      display: block
      float: left
      width: 40px
      min-height: 40px
      border-radius: 50%
      border: 2px solid $border

    .nav-item-arrow
      display: block
      float: left
      margin-left: 10px

    &:hover
      color: $blue

      .nav-avatar
        border-color: $blue

      .nav-item-arrow
        path
          fill: $blue

  .exit-button
    width: auto
    display: inline-flex
    flex: none
    margin-top: 30px
    margin-left: 10px
    align-items: center
    justify-content: center
    font-family: $font-family-regular

  &.sub-nav
    background: $background-button
    border-bottom: none
    box-shadow: none

    .nav-left

      .nav-item
        h1
          font-size: 20px
        span
          margin-left: 20px
          color: $color-secondary

        &:hover
          color: $white

    .nav-center
      display: flex
      align-items: center

    .nav-right
      display: flex
      align-items: center

      .nav-item
        max-width: 50px

        img
          max-width: 20px
          margin-right: 0

        &:hover
          color: $white
