.tabs
  a
    color: $color
    &:hover
      color: $blue
      border-bottom-color: $blue

  li
    &.is-active
      a
        color: $blue
        border-bottom-color: $blue

  ul
    border-bottom-color: $white

form
  padding: 20px

  button[type="submit"]
    margin-top: 10px
