.repository-details
  border: 1px solid $divider
  border-radius: 4px
  background: $background-secondary
  padding: 20px
  display: flex
  align-items: center

  span
    font-size: 14px
    color: $white
    margin: 0 30px 0 0
    display: inline-flex
    align-items: center
    float: left

    img
      width: 16px
      height: 16px
      display: block
      float: left
      margin-right: 5px

    a
      color: $white

      &:hover
        text-decoration: underline
