.window-terminal-container
  position: relative
  display: block
  color: #ffffff
  margin: 0
  padding: 0
  height: 100%
  background: #000000
  height: 600px
  -webkit-font-smoothing: auto

  +mobile
    height: 400px

  iframe
    padding: 10px
