.window-terminal-container
  position: relative
  display: block
  color: $white
  margin: 20px 0
  font-family: monaco, monospace
  font-size: 12px
  padding: 10px
  height: 400px
  background: black
  border-radius: 4px
  box-shadow: 1px 2px 10px rgba($background, 0.7)
  border: 1px solid $divider

  &.large
    height: 700px
