<app-header></app-header>

<nav class="nav sub-nav">
  <div class="container">
    <div class="nav-left">
      <span class="nav-item">
        <h1>Team</h1>
      </span>
    </div>
    <div class="nav-center">

    </div>
    <div class="nav-right">
    </div>
  </div>
</nav>

<div class="container">
  <div class="columns">
    <div class="column is-12" *ngIf="user.admin">
      <div *ngIf="!addUser">
        <button type="button" class="button green float-right" name="btn-addUser" (click)="showAddUser()">
            <img src="images/icons/plus.svg">
            Add New User
          </button>
      </div>
      <div *ngIf="addUser">
        <div class="notification is-danger" *ngIf="error">
          <button class="delete" (click)="error = false"></button>
          Adding user failed.
        </div>
        <div class="notification is-success" *ngIf="success">
          <button class="delete" (click)="error = false"></button>
          User successfully added.
        </div>
        <form class="control-form" (ngSubmit)="addNewUser($event)" #addForm="ngForm">
          <div class="form-field">
            <label class="form-label">Email (Username)</label>
            <input class="form-input" type="text" placeholder="Email" name="email" required [(ngModel)]="userForm.email">
          </div>
          <div class="form-field">
            <label class="form-label">Full Name</label>
            <input class="form-input" type="text" placeholder="Full Name" name="fullname" required [(ngModel)]="userForm.fullname">
          </div>
          <div class="form-field">
            <label class="form-label">New Password</label>
            <input class="form-input" type="password" placeholder="New Password" name="password" required [(ngModel)]="userForm.password">
          </div>
          <div class="form-field">
            <label class="form-label">Repeat New Password</label>
            <input class="form-input" type="password" placeholder="Repeat New Password" name="repeat_password" required validateEqual="password" [(ngModel)]="userForm.confirmPassword">
          </div>
          <div class="form-field">
            <label class="form-label">Admin</label>
            <select class="form-input" name="admin" required [(ngModel)]="userForm.admin">
              <option value="0">No</option>
              <option value="1">Yes</option>
            </select>
          </div>
          <div class="form-field">
            <button type="submit" class="button green float-right" name="btn-saveNewUser" [disabled]="!addForm.form.valid" required>Add New User</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="columns">
    <div class="column is-12">
      <div class="content">
        <div *ngIf="loading">
          <img src="images/icons/flickr.svg" class="main-loader">
        </div>

        <div class="columns is-multiline" *ngIf="!loading">
          <div class="column is-12" *ngIf="!users || !users.length">
            <div class="notification is-info">
              No users found.
            </div>
          </div>

          <div class="column is-12" *ngIf="users && users.length">
            <div class="columns list-item list-item-slim" *ngFor="let user of users; let i = index;" (click)="goToUser(user.id)">
              <div class="column is-1">
                <img [src]="user.avatarUrl" class="avatar-img">
              </div>
              <div class="column is-2">
                <span class="bold">{{ user.fullname }}</span>
              </div>
              <div class="column is-5">
                <span>{{ user.email }}</span>
              </div>
              <div class="column is-3">
                {{ user.created_at | date:'medium' }}
              </div>
              <div class="column is-1">
                <button class="button">Edit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

