<div class="header-dropdown-container">
  <div class="hd-item bordered-bottom avatar-item align-center">
    <img [src]="authService.userInfo?.avatar" class="hd-avatar">
    <div class="user-info">
      <span class="name">{{ authService.userInfo?.fullname }}</span>
      <span class="email">{{ authService.userInfo?.email }}</span>
    </div>
  </div>
  <a class="hd-item" [routerLink]="['/settings/integrations']">
    <span>Settings & Integrations</span>
  </a>
  <a class="hd-item">
    <span>Administration</span>
  </a>
  <a class="hd-item">
    <span>Help & Support</span>
  </a>
  <a class="hd-item" [routerLink]="['/about']">
    <span>About</span>
  </a>
  <a class="hd-item logout-item" (click)="authService.logout()">
    <span>Logout</span>
  </a>
</div>
