<header class="subheader">
  <nav class="subheader-links">
    <a [routerLink]="['/dashboard']" routerLinkActive="is-active">Dashboard</a>
  </nav>
  <div class="container">
    <div class="subheader-container">
      <div class="subheader-left">
        <h1>Dashboard</h1>
        <h2>Abstruse CI Stats</h2>
      </div>
      <div class="subheader-right">
        <button type="button" class="button" appTooltip
          text="Pause / Resume all jobs in the queue except for ongoing jobs. All ongoing jobs continue to be carried out.">
          <i class="far fa-pause-circle"></i>
          <span>Pause Scheduler</span>
        </button>
        <!-- <button type="button" class="button">
          <i class="fas fa-play-circle"></i>
          <span>Resume Scheduler</span>
        </button> -->
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="columns is-multiline">
    <div class="column is-12" *ngIf="loading">
      <app-loader></app-loader>
    </div>
    <div class="column is-12" *ngIf="!loading">
      <div class="columns is-multiline">
        <div class="column is-3">
          <article class="card">
            <div class="card-bg">
              <i class="fas fa-list-alt"></i>
            </div>
            <div class="card-content">
              <span class="title">Queued Jobs</span>
              <span class="num">{{ data.queued }}</span>
              <span class="percent">
                <i class="fas fa-list-alt"></i>
                <span *ngIf="queuedPercent >= 80">High Usage</span>
                <span *ngIf="queuedPercent > 30 && queuedPercent < 80">Normal Usage</span>
                <span *ngIf="queuedPercent <= 30">Low Usage</span>
              </span>
            </div>
          </article>
        </div>
        <div class="column is-3">
          <article class="card">
            <div class="card-bg">
              <i class="fas fa-clipboard-list"></i>
            </div>
            <div class="card-content">
              <span class="title">Pending Jobs</span>
              <span class="num">{{ data.pending }} / {{ data.max }}</span>
              <span class="percent">
                <i class="fas fa-server"></i>
                <span *ngIf="pendingPercent >= 80">High Usage</span>
                <span *ngIf="pendingPercent > 30 && pendingPercent < 80">Normal Usage</span>
                <span *ngIf="pendingPercent <= 30">Low Usage</span>
              </span>
            </div>
          </article>
        </div>
        <div class="column is-3">
          <article class="card">
            <div class="card-bg">
              <i class="fas fa-microchip"></i>
            </div>
            <div class="card-content">
              <span class="title">CPU Usage</span>
              <span class="num">{{ data.cpu }}%</span>
              <span class="percent">
                <i class="fas fa-microchip"></i>
                <span *ngIf="data.cpu >= 80">High Usage</span>
                <span *ngIf="data.cpu > 30 && data.cpu < 80">Normal Usage</span>
                <span *ngIf="data.cpu <= 30">Low Usage</span>
              </span>
            </div>
          </article>
        </div>
        <div class="column is-3">
          <article class="card">
            <div class="card-bg">
              <i class="fas fa-memory"></i>
            </div>
            <div class="card-content">
              <span class="title">Memory Usage</span>
              <span class="num">{{ data.mem }}%</span>
              <span class="percent">
                <i class="fas fa-memory"></i>
                <span *ngIf="data.mem >= 80">High Usage</span>
                <span *ngIf="data.mem > 30 && data.mem < 80">Normal Usage</span>
                <span *ngIf="data.mem <= 30">Low Usage</span>
              </span>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="column is-12" *ngIf="!loading">
      <div class="columns">
        <div class="column is-5">
          <div class="section">
            <div class="section-rlchart">
              <h3 class="is-centered">CPU Usage</h3>
              <ngx-realtime-canvas-chart [options]="realtimeChartOptions" [data]="cpuRealtimeChartData">
              </ngx-realtime-canvas-chart>
            </div>
            <div class="section-rlchart">
              <h3 class="is-centered">Memory Usage</h3>
              <ngx-realtime-canvas-chart [options]="realtimeChartOptions" [data]="memRealtimeChartData">
              </ngx-realtime-canvas-chart>
            </div>
          </div>
        </div>
        <div class="column is-7">
          <div class="section">
            <div class="space-between">
              <h3>Builds History</h3>
              <div class="sub-links">
                <span class="sub-link" [class.is-active]="jobHistory === 'week'" (click)="jobsLastWeek()">Last 7
                  Days</span>
                <span class="sub-link" [class.is-active]="jobHistory === 'month'" (click)="jobsLastMonth()">Last
                  Month</span>
              </div>
            </div>
            <ngx-bar-chart [data]="barData" [options]="barChartoptions"
              *ngIf="!loadingJobs && barData && barData.length"></ngx-bar-chart>
            <div class="bar-chart-placeholder" *ngIf="loadingJobs || !barData || !barData.length">
              <app-loader *ngIf="loadingJobs"></app-loader>
              <span class="message" *ngIf="!loadingJobs && (!barData || !barData.length)">Not enough data to display
                chart.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
