<header class="subheader">
  <nav class="subheader-links">
    <a [routerLink]="['/dashboard']" routerLinkActive="is-active">Dashboard</a>
  </nav>
  <div class="container">
    <div class="subheader-container">
      <div class="subheader-left">
        <h1>Dashboard</h1>
        <h2>Abstruse CI Stats</h2>
      </div>
      <div class="subheader-right">
        <button type="button" class="button">
          <i class="far fa-pause-circle"></i>
          <span>Pause Scheduler</span>
        </button>
        <!-- <button type="button" class="button">
          <i class="fas fa-play-circle"></i>
          <span>Resume Scheduler</span>
        </button> -->
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="columns is-multiline">
    <div class="column is-12" *ngIf="loading">
      <app-loader></app-loader>
    </div>
    <div class="column is-12">
      <div class="columns is-multiline">
        <!-- <div class="column is-3" *ngFor="let card of cards">
          <article class="card">
            <div class="card-bg">
              <i [class]="card.icon"></i>
            </div>
            <div class="card-content">
              <span class="title">{{ card.title }}</span>
              <span class="num" *ngIf="card.type === 'currency'">{{ card.num | currency }}</span>
              <span class="num" *ngIf="card.type === 'number'">{{ card.num }}</span>
              <span class="percent">
                <span>{{ card.percent }}%</span>
              </span>
            </div>
          </article>
        </div>
      </div> -->
        <div class="column is-3">
          <article class="card">
            <div class="card-bg">
              <i class="fas fa-list-alt"></i>
            </div>
            <div class="card-content">
              <span class="title">Queued Jobs</span>
              <span class="num">{{ data.queued }}</span>
              <span class="percent">
                <i class="fas fa-list-alt"></i>
                <span *ngIf="queuedPercent >= 80">High Usage</span>
                <span *ngIf="queuedPercent > 30 && queuedPercent < 80">Normal Usage</span>
                <span *ngIf="queuedPercent <= 30">Low Usage</span>
              </span>
            </div>
          </article>
        </div>
        <div class="column is-3">
          <article class="card">
            <div class="card-bg">
              <i class="fas fa-clipboard-list"></i>
            </div>
            <div class="card-content">
              <span class="title">Pending Jobs</span>
              <span class="num">{{ data.pending }} / {{ data.max }}</span>
              <span class="percent">
                <i class="fas fa-server"></i>
                <span *ngIf="pendingPercent >= 80">High Usage</span>
                <span *ngIf="pendingPercent > 30 && pendingPercent < 80">Normal Usage</span>
                <span *ngIf="pendingPercent <= 30">Low Usage</span>
              </span>
            </div>
          </article>
        </div>
        <div class="column is-3">
          <article class="card">
            <div class="card-bg">
              <i class="fas fa-microchip"></i>
            </div>
            <div class="card-content">
              <span class="title">CPU Usage</span>
              <span class="num">{{ data.cpu }}%</span>
              <span class="percent">
                <i class="fas fa-microchip"></i>
                <span *ngIf="data.cpu >= 80">High Usage</span>
                <span *ngIf="data.cpu > 30 && data.cpu < 80">Normal Usage</span>
                <span *ngIf="data.cpu <= 30">Low Usage</span>
              </span>
            </div>
          </article>
        </div>
        <div class="column is-3">
          <article class="card">
            <div class="card-bg">
              <i class="fas fa-memory"></i>
            </div>
            <div class="card-content">
              <span class="title">Memory Usage</span>
              <span class="num">{{ data.mem }}%</span>
              <span class="percent">
                <i class="fas fa-memory"></i>
                <span *ngIf="data.mem >= 80">High Usage</span>
                <span *ngIf="data.mem > 30 && data.mem < 80">Normal Usage</span>
                <span *ngIf="data.mem <= 30">Low Usage</span>
              </span>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="column is-12">
      <div class="columns">
        <div class="column is-5">
          <div class="section">
            <!-- <ngx-line-chart [data]="lineChartData" [options]="lineChartOptions"></ngx-line-chart> -->
            <div class="section-rlchart">
              <h3 class="is-centered">CPU Usage</h3>
              <ngx-realtime-canvas-chart [options]="realtimeChartOptions" [data]="cpuRealtimeChartData">
              </ngx-realtime-canvas-chart>
            </div>
            <div class="section-rlchart">
              <h3 class="is-centered">Memory Usage</h3>
              <ngx-realtime-canvas-chart [options]="realtimeChartOptions" [data]="memRealtimeChartData">
              </ngx-realtime-canvas-chart>
            </div>
          </div>
        </div>
        <div class="column is-7">
          <div class="section">
            <h3>Builds History</h3>
            <ngx-bar-chart [data]="barChartData" [options]="barChartoptions"></ngx-bar-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
