<div class="columns is-multiline">
  <div class="column is-12">
    <div class="main-heading">
      <div class="main-heading-left">
        <h1>Builds</h1>
        <h2>{{ repo?.namespace }} / {{ repo?.name }}</h2>
      </div>
      <div class="main-heading-right">
        <button type="button" class="button" (click)="triggerBuild()" [disabled]="trigger">
          <i class="fas fa-hammer"></i>
          <span>Trigger Build</span>
        </button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
