<div class="columns is-multiline">
  <div class="column is-12">
    <app-builds-repo-info [repo]="job?.build?.repository"></app-builds-repo-info>
  </div>
  <div class="column is-12" *ngIf="!job">
    <app-loader></app-loader>
  </div>
  <div class="column is-12" *ngIf="job">
    <app-builds-info-container [job]="job"></app-builds-info-container>
  </div>
  <div class="column is-12" *ngIf="job">
    <div class="console-output">
      <app-terminal [data]="job?.log"></app-terminal>
    </div>
  </div>
</div>
