<div class="columns is-hidden-mobile is-desktop">
  <div class="column is-2">
    <span class="avatar-img-container is-hidden-mobile">
      <img *ngIf="authorAvatar" [src]="authorAvatar" class="avatar-img">
      <img *ngIf="authorAvatar && committerAvatar && authorAvatar !== committerAvatar" [src]="committerAvatar" class="avatar-small">
    </span>
    <span *ngIf="!build?.pr && !tag" class="bold larger">#{{ build?.id }}</span>
    <span *ngIf="build?.pr && !tag" class="bold larger">PR #{{ build?.pr }}</span>
    <span *ngIf="tag" class="bold larger">{{ tag }}</span>
  </div>
  <div class="column is-2">
    <div class="repo-branch-column">
      <span class="larger bold" *ngIf="build?.repository?.full_name">{{ build?.repository?.full_name }}</span>
      <span class="larger bold" *ngIf="!build?.repository?.full_name">{{ build?.data?.repository?.full_name }}</span>

      <span *ngIf="build?.branch" class="span-branch is-hidden-mobile">
        <img src="images/icons/git-branch.svg">
        {{ build?.branch }}
      </span>
    </div>
  </div>
  <div class="column is-4 commit-column">
    <span class="icon">
      <img src="images/icons/git-commit.svg">
    </span>
    <span class="bold" *ngIf="build?.data?.pull_request?.head?.sha">{{ build?.data?.pull_request.head.sha }}</span>
    <span class="bold" *ngIf="!build?.data?.pull_request?.head?.sha && build?.data?.after">{{ build?.data?.after }}</span>
    <span class="bold" *ngIf="!build?.data?.pull_request?.head?.sha && !build?.data?.after && build?.data?.sha">{{ build?.data?.sha }}</span>
    <span class="bold" *ngIf="!build?.data?.pull_request?.head?.sha && !build?.data?.after && !build?.data?.sha && build?.data?.object_attributes?.last_commit?.id">{{ build?.data?.object_attributes?.last_commit?.id }}</span>

    <span>{{ commitMessage }}</span>

    <span class="smaller">{{ buildCreated }} ago</span>
  </div>
  <div class="column is-2 justify-center">
    <span *ngIf="name && !tag">{{ name }}</span>
    <span *ngIf="!build?.data?.user_name && !build?.data?.commits && build?.data?.actor?.display_name && !tag">{{ build?.data?.actor?.display_name }}</span>
    <span *ngIf="!build?.data?.user_name && !build?.data?.commits && !build?.data?.actor?.display_name && !build?.data?.sender?.login && build?.data?.user?.name && !tag">{{ build?.data?.user?.name }}</span>
    <span *ngIf="tag">{{ build?.data?.head_commit?.comitter?.name }}</span>
  </div>
  <div class="column is-1">
    <span class="build-time" *ngIf="build?.status === 'running'">{{ currentTime - build?.startTime | toTime }} </span>
    <span class="build-time" *ngIf="build?.status !== 'running'">{{ build?.maxTime | toTime }}</span>
  </div>
  <div class="column is-1 justify-end" *ngIf="build?.userId && build?.hasPermission">
    <span class="icon circle restart-build" (click)="restartBuild($event, build.id)" [class.disabled]="processingRequest">
      <i class="ionicon ion-refresh"></i>
    </span>
    <span class="icon circle stop-build" (click)="stopBuild($event, build.id)" [class.disabled]="processingRequest" [class.is-hidden]="build.status === 'success' || build.status === 'failed'">
      <i class="ionicon ion-stop"></i>
    </span>
  </div>
</div>

<div class="columns is-mobile is-hidden-tablet mobile-build-item">
  <div class="column is-2">
    <img *ngIf="authorAvatar" [src]="authorAvatar" class="mobile-avatar-img">
  </div>
  <div class="column is-8">
    <div class="mobile-build-item-body">
      <span class="name" *ngIf="name && !tag">{{ name }}</span>
      <span class="name" *ngIf="!build?.data?.user_name && !build?.data?.commits && build?.data?.actor?.display_name && !tag">{{ build?.data?.actor?.display_name }}</span>
      <span class="name" *ngIf="!build?.data?.user_name && !build?.data?.commits && !build?.data?.actor?.display_name && !build?.data?.sender?.login && build?.data?.user?.name && !tag">{{ build?.data?.user?.name }}</span>
      <span class="name" *ngIf="tag">{{ build?.data?.head_commit?.comitter?.name }}</span>

      <span class="bold" *ngIf="build?.repository?.full_name">{{ build?.repository?.full_name }}</span>
      <span class="bold" *ngIf="!build?.repository?.full_name">{{ build?.data?.repository?.full_name }}</span>

      <span class="commit-message">{{ commitMessage }}</span>
    </div>
  </div>
  <div class="column is-2">
    <span class="build-time" *ngIf="build?.status === 'running'">{{ currentTime - build?.startTime | toTime }} </span>
    <span class="build-time" *ngIf="build?.status !== 'running'">{{ build?.maxTime | toTime }}</span>

    <span class="icon circle restart-build" (click)="restartBuild($event, build.id)" [class.disabled]="processingRequest">
      <i class="ionicon ion-refresh"></i>
    </span>
    <span class="icon circle stop-build" (click)="stopBuild($event, build.id)" [class.disabled]="processingRequest" [class.is-hidden]="build.status === 'success' || build.status === 'failed'">
      <i class="ionicon ion-stop"></i>
    </span>
  </div>
</div>
