<div class="modal-header">
  <div class="header-title">
    <h1>Mount Directories</h1>
    <h2></h2>
  </div>
  <span class="icon close-icon is-action" (click)="activeModal.dismiss(false)" [class.events-none]="saving">
    <i class="fas fa-times"></i>
  </span>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="notification is-red" *ngIf="error">
      <i class="far fa-comment"></i>
      <p>Error: {{ error }}</p>
    </div>
    <div class="field">
      <label class="label">Host</label>
      <input type="text" name="host" class="input" placeholder="Host" formControlName="host" autocomplete="off" />
      <span class="form-helper">Path on the host. </span>
    </div>
    <div class="field">
      <label class="label">Container</label>
      <input type="text" name="container" class="input" placeholder="Container" formControlName="container" autocomplete="off" />
      <span class="form-helper">Path inside of the container. </span>
    </div>
  </div>
  <div class="modal-footer space-between">
    <div class="align-center justify-start">
      <button type="button" class="button is-red" *ngIf="mount.id" [disabled]="deleting" (click)="delete()">
        <span *ngIf="!deleting">Delete Mount Directory</span>
        <span *ngIf="deleting">Deleting...</span>
      </button>
    </div>
    <div class="align-center">
      <button type="button" class="button" (click)="activeModal.close()" [disabled]="saving">
        Cancel
      </button>
      <button type="submit" class="button is-green" [disabled]="saving">
        <span *ngIf="!saving">Save</span>
        <span *ngIf="saving">Saving...</span>
      </button>
    </div>
  </div>
</form>
