<div class="modal-header">
  <h1>Worker</h1>
  <h2>{{ worker?.id }} - {{ worker?.addr }}</h2>
  <span class="icon close-icon is-action" (click)="activeModal.dismiss('Cross click')">
    <i class="fas fa-times"></i>
  </span>
</div>
<div class="modal-body">
  <div class="columns is-multiline">
    <div class="column is-12">
      <h3>CPU Usage</h3>
      <div class="modal-realtime-chart">
        <app-realtime-chart [data]="worker?.cpu" [options]="realtimeCpuChartOptions"></app-realtime-chart>
      </div>
    </div>
    <div class="column is-12">
      <h3>Memory Usage</h3>
      <div class="modal-realtime-chart">
        <app-realtime-chart [data]="worker?.memory" [options]="realtimeMemoryChartOptions"></app-realtime-chart>
      </div>
    </div>
  </div>
  <!-- <h3>Storage Usage</h3>
  <div class="modal-realtime-chart">
    <apprealtime-chart [data]="storage" [options]="realtimeStorageChartOptions"></apprealtime-chart>
  </div> -->
</div>
<div class="modal-footer justify-end">
  <button type="button" class="button" (click)="activeModal.close('Close click')">Close</button>
</div>
