<header class="subheader">
  <nav class="subheader-links">
    <a [routerLink]="['/images']" routerLinkActive="is-active">Docker Images</a>
  </nav>
  <div class="container">
    <div class="subheader-container">
      <div class="subheader-left">
        <h1>Images</h1>
        <h2>Docker Images</h2>
      </div>
      <div class="subheader-right">
        <button type="button" class="button" [class.events-none]="syncing" (click)="sync()">
          <i class="fas fa-sync" *ngIf="!syncing"></i>
          <span *ngIf="!syncing">Sync Images</span>
          <app-loader class="is-small" *ngIf="syncing"></app-loader>
          <span *ngIf="syncing">Syncing Images...</span>
        </button>
        <button type="button" class="button is-green">
          <i class="fas fa-plus"></i>
          <span>Create New Image</span>
        </button>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="columns is-multiline">
    <div class="column is-12" *ngIf="loading">
      <app-loader></app-loader>
    </div>

    <div class="column is-6 is-offset-3" *ngIf="!loading && !images.length">
      <div class="notification">
        <i class="fab fa-docker"></i>
        <p class="has-text-centered">
          There are no Docker images found. Try synchronize with registry or create new image.
        </p>
      </div>
    </div>

    <div class="column is-12" *ngIf="!loading && images.length">
      <div class="list-items">
        <app-image-list-item [image]="image" *ngFor="let image of images"></app-image-list-item>
      </div>
    </div>
  </div>
</div>
