<div class="list-item is-bordered" [routerLink]="['/builds', repo?.id]">
  <div class="columns is-marginless is-paddingless">
    <div class="column is-4 data-column">
      <div class="info-text has-text-left">
        <i class="octicon octicon-repo"></i>
        <span class="repo-name">{{ repo?.full_name }}</span>
      </div>
    </div>
    <div class="column is-2 data-column">
      <div class="data-with-label">
        <span class="data-label">Public</span>
        <span class="data-info">
          <i class="far fa-eye"></i>
        </span>
      </div>
    </div>
    <div class="column is-2 data-column">
      <div class="data-with-label">
        <span class="data-label justify-center">Provider</span>
        <div class="icon-item justify-center">
          <i class="octicon octicon-mark-github" *ngIf="repo?.provider === 'github'"></i>
          <i class="fab fa-gitlab" *ngIf="repo?.provider === 'gitlab'"></i>
          <i class="fab fa-bitbucket" *ngIf="repo?.provider === 'bitbucket'"></i>
          <img src="/assets/images/icons/gitea.svg" *ngIf="repo?.provider === 'gitea'">
          <img src="/assets/images/icons/gogs.svg" *ngIf="repo?.provider === 'gogs'">
          <i class="fas fa-question-circle" *ngIf="!repo?.provider"></i>
        </div>
      </div>
    </div>
    <div class="column is-2 data-column">
      <div class="data-with-label">
        <span class="data-label">Default Branch</span>
        <div class="info-text">
          <span>{{ repo?.default_branch }}</span>
        </div>
      </div>
    </div>
    <div class="column is-2 data-column">
      <div class="data-with-label">
        <span class="data-label">Status</span>
        <span class="status-item is-medium is-green">
          <div class="status-title">
            <i class="fas fa-check"></i>
            <span>Passing</span>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>
