<div class="table-item list-item-type" [routerLink]="['/repositories', repo?.id]">
  <div class="columns">
    <div class="column is-3">
      <div class="justify-center align-center plr10">
        <div class="table-data is-number">
          <i class="octicon octicon-code"></i>
        </div>
        <div class="table-data">
          <span class="data-text has-text-left is-title">{{ repo?.name }}</span>
        </div>
      </div>
    </div>
    <div class="column is-1">
      <div class="table-data justify-center">
        <span class="data-label">Commit</span>
        <span class="data-text justify-center">
          <i class="octicon octicon-git-commit inline-icon"></i>
          <span>21ce57f</span>
        </span>
      </div>
    </div>
    <div class="column is-1">
      <div class="table-data justify-center">
        <span class="data-label">Public</span>
        <span class="data-text justify-center">
          <i class="fas fa-check"></i>
          <!-- <i class="fas fa-minus-square"></i> -->
        </span>
      </div>
    </div>
    <div class="column is-1">
      <div class="table-data justify-center">
        <span class="data-label is-small">Provider</span>
        <div class="icon-item">
          <i class="octicon octicon-mark-github" *ngIf="repo?.provider === 'github'"></i>
          <i class="fab fa-gitlab" *ngIf="repo?.provider === 'gitlab'"></i>
          <i class="fab fa-bitbucket" *ngIf="repo?.provider === 'bitbucket'"></i>
          <img src="/assets/images/icons/gitea.svg" *ngIf="repo?.provider === 'gitea'">
          <img src="/assets/images/icons/gogs.svg" *ngIf="repo?.provider === 'gogs'">
          <i class="fas fa-question-circle" *ngIf="!repo?.provider"></i>
        </div>
      </div>
    </div>
    <div class="column is-2">
      <div class="table-data justify-center">
        <span class="data-label">Finished</span>
        <div class="data-text justify-center">
          <i class="octicon octicon-clock inline-icon"></i>
          <span>1 month ago</span>
        </div>
      </div>
    </div>
    <div class="column is-2">
      <div class="table-data">
        <span class="data-label">Default Branch</span>
        <div class="data-text justify-center">
          <i class="octicon octicon-git-branch inline-icon"></i>
          <span>{{ repo?.default_branch }}</span>
        </div>
      </div>
    </div>
    <div class="column is-1">
      <!-- <div class="table-data">
        <div class="status-item is-medium" [ngClass]="{
              'is-grey': repo?.status === 'queued',
              'is-green': repo?.status === 'passing',
              'is-red': repo?.status === 'failing',
              'is-yellow': repo?.status === 'running' }">
          <div class="status-title">
            <i class="fas fa-check" *ngIf="repo?.status === 'passing'"></i>
            <i class="fas fa-times" *ngIf="repo?.status === 'failing'"></i>
            <i class="fas fa-clock" *ngIf="repo?.status === 'queued'"></i>
            <i class="fas fa-hammer" *ngIf="repo?.status === 'running'"></i>
            <span>{{ repo?.getStatus() }}</span>
          </div>
        </div>
      </div> -->
    </div>
    <div class="column is-1 justify-center">
      <button type="button" class="button is-small">
        <i class="fas fa-chevron-down mr0"></i>
      </button>
    </div>
  </div>
</div>
