<header class="header">
  <div class="container">
    <nav class="header-container">
      <div class="header-left">
        <a class="header-item logo" [routerLink]="['/']" [queryParams]="{ type: 'latest' }">
          <img src="/assets/images/abstruse.svg" class="logo-text" />
        </a>
        <a class="header-item" [routerLink]="['/repos']" routerLinkActive="is-active">
          <span>Repositories</span>
        </a>
        <a class="header-item" [routerLink]="['/dashboard']" routerLinkActive="is-active">
          <span>Dashboard</span>
        </a>
        <a class="header-item" [routerLink]="['/teams']" routerLinkActive="is-active">
          <span>Teams</span>
        </a>
        <a class="header-item" [routerLink]="['/workers']" routerLinkActive="is-active">
          <span>Workers</span>
        </a>
      </div>
      <div class="header-right">
        <div class="header-item">
          <div class="user-item" (click)="toggleDropdown()">
            <div class="avatar-container">
              <img [src]="auth.userData?.avatar" class="avatar" />
              <span class="connection-indicator is-green" *ngIf="onlineStatus === 'online'"></span>
              <span class="connection-indicator is-red" *ngIf="onlineStatus === 'closed'"></span>
              <span
                class="connection-indicator is-yellow"
                *ngIf="onlineStatus === 'connecting'"
              ></span>
            </div>
            <div class="user-info">
              <span class="name">{{ auth.userData?.name }}</span>
              <span class="role">{{ auth.userData?.role }}</span>
            </div>
            <i class="fas fa-caret-down icon-down"></i>
          </div>

          <div class="header-dropdown-container" [hidden]="!dropdownOpened">
            <div class="hd-links">
              <a class="hd-item" [routerLink]="['/dashboard']">
                <span>Dashboard</span>
              </a>
              <a class="hd-item" [routerLink]="['/workers']">
                <span>Worker Nodes</span>
              </a>
              <a class="hd-item" [routerLink]="['/teams']">
                <span>Teams</span>
              </a>
              <a class="hd-item" [routerLink]="['/providers']">
                <span>Providers</span>
              </a>
              <a class="hd-item">
                <span>Help & Support</span>
              </a>
              <a class="hd-item" [routerLink]="['/system']">
                <span>System Information</span>
              </a>
            </div>
            <div class="hd-links gray-bg">
              <a class="hd-item" [routerLink]="['/profile']">
                <span>Profile</span>
              </a>
              <a class="hd-item" (click)="logout()">
                <span>Logout</span>
              </a>
              <div class="hd-item events-none" *ngIf="onlineStatus === 'online'">
                <span class="connection-indicator is-green"></span>
                <span>Connection Online</span>
              </div>
              <div class="hd-item events-none" *ngIf="onlineStatus === 'closed'">
                <span class="connection-indicator is-red"></span>
                <span>Connection Offline</span>
              </div>
              <div class="hd-item events-none" *ngIf="onlineStatus === 'connecting'">
                <span class="connection-indicator is-yellow"></span>
                <span>Connecting</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
