<app-header></app-header>

<div class="container" *ngIf="loading">
  <img src="images/icons/flickr.svg" class="main-loader">
</div>

<nav class="nav sub-nav" *ngIf="!loading">
  <div class="container">
    <div class="nav-left">
      <span class="nav-item">
        <h1>{{ user.fullname }}</h1>
      </span>
    </div>
  </div>
</nav>

<div class="container">
  <div class="columns">
    <div class="column is-12" *ngIf="!loading">
      <div class="columns is-multiline">
        <div class="column is-4">
            <figure class="image profile-image">
              <img [src]="avatarUrl">
            </figure>
        </div>
        <div class="column is-8">
          <div class="settings-container">
            <h2>{{ user.fullname }}</h2>
            <div class="form-field">
              <label class="form-label">Email (Username)</label>
              <input class="form-input" type="text" placeholder="Email" name="email" required readonly [(ngModel)]="user.email">
            </div>
            <div class="form-field">
              <label class="form-label">Full Name</label>
              <input class="form-input" type="text" placeholder="Full Name" name="fullname" required [(ngModel)]="user.fullname">
            </div>
          </div>

          <div class="settings-container" *ngIf="repositories && repositories.length">
            <h2>Repositories</h2>
            <div class="form-field">

                <div class="column is-12">
                  <div class="columns list-item list-item-slim" *ngFor="let repo of repositories; let i = index;">
                    <div class="column is-3" (click)="gotoRepository($event, repo.id)">
                      <span class="icon">
                        <img src="images/icons/git-repository.svg">
                      </span>
                      <span class="bold">{{ repo.full_name }}</span>
                    </div>
                    <div class="column" [ngClass]="{ 'is-4': loggedUser.admin, 'is-5': !loggedUser.admin }">
                      <span class="icon">
                        <img src="images/icons/github-white.svg">
                      </span>
                      <span>{{ repo.html_url }}</span>
                    </div>
                    <div class="column is-2">
                      <span class="icon">
                        <img src="images/icons/git-branch.svg">
                      </span>
                      <span>{{ repo.default_branch }}</span>
                    </div>
                    <div class="column is-2 justify-center">
                      <span *ngIf="repo.status_badge" [innerHTML]="repo.status_badge | safeHtml" class="status-badge-repositories"></span>
                    </div>
                    <div class="column is-1" *ngIf="loggedUser.admin" (click)="updateRepositoryPermissions(user.id, repo.id, 0)">
                      <img src="images/icons/remove.svg" style="width:24px;">
                    </div>
                  </div>
                </div>

            </div>
          </div>

          <div class="settings-container" *ngIf="loggedUser.admin && restrictedRepositories && restrictedRepositories.length">
            <h2>Restricted Repositories</h2>
            <div class="form-field">
                <div class="column is-12">
                    <div class="columns list-item list-item-slim" *ngFor="let repo of restrictedRepositories; let i = index;">
                      <div class="column is-3" (click)="gotoRepository($event, repo.id)">
                        <span class="icon">
                          <img src="images/icons/git-repository.svg">
                        </span>
                        <span class="bold">{{ repo.full_name }}</span>
                      </div>
                      <div class="column is-4">
                        <span class="icon">
                          <img src="images/icons/github-white.svg">
                        </span>
                        <span>{{ repo.html_url }}</span>
                      </div>
                      <div class="column is-2">
                        <span class="icon">
                          <img src="images/icons/git-branch.svg">
                        </span>
                        <span>{{ repo.default_branch }}</span>
                      </div>
                      <div class="column is-2 justify-center">
                        <span *ngIf="repo.status_badge" [innerHTML]="repo.status_badge | safeHtml" class="status-badge-repositories"></span>
                      </div>
                      <div class="column is-1" (click)="updateRepositoryPermissions(user.id, repo.id, 1)">
                        <img src="images/icons/add.svg" style="width:20px;">
                      </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
