<header class="nav">
  <div class="nav-left">
    <a class="nav-item">AbstruseCI</a>
  </div>
  <div class="nav-center">
    <div class="group-buttons">
      <button class="group-button">All Builds</button>
      <button class="group-button is-active">All Repositories</button>
      <button class="group-button">My Builds</button>
    </div>
  </div>
  <div class="nav-right">
    <div class="nav-item">
      <input type="text" class="form-input nav-search" placeholder="Search ...">
    </div>
  </div>
</header>

<div class="container">
  <div class="columns">
    <div class="column is-10 is-offset-1">
      <div class="content">
        <div class="columns is-multiline">
          <div class="column is-12">
            <h1>Build History</h1>
          </div>
          <div class="column is-12">
            <div class="columns list-header">
              <div class="column is-4">Commit</div>
              <div class="column is-2">Commited By</div>
              <div class="column is-2">Time Running</div>
              <div class="column is-2">Status</div>
              <div class="column is-2"></div>
            </div>
            <div class="columns list-item">
              <div class="column is-4 commit-column">
                <span class="bold">3f534a</span>
                <span>chore(): initial commit</span>
              </div>
              <div class="column is-2">
                <span>Jan Kuri</span>
              </div>
              <div class="column is-2">
                0:32
              </div>
              <div class="column is-2">
                <span class="status-circle yellow"></span>
                <span>Running</span>
              </div>
              <div class="column is-2"></div>
            </div>
            <div class="columns list-item">
              <div class="column is-4 commit-column">
                <span class="bold">3f534a</span>
                <span>chore(): initial commit</span>
              </div>
              <div class="column is-2">
                <span>Irman Abdić</span>
              </div>
              <div class="column is-2">
                5:12
              </div>
              <div class="column is-2">
                <span class="status-circle green"></span>
                <span>Passing</span>
              </div>
              <div class="column is-2"></div>
            </div>
            <div class="columns list-item">
              <div class="column is-4 commit-column">
                <span class="bold">3f534a</span>
                <span>chore(): initial commit</span>
              </div>
              <div class="column is-2">
                <span>Jan Kuri</span>
              </div>
              <div class="column is-2">
                3:12
              </div>
              <div class="column is-2">
                <span class="status-circle red"></span>
                <span>Failing</span>
              </div>
              <div class="column is-2"></div>
            </div>
            <div class="columns list-item">
              <div class="column is-4 commit-column">
                <span class="bold">3f534a</span>
                <span>chore(): initial commit</span>
              </div>
              <div class="column is-2">
                <span>Jan Kuri</span>
              </div>
              <div class="column is-2">
                0:00
              </div>
              <div class="column is-2">
                <span class="status-circle"></span>
                <span>In Queue</span>
              </div>
              <div class="column is-2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
