/build
pb/api.pb.go
server/ui
worker/data
.DS_Store
tmp/
configs/testing/**/*.pem
configs/testing/**/*.log
configs/testing/**/*/indexers/
configs/testing/**/*/log/
configs/testing/**/*/queues/
testdata/
