/build/
/server/ui/
/worker/data
/server/cmd/wire_gen.go
/worker/cmd/wire_gen.go
/pb/api.pb.go
.DS_Store
tmp/
configs/testing/**/*.pem
configs/testing/**/*.log
configs/testing/**/*/indexers/
configs/testing/**/*/log/
configs/testing/**/*/queues/
configs/testing/**/*/sessions/
testdata/
