<div class="columns is-multiline">
  <div class="column is-12">
    <div class="main-heading">
      <div class="main-heading-left">
        <h1>Settings</h1>
        <h2>User Settings</h2>
      </div>
      <div class="main-heading-right"></div>
    </div>
  </div>

  <div class="column is-12 justify-center" *ngIf="fetching">
    <app-spinner class="is-large"></app-spinner>
  </div>

  <div class="column is-12 justify-center">
    <div class="field">
      <app-checkbox name="value" [(ngModel)]="value" label="Enabled"></app-checkbox>
    </div>
  </div>
</div>
