<app-header></app-header>

<div class="container" *ngIf="loading">
  <img src="images/icons/flickr.svg" class="main-loader">
</div>

<div class="container" [class.hidden]="loading">
  <div class="columns">
    <div class="column is-12">
      <div class="content">
        <div class="columns is-multiline">
          <div class="column is-12" *ngIf="job">
            <div class="build-top-container" [ngClass]="{ green: job?.status === 'success', yellow: job?.status === 'running', red: job?.status === 'failed' }">
              <div class="build-top-content">
                <div class="columns is-multiline">
                  <div class="column is-7">
                    <h1 class="bold">
                      <span><a [routerLink]="['/repo', job?.build?.repository?.id]">{{ job?.build?.head_full_name }}</a></span>
                      <span class="build-icon">
                        <img src="images/icons/clock.svg" *ngIf="job?.status === 'queued'">
                        <img src="images/icons/flickr.svg" *ngIf="job?.status === 'running'">
                        <img src="images/icons/check-true.svg" *ngIf="job?.status === 'success'">
                        <img src="images/icons/check-false.svg" *ngIf="job?.status === 'failed'">
                      </span>
                    </h1>
                  </div>
                  <div class="column is-5 justify-end right-buttons-top">
                    <button class="button is-fullwidth" name="btn-restart-ssh" type="button" (click)="restartJobWithSSH($event)" [disabled]="processing">
                      <div class="centered">
                        <span class="icon">
                          <img src="images/icons/restart.svg">
                        </span>
                        <span>Restart (enable SSH)</span>
                      </div>
                    </button>
                    <button class="button is-fullwidth" name="btn-restart" type="button" (click)="restartJob($event)" [disabled]="processing">
                      <div class="centered">
                        <span class="icon">
                          <img src="images/icons/restart.svg">
                        </span>
                        <span>Restart</span>
                      </div>
                    </button>
                    <button class="button is-fullwidth" name="btn-stop" type="button" (click)="stopJob($event)" [class.is-hidden]="job.status !== 'running'" [disabled]="processing">
                      <div class="centered">
                        <span class="icon">
                          <img src="images/icons/stop.svg">
                        </span>
                        <span>Stop</span>
                      </div>
                    </button>
                  </div>

                  <hr/>

                  <div class="column is-3">
                    <h2>{{ job?.build?.message }}</h2>
                  </div>
                  <div class="column is-3">
                    <p>
                      <span class="icon">
                        <img src="images/icons/git-commit.svg">
                      </span>
                      <span *ngIf="job?.build?.head_sha">{{ job?.build?.head_sha.slice(0, 7) }}</span>
                      <span *ngIf="!job?.build?.head_sha">{{ job?.build?.sha.slice(0, 7) }}</span>
                    </p>
                  </div>
                  <div class="column is-4">
                    <p>
                      <span class="icon">
                        <img [src]="job?.build?.head_user_avatar_url" class="avatar-img">
                      </span>
                      <span>{{ job?.build?.author }} commited {{ timeWords }} ago</span>
                    </p>
                  </div>
                  <div class="column is-2">
                    <p class="total-time">
                      <span class="icon">
                        <img src="images/icons/clock.svg">
                      </span>
                      <span>{{ job?.time }}</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-12" *ngIf="sshd">
            <div class="ssh-container">
              <span class="icon">
                <img src="images/icons/ssh.svg">
              </span>
              <span>SSH Daemon is enabled in this container.</span>
              <code>ssh {{ sshd.split(':')[0] }} -p {{ sshd.split(':')[1] }} -l abstruse</code>
              <code>password: abstruse</code>
            </div>
          </div>
          <div class="column is-12">
            <app-terminal [data]="terminalInput" (outputData)="terminalOutput($event)" [options]="terminalOptions"></app-terminal>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
