<app-header></app-header>

<div class="container">
  <div class="columns">
    <div class="column is-12">
      <div class="content">
        <div class="columns is-multiline">
          <div class="column is-12" *ngIf="job">
            <div class="build-top-container" [ngClass]="{ green: job.status === 'success', yellow: job.status === 'running', red: job.status === 'failed' }">
              <div class="build-top-content">
                <div class="columns">
                  <div class="column is-1">
                    <span class="build-icon">
                      <img src="images/icons/hourglass.svg" *ngIf="job.status === 'queued'">
                      <img src="images/icons/flickr.svg" *ngIf="job.status === 'running'">
                      <img src="images/icons/check-true.svg" *ngIf="job.status === 'success'">
                      <img src="images/icons/check-false.svg" *ngIf="job.status === 'failed'">
                    </span>
                  </div>
                  <div class="column is-9">
                    <!--<h1 class="bold">{{ build.repository.url }}</h1>
                    <h2>{{ build.commit_message }}</h2>-->
                  </div>
                  <div class="column is-2">
                    <button class="button is-fullwidth" type="button">
                      Restart Job
                    </button>
                  </div>
                </div>
                <div class="columns">
                  <div class="column is-1"></div>
                  <div class="column is-9">
                    <!--<p>{{ build.commit_hash }}</p>-->
                  </div>
                  <div class="column is-2">
                    <span class="total-time">
                      <span class="icon">
                        <img src="images/icons/hourglass.svg">
                      </span>
                      {{ job.time }}
                    </span>
                  </div>
                </div>
                <div class="columns">
                  <div class="column is-1"></div>
                  <div class="column is-11">
                    <!--<p>{{ build.commit_author }} authored and commited {{ timeWords }} ago.</p>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-12">
            <app-terminal [data]="terminalInput" (outputData)="terminalOutput($event)" [options]="terminalOptions"></app-terminal>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
