<div class="columns is-multiline">
  <div class="column is-12">
    <h2>Settings</h2>
    <hr />
  </div>

  <div class="column is-12">
    <div class="columns is-multiline">
      <div class="column is-12">
        <div class="box">
          <h2>Integrations</h2>
          <hr />

          <div class="columns is-multiline">
            <div class="column is-12 mb10">
              <div class="space-between align-center">
                <span>Git repository provider integrations.</span>
                <button type="button" class="button is-green" (click)="integration.openIntegrationDialog()">
                  <i class="fa fa-plus"></i>
                  <span>Add Integration</span>
                </button>
              </div>
            </div>

            <div class="column is-12 mb10">
              <div class="message is-yellow" *ngIf="!integrations?.length">
                <p>
                  <i class="fa fa-info-circle"></i>
                  No existing integrations found.
                </p>
              </div>

              <div class="integrations" *ngIf="integrations?.length">
                <app-settings-integration-item [data]="i" (updated)="integrationsUpdated($event)" *ngFor="let i of integrations"></app-settings-integration-item>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<app-settings-integration-dialog *ngIf="integration.integrationDialogOpened"></app-settings-integration-dialog>
