<div class="columns">
  <div class="column is-6 is-offset-3" *ngIf="loading">
    <app-loader></app-loader>
  </div>
  <div class="column is-6 is-offset-3" [hidden]="!error">
    <div class="notification is-red">
      <i class="far fa-comment-dots"></i>
      <p>{{ error }}.</p>
    </div>
  </div>
  <div class="column is-6 is-offset-3" *ngIf="!loading">
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="columns is-multiline">
        <div class="column is-12" *ngIf="saved">
          <div class="notification is-red" *ngIf="error && !saving">
            <i class="fas fa-exclamation-circle"></i>
            <p>Error: {{ error }}</p>
          </div>
        </div>
        <div class="column is-4">
          <app-avatar-picker formControlName="avatar"></app-avatar-picker>
          <div class="justify-center mt10">
            <label class="button is-small" [class.events-none]="uploadingAvatar">
              <span *ngIf="!uploadingAvatar">Upload Avatar</span>
              <span *ngIf="uploadingAvatar">Uploading Avatar...</span>
              <input type="file" ngFileSelect [options]="uploadOptions" (uploadOutput)="onUploadOutput($event)"
                [uploadInput]="uploadInput" />
            </label>
          </div>
        </div>
        <div class="column is-8">
          <div class="field">
            <label class="label">Email</label>
            <input type="email" class="input" placeholder="john@example.com" formControlName="email" />
          </div>
          <div class="field">
            <label class="label">Full Name</label>
            <input type="text" class="input" placeholder="John Smith" formControlName="name" />
          </div>
          <div class="form-buttons justify-end">
            <button type="submit" class="button" [disabled]="(form.pristine && !saved) || saving"
              [class.events-none]="saved">
              <span *ngIf="!saving && !saved">Update Profile</span>
              <span *ngIf="saving">Updating Profile...</span>
              <i class="fas fa-check" *ngIf="saved"></i>
              <span *ngIf="saved">Profile Saved</span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
