<div class="columns">
  <div class="column is-6 is-offset-3">
    <form class="form">
      <div class="columns">
        <div class="column is-4">
          <app-avatar-picker></app-avatar-picker>
          <div class="justify-center mt10">
            <button type="button" class="button is-small">
              <span>Upload Avatar</span>
            </button>
          </div>
        </div>
        <div class="column is-8">
          <div class="field">
            <label class="label">Email</label>
            <input type="email" class="input" placeholder="john@example.com" />
          </div>
          <div class="field">
            <label class="label">Full Name</label>
            <input type="text" class="input" placeholder="John Smith" />
          </div>
          <div class="field">
            <label class="label">Location</label>
            <input type="text" class="input" placeholder="Florida, US" />
          </div>
          <div class="form-buttons justify-end">
            <button type="submit" class="button">
              <span>Update Profile</span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
