@import 'colours'
@import 'typography'
@import 'variables'

$build-item-height: 70px

.build-item
  width: 100%
  height: $build-item-height
  border-bottom: 1px solid $border-primary

  &:hover
    cursor: pointer
    background: $background-light

  .columns
    display: flex
    align-items: center
    height: $build-item-height

    .avatar-column
      padding-left: 10px !important
      border-left: 3px solid transparent

      &.is-passed
        border-left: 3px solid $green

      &.is-failed
        border-left: 3px solid $red

      &.is-running
        border-left: 3px solid $yellow

      .build-avatar
        width: 40px
        height: 40px
        border-radius: 50%
        display: block

    .repo-branch-column

      .repo-name, .branch-name
        display: block
        line-height: 20px

      .repo-name
        font-size: 14px
        color: $text-secondary
        font-family: $font-family-medium

      .branch-name
        font-size: 12px

    .type-column

      .number, .type
        display: block
        line-height: 20px

      .number
        font-size: 14px
        color: $text-secondary
        font-family: $font-family-medium

      .type
        font-size: 12px

    .commit-column

      .commit-hash, .commit-message
        display: block
        line-height: 20px

      .commit-hash
        font-size: 14px
        font-family: $font-family-medium
        color: $text-secondary

      .commit-message
        font-size: 12px
        width: calc(100%)
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis

    .author-column

      .author, .time
        display: block
        line-height: 20px
        text-align: center

      .author
        font-size: 14px
        font-family: $font-family-medium
        color: $text-secondary

      .time
        font-size: 12px

    .build-status-column

      .status-item
        display: flex
        align-items: center

        .status-circle
          width: 10px
          height: 10px
          border-radius: 50%
          background: $green
          margin-right: 5px

        .status-title
          font-size: 13px
          color: $green
          font-family: $font-family-bold

        &.is-passed

          .status-circle
            background: $green

          .status-title
            color: $green

        &.is-failed

          .status-circle
            background: $red

          .status-title
            color: $red

        &.is-running

          .status-circle
            background: $yellow

          .status-title
            color: $yellow

    .time-column

      .time
        display: block
        text-align: center
        font-size: 13px
        font-family: $font-family-medium

    .actions-column
      position: relative
      text-align: right
      padding-right: 10px !important

      .menu-icon
        font-size: 15px
        cursor: pointer

        &:hover
          color: $text-secondary
