<div class="build-item">
  <div class="columns is-marginless is-paddingless">
    <div class="column is-1 is-marginless is-paddingless avatar-column" [ngClass]="{ 'is-queued': build?.status === 'queued', 'is-passed': build?.status === 'passed', 'is-failed': build?.status === 'failed', 'is-running': build?.status === 'running' }">
      <img *ngIf="build?.author_avatar" [src]="build?.author_avatar" class="build-avatar">
      <img *ngIf="!build?.author_avatar && build?.committer_avatar" [src]="build?.committer_avatar" class="build-avatar">
    </div>
    <div class="column is-2 is-marginless is-paddingless repo-branch-column">
      <span class="repo-name">{{ build?.repository_name }}</span>
      <span class="branch-name">{{ build?.branch }}</span>
    </div>
    <div class="column is-2 is-marginless is-paddingless type-column">
      <span class="number" *ngIf="build?.pr">#{{ build?.pr }}</span>
      <span class="number" *ngIf="!build?.pr">#{{ build?.id }}</span>
      <span class="type" *ngIf="build?.pr">Pull Request</span>
      <span class="type" *ngIf="!build?.pr">Commit</span>
    </div>
    <div class="column is-2 is-marginless is-paddingless commit-column">
      <span class="commit-hash">{{ build?.getSHA() }}</span>
      <span class="commit-message">{{ build?.commit_message }}</span>
    </div>
    <div class="column is-2 is-marginless is-paddingless author-column">
      <span class="author">{{ build?.author_name }}</span>
      <span class="time">{{ build?.getDateTime() }} ago</span>
    </div>
    <div class="column is-1 is-marginless is-paddingless build-status-column">
      <span class="status-item" [ngClass]="{ 'is-queued': build?.status === 'queued', 'is-passed': build?.status === 'passed', 'is-failed': build?.status === 'failed', 'is-running': build?.status === 'running' }">
        <span class="status-circle"></span>
        <span class="status-title">{{ build?.getStatusTitle() }}</span>
      </span>
    </div>
    <div class="column is-1 is-marginless is-paddingless time-column">
      <span class="time" *ngIf="build?.status === 'running' && build?.maxCompletedJobTime && build?.minRunningJobStartTime && build?.maxCompletedJobTime > (currentTime - build?.minRunningJobStartTime)">
        {{ build?.maxCompletedJobTime | toTime }}
      </span>
      <span class="time" *ngIf="build?.status === 'running' && build?.maxCompletedJobTime && build?.minRunningJobStartTime && build?.maxCompletedJobTime <= (currentTime - build?.minRunningJobStartTime)">
        {{ currentTime - build?.minRunningJobStartTime | toTime }}
      </span>
      <span class="time" *ngIf="build?.status !== 'running' && build?.maxCompletedJobTime">
        {{ build?.maxCompletedJobTime | toTime }}
      </span>
    </div>
    <div class="column is-1 is-marginless is-paddingless actions-column" appStopPropagation>
      <i class="fas fa-ellipsis-h menu-icon" (click)="toggleMenu($event)"></i>
      <div class="actions-menu" *ngIf="isMenuOpened" appStopPropagation>
        <i class="fas fa-ellipsis-h menu-icon" (click)="toggleMenu($event)"></i>
        <button type="button" class="menu-item" appStopPropagation (click)="restartBuild()" [disabled]="!build?.hasPermission">
          <i class="fas fa-sync-alt"></i>
          <span>Restart Build</span>
        </button>
        <button type="button" class="menu-item" appStopPropagation [disabled]="build?.status !== 'running' || !build?.hasPermission" (click)="stopBuild()">
          <i class="fas fa-hand-paper"></i>
          <span>Stop Build</span>
        </button>
      </div>
    </div>
  </div>
</div>
