<div class="columns is-multiline">
  <div class="column is-12">
    <h1>Add administrator</h1>
    <hr/>
  </div>
  <div class="column is-12">
    <div class="space-between">
      <p>Add administrator user for Abstruse CI.</p>
      <button type="button" class="button" (click)="resetForm()" [disabled]="!adminForm.dirty">
        <span>Reset</span>
      </button>
    </div>
  </div>
</div>

<div class="box">
  <form class="admin-form" #adminForm="ngForm">
    <div class="columns is-multiline">
      <div class="column is-4">
        <app-avatar-picker [values]="avatars" [(ngModel)]="user.avatar" name="avatar" required></app-avatar-picker>
      </div>
      <div class="column is-8">
        <span class="field">
          <label class="label">Email</label>
          <input type="text" name="email" placeholder="Email" class="input" [(ngModel)]="user.email" required>
          <span class="input-info">
            <span>Email represents the username for login.</span>
          </span>
        </span>
        <span class="field">
          <label class="label">Name and Lastname</label>
          <input type="text" name="fullname" placeholder="Name and Lastname" class="input" [(ngModel)]="user.fullname" required>
          <span class="input-info">
            <span>Your full name.</span>
          </span>
        </span>
        <span class="field">
          <label class="label">Password</label>
          <input type="password" name="password" placeholder="Password" class="input" [(ngModel)]="user.password" required minlength="3">
          <span class="input-info">
            <span>Pick your password.</span>
          </span>
        </span>
        <span class="field">
          <label class="label">Confirm Password</label>
          <input type="password" name="passwordConfirm" placeholder="Confirm Password" class="input" [(ngModel)]="user.confirmPassword" required minlength="3" appValidateEqual="password">
          <span class="input-info">
            <span>Repeat picked password, just to make sure.</span>
          </span>
        </span>
      </div>
    </div>
  </form>
</div>

<div class="setup-content-bottom">
  <div class="columns is-multiline is-marginless">
    <div class="column is-12 is-paddingless">
      <hr/>
    </div>
    <div class="column is-12 is-paddingless">
      <div class="justify-end">
        <button type="button" class="button is-large" disabled>Skip</button>
        <button type="button" class="button is-large is-green" (click)="createUser()" [disabled]="!adminForm.valid || creatingUser">
          <img class="spinner" src="/assets/images/icons/spinner-green.svg" *ngIf="creatingUser">
          <span *ngIf="!creatingUser">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
