<div class="columns is-multiline">
  <div class="column is-12">
    <h1>Add administrator</h1>
    <hr/>
  </div>
  <div class="column is-12">
    <div class="space-between">
      <p>Add administrator user for Abstruse CI.</p>
      <button type="button" class="button">
        <span>Reset form</span>
      </button>
    </div>
  </div>
</div>

<div class="box">

</div>

<div class="setup-content-bottom">
  <div class="columns is-multiline is-marginless">
    <div class="column is-12 is-paddingless">
      <hr/>
    </div>
    <div class="column is-12 is-paddingless">
      <div class="justify-end">
        <button type="button" class="button is-large" disabled>Skip</button>
        <button type="button" class="button is-large is-green" (click)="setup.next()">Next</button>
      </div>
    </div>
  </div>
</div>
