<div class="table-item">
  <div class="columns">
    <div class="column is-1 justify-center">
      <span class="table-data is-number">{{ worker?.certID }}</span>
    </div>
    <div class="column is-3 justify-center">
      <span class="table-data">{{ worker?.addr }}</span>
    </div>
    <div class="column is-1 justify-center">
      <app-progress-bar [percent]="'50'">
      </app-progress-bar>
    </div>
    <div class="column is-1 justify-center">
      <app-progress-bar [percent]="'40'"></app-progress-bar>
    </div>
    <div class="column is-1 justify-center">
      <app-progress-bar [percent]="'60'"></app-progress-bar>
    </div>
    <div class="column is-3 justify-center">
      <!-- <div class="status-item"
        [ngClass]="{ 'is-green': worker?.status === 'operational', 'is-red': worker?.status === 'down' }">
        <span class="status-title">
          <i class="far fa-check-circle"></i>
          <span>{{ worker?.getStatus() }}</span>
        </span>
      </div> -->
    </div>
    <div class="column is-2 justify-center">
      <button type="button" class="button is-small">
        <i class="far fa-edit"></i>
        <span>Edit</span>
      </button>
    </div>
  </div>
</div>
