<div class="list-item">
  <div class="columns">
    <div class="column is-1">
      <div class="list-item-content">
        <span class="label">ID</span>
        <span class="text has-border">{{ worker?.certID }}</span>
      </div>
    </div>
    <div class="column is-1">
      <div class="list-item-content">
        <span class="label">Server</span>
        <span class="text">{{ worker?.addr }}</span>
      </div>
    </div>
    <div class="column is-2">
      <div class="list-item-content">
        <span class="label">OS</span>
        <span class="text">
          <i class="fab fa-apple" *ngIf="worker?.os === 'darwin'"></i>
          <i class="fab fa-linux" *ngIf="worker?.os === 'linux'"></i>
          <i class="fab fa-windows" *ngIf="worker?.os === 'windows'"></i>
          {{ worker?.os }} {{ worker?.platformVersion }}
        </span>
      </div>
    </div>
    <div class="column is-1">
      <div class="list-item-content">
        <span class="label">Kernel</span>
        <span class="text">{{ worker?.kernelArch }} {{ worker?.kernelVersion }}</span>
      </div>
    </div>
    <div class="column is-2">
      <div class="list-item-content">
        <span class="label">Uptime</span>
        <span class="text">{{ worker?.getUptime() }}</span>
      </div>
    </div>
    <div class="column is-1 justify-center">
      <div class="list-item-content">
        <span class="label">Capacity</span>
        <span class="text">
          <app-progress-bar [percent]="'50'" [options]="{ color: 'green' }"></app-progress-bar>
        </span>
      </div>
    </div>
    <div class="column is-1 justify-center">
      <div class="list-item-content">
        <span class="label">CPU</span>
        <span class="text">
          <app-progress-bar [percent]="worker?.usage?.cpu" [options]="{ color: 'purple' }"></app-progress-bar>
        </span>
      </div>
    </div>
    <div class="column is-1 justify-center">
      <div class="list-item-content">
        <span class="label">Memory</span>
        <span class="text">
          <app-progress-bar [percent]="worker?.usage?.memory" [options]="{ color: 'red' }"></app-progress-bar>
        </span>
      </div>
    </div>
    <div class="column is-2">
      <div class="list-item-content">
        <button type="button" class="button is-small">
          <i class="fas fa-chart-bar"></i>
          <span>Show Usage</span>
        </button>
      </div>
    </div>
  </div>
</div>
