<div class="space-between align-center">
  <div>
    <h4>Environment Variables</h4>
  </div>
  <div>
    <button type="button" class="button is-small">Add</button>
  </div>
</div>

<div class="notification is-small" *ngIf="!envs.length">
  <p>No environment variables found.</p>
</div>

<div class="env-variable-list" *ngIf="envs.length">
  <div class="env-variable-list-item is-heading">
    <div class="columns">
      <div class="column is-4">Key</div>
      <div class="column is-4">Value</div>
      <div class="column is-2">Secret</div>
      <div class="column is-2"></div>
    </div>
  </div>
  <div class="env-variable-list-item" *ngFor="let e of envs">
    <div class="columns">
      <div class="column is-4">
        <span>{{ e.key }}</span>
      </div>
      <div class="column is-4">
        <span>{{ e.value }}</span>
      </div>
      <div class="column is-2">
        <span>{{ e.secret }}</span>
      </div>
      <div class="column is-2">
        <button type="button" class="button is-small">Delete</button>
      </div>
    </div>
  </div>
</div>
