<app-header></app-header>

<nav class="nav sub-nav">
  <div class="container">
    <div class="nav-left is-hidden-mobile">
      <span class="nav-item">
        <h1>Builds</h1>
      </span>
    </div>
    <div class="nav-center is-hidden-mobile">

    </div>
    <div class="nav-right">
      <div class="group-buttons">
        <button class="group-button" [ngClass]="{ 'is-active': show === 'all' }" (click)="showAllBuilds()">All Builds</button>
        <button class="group-button" [ngClass]="{ 'is-active': show === 'commits' }" (click)="showCommits()">Commits</button>
        <button class="group-button" [ngClass]="{ 'is-active': show === 'pr' }" (click)="showPullRequests()">Pull Requests</button>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <div class="columns">
    <div class="column is-12">
      <div class="content">
        <div class="container" *ngIf="loading">
          <img src="images/icons/flickr.svg" class="main-loader">
        </div>

        <div class="columns is-multiline" *ngIf="!loading">

          <div class="column is-12" *ngIf="!builds?.length">
            <div class="notification is-info">
              No builds has been runned yet.
            </div>
          </div>

          <div class="column is-12" *ngIf="builds?.length">
            <div class="columns list-item" *ngFor="let build of builds; let i = index;" [ngClass]="{ 'is-queued': build.status === 'queued', 'is-success': build.status === 'success', 'is-running': build.status === 'running', 'is-errored': build.status === 'failed' || build.status === 'stopped' }" (click)="gotoBuild(build.id)">
              <app-build-item [build]="build"></app-build-item>
            </div>
            <div layout-align="center" *ngIf="builds?.length" align="center" class="more-button-container">
              <button type="button" class="button" name="btn-loadmore" (click)="fetch($event)" [class.is-loading]="fetching" [class.is-hidden]="hideMoreButton">
                <img src="images/icons/more.svg">
                Load more builds
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
