<app-header></app-header>

<nav class="nav sub-nav">
  <div class="container">
    <div class="nav-left">
      <span class="nav-item">
        <h1>My Builds</h1>
        <span>| 2 builds</span>
      </span>
    </div>
    <div class="nav-center">
      <div class="group-buttons">
        <button class="group-button is-active">My Builds</button>
        <button class="group-button">All Builds</button>
      </div>
    </div>
    <div class="nav-right"></div>
  </div>
</nav>

<div class="container">
  <div class="columns">
    <div class="column is-12">
      <div class="content">
        <div *ngIf="loading" class="loading">
          <div class="loader">
            <img src="/images/icons/tail-spin.svg">
          </div>
        </div>

        <div class="columns is-multiline" *ngIf="!loading">
          <div class="column is-12">
            <h3>Builds</h3>
          </div>

          <div class="column is-12" *ngIf="!builds || !builds.length">
            <div class="notification">
              <span class="icon">
                <img src="images/icons/info.svg">
              </span>
              <span>No builds has been runned yet.</span>
            </div>
          </div>

          <div class="column is-12" *ngIf="builds && builds.length">
            <div class="columns list-header">
              <div class="column is-1">Build Id</div>
              <div class="column is-3">Repository</div>
              <div class="column is-3">Commit</div>
              <div class="column is-3">Commited by</div>
              <div class="column is-1">Status</div>
              <div class="column is-1">Time</div>
            </div>
            <div class="columns list-item"
                 *ngFor="let build of builds; let i = index;"
                 [ngClass]="{ 'is-queued': build.status === 'queued', 'is-success': build.status === 'success', 'is-running': build.status === 'running', 'is-errored': build.status === 'failed' }"
                 (click)="gotoBuild(build.id)">
              <div class="column is-1">
                <span class="icon">
                  <img src="images/icons/hammer.svg">
                </span>
                <span>{{ build.id }}</span>
              </div>
              <div class="column is-3">
                <span>{{ build.repository.url }}</span>
              </div>
              <div class="column is-3 commit-column">
                <span class="icon">
                  <img src="images/icons/git-commit.svg">
                </span>
                <span class="bold">{{ build.commit_hash.substr(0, 7) }}</span>
                <span>{{ build.commit_message }}</span>
              </div>
              <div class="column is-3">
                <span>{{ build.commit_author }}</span>
              </div>
              <div class="column is-1">
                <span class="status-circle" [ngClass]="{ green: build.status === 'success', yellow: build.status === 'running', red: build.status === 'failed' }"></span>
                <span>{{ build.status }}</span>
              </div>
              <div class="column is-1">
                {{ build.totalTime }}
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
