<app-header></app-header>

<nav class="nav sub-nav">
  <div class="nav-center">
    <div class="group-buttons">
      <button class="group-button is-active">My Builds</button>
      <button class="group-button">All Builds</button>
    </div>
  </div>
</nav>

<div class="container">
  <div class="columns">
    <div class="column is-12">
      <div class="content">
        <div class="columns is-multiline">
          <div class="column is-12">
            <h1>Builds</h1>
          </div>

          <div class="column is-12" *ngIf="!builds || !builds.length">
            <div class="notification">
              <span class="icon">
                <img src="images/icons/info.svg">
              </span>
              <span>No builds has been runned yet.</span>
            </div>
          </div>

          <div class="column is-12" *ngIf="builds && builds.length">
            <div class="columns list-header">
              <div class="column is-1">Build Id</div>
              <div class="column is-3">Repository</div>
              <div class="column is-2">Commit</div>
              <div class="column is-3">Commited by</div>
              <div class="column is-1">Status</div>
              <div class="column is-2"></div>
            </div>
            <div class="columns list-item"
                 *ngFor="let build of builds; let i = index;"
                 [ngClass]="{ 'is-queued': build.status === 'queued', 'is-success': build.status === 'success', 'is-running': build.status === 'running', 'is-errored': build.status === 'failed' }"
                 (click)="gotoBuild(build.uuid)">
              <div class="column is-1">
                <span class="icon">
                  <img src="images/icons/hammer.svg">
                </span>
                <span>{{ build.id }}</span>
              </div>
              <div class="column is-3">
                <span>{{ build.repository.url }}</span>
              </div>
              <div class="column is-2 commit-column">
                <span class="icon">
                  <img src="images/icons/git-commit.svg">
                </span>
                <span class="bold">{{ build.commit_hash.substr(0, 7) }}</span>
                <span>{{ build.commit_message }}</span>
              </div>
              <div class="column is-3">
                <span>{{ build.commit_author }}</span>
              </div>
              <div class="column is-1">
                <span class="status-circle" [ngClass]="{ green: build.status === 'success', yellow: build.status === 'running', red: build.status === 'failed' }"></span>
                <span>{{ build.status }}</span>
              </div>
              <div class="column is-2">
                <div class="button-addon" (click)="toggleDropdown($event, i)">
                  <button type="button" class="button">
                    Actions
                  </button>
                  <span class="button-item">
                    <img src="images/icons/dropdown.svg">
                  </span>
                  <div class="button-dropdown" [ngClass]="{ 'is-active': buildDropdowns[i] }">
                    <div class="button-dropdown-item" (click)="runBuild(build.repositories_id)">Run Build</div>
                    <div class="button-dropdown-item">Stop Build</div>
                    <div class="button-dropdown-item" (click)="restartBuild(build.uuid)">Re-Start Build</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
