<div class="columns is-multiline">
  <div class="column is-12">
    <div class="tabs">
      <div class="tabs-heading">
        <h1>Teams</h1>
        <h4>Manage teams and team permissions</h4>
      </div>
      <div class="tabs-items">
        <span class="tab is-active">Teams</span>
        <span class="tab">Users</span>
      </div>
    </div>
  </div>
  <div class="column is-12">
    <div class="tabs-content">
      <div class="align-center justify-end mb10">
        <button type="button" class="button" (click)="teamsService?.openTeamDialog(null)">
          <i class="fa fa-plus"></i>
          <span>Add Team</span>
        </button>
      </div>
      <div class="table">
        <div class="headers">
          <div class="columns">
            <div class="column is-1 justify-center">
              <span class="header-title"></span>
            </div>
            <div class="column is-2">
              <span class="header-title">Title</span>
            </div>
            <div class="column is-3">
              <span class="header-title">Description</span>
            </div>
            <div class="column is-5">
              <span class="header-title">Members</span>
            </div>
            <div class="column is-1"></div>
          </div>
        </div>
        <div class="table-items">
          <div class="table-item" *ngFor="let team of teams">
            <div class="columns">
              <div class="column is-1 justify-center align-center">
                <app-placeholder [text]="team?.getInitials()" [background]="team?.color"></app-placeholder>
              </div>
              <div class="column is-2 align-center">
                <span class="table-data is-medium color-secondary is-larger">{{ team?.title }}</span>
              </div>
              <div class="column is-3 align-center">
                <span class="table-data">{{ team?.description }}</span>
              </div>
              <div class="column is-5 align-center">
                <div class="members-avatars align-center">
                  <span class="member-avatar" *ngFor="let user of team?.users">
                    <img [src]="user.avatar" class="member-avatar" appTooltip [title]="user.fullname">
                  </span>
                  <!-- <span class="plus-icon" appTooltip title="Jan Kuri, Renata Kuri, Matic Kuri">+3</span> -->
                </div>
              </div>
              <div class="column is-1 justify-end align-center">
                <button type="button" class="button is-small mr10" (click)="teamsService?.openTeamDialog(team)">
                  <i class="fa fa-edit"></i>
                  <span>Edit</span>
                </button>
              </div>
            </div>
          </div>
          <div class="table-item" *ngIf="!teams.length && !errorFetchingTeams && !fetchingTeams">
            <div class="columns">
              <div class="column is-12 justify-center align-center">
                <span class="table-data justify-center align-center">
                  <img class="img-icon" src="/assets/images/icons/important-dark.svg">
                  <span class="color-secondary is-medium">No teams found.</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="notification is-red mt20" *ngIf="errorFetchingTeams && !fetchingTeams">
        <img src="/assets/images/icons/important-red.svg" class="notification-icon">
        <i class="fa fa-times close-icon" (click)="errorFetchingTeams = null"></i>
        <p>HTTP Error: {{ errorFetchingTeams }}</p>
      </div>
    </div>
  </div>
</div>

<app-teams-team-dialog *ngIf="teamsService.teamDialogOpened"></app-teams-team-dialog>
