<header class="subheader">
  <nav class="subheader-links">
    <a [routerLink]="['/teams/users']">Users</a>
    <a [routerLink]="['/teams/list']" routerLinkActive="is-active">Teams</a>
  </nav>
  <div class="container">
    <div class="subheader-container">
      <div class="subheader-left">
        <h1>Teams</h1>
        <h2>Team Management</h2>
      </div>
      <div class="subheader-right">
        <i class="fas fa-search"></i>
        <input
          type="text"
          class="input search-input"
          placeholder="Search teams..."
          autocomplete="off"
          #keyword
        />
        <button
          type="button"
          class="button"
          (click)="openTeamModal()"
          [disabled]="!this.auth.isAdmin"
        >
          <span>Add New Team</span>
        </button>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="columns is-multiline">
    <div class="column is-12" *ngIf="fetchingTeams">
      <app-loader></app-loader>
    </div>
    <div class="column is-6 is-offset-3" [hidden]="!error">
      <div class="notification is-red">
        <i class="far fa-comment-dots"></i>
        <p>{{ error }}.</p>
      </div>
    </div>
    <div class="column is-6 is-offset-3" *ngIf="!fetchingTeams && !displayedTeams?.length">
      <div class="notification">
        <i class="fas fa-users"></i>
        <p>No teams found.</p>
      </div>
    </div>
    <div class="column is-12" *ngIf="!fetchingTeams && displayedTeams?.length">
      <div class="columns is-multiline">
        <div class="column is-4" *ngFor="let team of displayedTeams">
          <app-team-item [team]="team" (saved)="onSaved()"></app-team-item>
        </div>
      </div>
    </div>
  </div>
</div>
