:root
  --green: #48bb78
  --yellow: #ecc94b
  --orange: #ed8936
  --red: #f56565
  --gray: #a0aec0
  --teal: #38b2ac
  --blue: #4299e1
  --indigo: #667eea
  --purple: #9f7aea
  --pink: #ed64a6

.theme-light
  --header-primary: #060607
  --header-secondary: #4f5660
  --header-light: #a0aec0
  --header-light-secondary: #718096
  --text-primary: #2e3338
  --text-secondary: #747f8d
  --text-light: #a0aec0
  --channels-default: #6a7480
  --interactive-normal: #4f5660
  --interactive-hover: #2e3338
  --interactive-active: #060607
  --interactive-muted: #c7ccd1
  --background-primary: #fff
  --background-secondary: #fcfcfc
  --background-secondary-alt: #f2f3f5
  --background-tertiary: #e3e5e8
  --background-accent: #747f8d
  --background-floating: #fff
  --scrollbar-thin-thumb: rgba(79,84,92,0.3)
  --scrollbar-thin-track: transparent
  --scrollbar-auto-thumb: #ccc
  --scrollbar-auto-track: #f2f2f2
  --scrollbar-auto-scrollbar-color-thumb: #e3e5e8
  --scrollbar-auto-scrollbar-color-track: #f2f3f5
  --shadow-stroke: 0 0 0 1px rgba(6,6,7,0.08)
  --shadow-low: 0 1px 0 rgba(6,6,7,0.1),0 1.5px 0 rgba(6,6,7,0.025),0 2px 0 rgba(6,6,7,0.025)
  --shadow-medium: 0 4px 4px rgba(0,0,0,0.08)
  --shadow-high: 0 8px 16px rgba(0,0,0,0.16)
  --logo-primary: #7289da
  --focus-primary: #00b0f4
  --guild-header-text-shadow: 0 1px 1px hsla(0,0%,100%,0.4)
  --channeltextarea-background: #ebedef
  --activity-card-background: #fff
  --textbox-markdown-syntax: #6a7480
  --border-default: #EAEDF3
  --border-primary: #C9D0DF
  --border-secondary: #D4DAE4
