$fa-font-path: "/assets/fonts/fa"

$box-shadow: 0 2px 8px 0 rgba(0,0,0,0.06)
$border-radius: 4px

$weight-light: 300 !default
$weight-normal: 400 !default
$weight-medium: 500 !default
$weight-semibold: 600 !default
$weight-bold: 700 !default

$input-height: 40px
