.notification
  margin: 10px 0
  padding: 20px 25px
  border: 1px solid $border-default
  border-radius: 4px

  p
    display: flex
    align-items: center
    font-weight: $weight-medium
    color: $text-primary

  i
    font-size: 20px
    margin-right: 25px
