.pagination
  +unselectable
  display: flex
  margin: 30px 0 0 0
  align-items: center
  justify-content: center

  .page
    display: inline-block
    cursor: pointer
    padding: 5px 10px
    border: 1px solid transparent
    border-radius: $border-radius
    min-width: 38px
    text-align: center

    &:hover, &.is-active
      border: 1px solid $green
      color: $green

    &.is-hidden
      display: none

  .btn
    padding: 5px 10px
    margin: 0 5px
    cursor: pointer
    border: 1px solid transparent
    border-radius: $border-radius

    &:hover
      border: 1px solid $green
      color: $green
