@import 'typography'
@import 'colours'

$table-item-height: 80px
$table-header-item-height: 45px
$table-item-data-height: 22px
$table-item-label-height: 24px

.table
  background: $white
  border: 1px solid $border-default
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.04)
  width: 100%
  border-radius: 4px

  &.is-borderless
    border: none
    box-shadow: none

  .headers
    background: transparent
    box-shadow: 0 1px 0 0 #EAECEE
    height: $table-header-item-height

    .columns
      margin: 0

      .column
        margin: 0
        display: flex
        align-items: center
        height: $table-header-item-height

    .header-title
      font-size: 12px
      font-family: $font-family-medium
      color: $text-label
      text-transform: uppercase
      padding: 0 10px

  .table-item
    height: $table-item-height
    background: transparent
    color: $text-secondary
    line-height: 22px
    font-size: 14px
    box-shadow: 0 1px 0 0 #EAEDF3
    outline: none

    &.list-item-type
      margin-bottom: 15px
      border: 1px solid $border-default
      box-shadow: 2px 3px 5px 0 rgba(0,0,0,0.02)

    .columns
      margin: 0

      .column
        margin: 0
        display: flex
        align-items: center
        height: $table-item-height

      .table-data, .icon-item
        padding: 0 10px

      .table-data
        font-size: 13px
        display: block

        &.is-larger
          font-size: 14px

        &.is-number
          +unselectable
          display: flex
          align-items: center
          justify-content: center
          border: 1px solid $border-default
          border-radius: 4px
          line-height: 22px
          min-width: 50px
          height: 38px
          font-size: 13px
          font-family: $font-family-medium

          &.is-green
            background: rgba($green, .25)
            color: $green
            border: 2px solid $green
            font-family: $font-family-medium

          &.is-red
            background: rgba($red, .25)
            color: $red
            border: 2px solid $red
            font-family: $font-family-medium

          &.is-orange
            background: rgba($orange, .25)
            color: $orange
            border: 2px solid $orange
            font-family: $font-family-medium

        .heading-text, .data-text, .data-label
          +ellipsis
          display: block
          line-height: 20px
          text-align: center

        .heading-text
          font-size: 11px
          color: $text-primary

          &.is-larger
            font-size: 12px

        .data-label
          font-size: 12px
          font-family: $font-family-bold
          color: $text-label
          text-transform: uppercase
          height: $table-item-label-height

        .data-text
          font-size: 13px
          font-family: $font-family-medium
          height: $table-item-data-height
          display: inline-flex
          align-items: center
          width: 100%

          &.is-title
            font-size: 15px
            font-family: $font-family-bold

          i, img
            width: 20px
            height: 20px
            display: block
            margin: 0 auto
            font-size: 20px

          img
            width: 20px
            height: 20px
            border-radius: 50%

          i

            &.inline-icon
              display: inline
              width: 18px
              height: 18px
              font-size: 18px
              margin: 0

            &.is-yellow
              color: $yellow

            &.is-green
              color: $green

            &.is-red
              color: $red

      .icon-item
        display: inline-block
        width: 100%

        i, img
          width: 20px
          height: 20px
          display: block
          margin: 0 auto
          font-size: 20px


      .members-avatars
        padding: 0 10px

        .member-avatar, .plus-icon
          width: 28px
          height: 28px
          background: $white
          border-radius: 50%
          margin-right: 5px
          display: inline-flex
          align-items: center
          justify-content: center

          img
            width: 28px
            height: 28px
            background: $white
            border-radius: 50%
            border: 1px solid $border-default

        .plus-icon
          cursor: pointer
          font-size: 12px
          border: 1px solid $border-default

          &:hover
            +unselectable
            border-color: $border-primary
