<div class="modal-header">
  <div class="header-title">
    <h1>Team</h1>
    <h2 *ngIf="!team?.id">Create New Team</h2>
    <h2 *ngIf="team?.id">Edit Team</h2>
  </div>
  <span class="icon close-icon is-action" (click)="activeModal.dismiss(false)" [class.events-none]="saving">
    <i class="fas fa-times"></i>
  </span>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="notification is-red" *ngIf="error">
      <i class="far fa-comment"></i>
      <p>Error: {{ error }}</p>
    </div>
    <div class="field">
      <label class="label">Name</label>
      <input type="text" name="name" class="input" placeholder="Team Name" formControlName="name" autocomplete="off" />
    </div>
    <div class="field">
      <label class="label">About</label>
      <input type="text" name="about" class="input" placeholder="Team Description" formControlName="about" />
    </div>
    <div class="field">
      <label class="label">Color</label>
      <app-color-picker name="color" formControlName="color"></app-color-picker>
    </div>
  </div>
  <div class="modal-footer space-between">
    <div class="align-center"></div>
    <div class="align-center">
      <button type="button" class="button" (click)="activeModal.close()" [disabled]="saving">Cancel</button>
      <button type="submit" class="button is-green" [disabled]="!form.valid || saving">
        <span *ngIf="!saving && !team?.id">Create</span>
        <span *ngIf="saving && !team?.id">Creating...</span>
        <span *ngIf="!saving && team?.id">Save</span>
        <span *ngIf="saving && team?.id">Saving...</span>
      </button>
    </div>
  </div>
</form>
