<div class="modal-header">
  <div class="header-title">
    <h1>Team</h1>
    <h2 *ngIf="!team?.id">Create New Team</h2>
    <h2 *ngIf="team?.id">Edit Team</h2>
  </div>
  <span class="icon close-icon is-action" (click)="activeModal.dismiss(false)" [class.events-none]="saving">
    <i class="fas fa-times"></i>
  </span>
</div>
<div class="tabs is-centered">
  <span class="tab" [class.is-active]="tab === 'general'" (click)="tab = 'general'">General</span>
  <span class="tab" [class.is-active]="tab === 'members'" (click)="tab = 'members'">Members</span>
  <span class="tab" [class.is-active]="tab === 'access'" (click)="tab = 'access'">Manage Access</span>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="modal-body" *ngIf="tab === 'general'">
    <div class="notification is-red" *ngIf="error">
      <i class="far fa-comment"></i>
      <p>Error: {{ error }}</p>
    </div>
    <div class="field">
      <label class="label">Name</label>
      <input type="text" name="name" class="input" placeholder="Team Name" formControlName="name" autocomplete="off" />
    </div>
    <div class="field">
      <label class="label">About</label>
      <input type="text" name="about" class="input" placeholder="Team Description" formControlName="about" />
    </div>
    <div class="field">
      <label class="label">Color</label>
      <app-color-picker name="color" formControlName="color"></app-color-picker>
    </div>
  </div>
  <div class="modal-body" *ngIf="tab === 'members'">
    <div class="notification is-red" *ngIf="error">
      <i class="far fa-comment"></i>
      <p>Error: {{ error }}</p>
    </div>
    <div class="notification is-red" *ngIf="fetchingUsersError">
      <i class="far fa-comment"></i>
      <p>Error: {{ fetchingUsersError }}</p>
    </div>
    <app-loader *ngIf="fetchingUsers"></app-loader>
    <div class="members-add-container mb10" *ngIf="!fetchingUsers">
      <div class="members-list">
        <article class="member-item is-small" *ngFor="let u of displayedUsers">
          <div class="columns is-marginless is-paddingless">
            <div class="column is-1">
              <img [src]="u.avatar" class="avatar-img" />
            </div>
            <div class="column is-3">
              <span>{{ u.name }}</span>
            </div>
            <div class="column is-4">
              <span>{{ u.email }}</span>
            </div>
            <div class="column is-2">
              <span>{{ u.role }}</span>
            </div>
            <div class="column is-2 justify-end">
              <button type="button" class="button is-green is-small" (click)="addUser(u.id)">
                <span>Add</span>
              </button>
            </div>
          </div>
        </article>
      </div>
    </div>
    <div class="h250" *ngIf="!team?.users?.length">
      <div class="notification">
        <i class="fas fa-users"></i>
        <p>This team has no members, add some above.</p>
      </div>
    </div>
    <div class="members-container" *ngIf="team?.users?.length">
      <div class="members-list">
        <article class="member-item" *ngFor="let u of team?.users; let i = index;">
          <div class="columns is-marginless">
            <div class="column is-1">
              <img [src]="u.avatar" class="avatar-img" />
            </div>
            <div class="column is-3">
              <span>{{ u.name }}</span>
            </div>
            <div class="column is-4">
              <span>{{ u.email }}</span>
            </div>
            <div class="column is-2">
              <span>{{ u.role }}</span>
            </div>
            <div class="column is-2 justify-end">
              <button type="button" class="button is-red is-small" (click)="removeUser(u.id)">
                <span>Remove</span>
              </button>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="modal-body" *ngIf="tab === 'access'">
    <div class="notification is-red" *ngIf="error">
      <i class="far fa-comment"></i>
      <p>Error: {{ error }}</p>
    </div>
    <div class="notification is-red" *ngIf="fetchingReposError">
      <i class="far fa-comment"></i>
      <p>Error: {{ fetchingReposError }}</p>
    </div>
    <app-loader *ngIf="fetchingRepos"></app-loader>
    <div class="members-add-container mb10" *ngIf="!fetchingRepos">
      <div class="members-list">
        <article class="member-item is-small" *ngFor="let r of displayedRepos">
          <div class="columns is-marginless is-paddingless">
            <div class="column is-1 justify-center">
              <i class="octicon octicon-repo"></i>
            </div>
            <div class="column is-4">
              <span>{{ r.fullName }}</span>
            </div>
            <div class="column is-5">
              <span>{{ r.url }}</span>
            </div>
            <div class="column is-2 justify-end">
              <button type="button" class="button is-green is-small" (click)="addRepo(r.id)">
                <span>Add</span>
              </button>
            </div>
          </div>
        </article>
      </div>
    </div>
    <div class="h250" *ngIf="!team?.repos?.length">
      <div class="notification">
        <i class="octicon octicon-repo"></i>
        <p>This team has no repository access ATM, add some above.</p>
      </div>
    </div>
    <div class="members-container" *ngIf="team?.repos?.length">
      <div class="members-list">
        <article class="member-item" *ngFor="let r of team?.repos">
          <div class="columns is-marginless">
            <div class="column is-4">
              <span>{{ r.repoFullName }}</span>
            </div>
            <div class="column is-2">
              <app-checkbox [(ngModel)]="r.read" [ngModelOptions]="{standalone: true}" label="Read"></app-checkbox>
            </div>
            <div class="column is-2">
              <app-checkbox [(ngModel)]="r.write" [ngModelOptions]="{standalone: true}" label="Write"></app-checkbox>
            </div>
            <div class="column is-2">
              <app-checkbox [(ngModel)]="r.exec" [ngModelOptions]="{standalone: true}" label="Execute"></app-checkbox>
            </div>
            <div class="column is-2 justify-end">
              <button type="button" class="button is-red is-small" (click)="removeRepo(r.repoID)">
                <span>Remove</span>
              </button>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="modal-footer space-between">
    <div class="align-center"></div>
    <div class="align-center">
      <button type="button" class="button" (click)="activeModal.close()" [disabled]="saving">Cancel</button>
      <button type="submit" class="button is-green" [disabled]="!form.valid || saving">
        <span *ngIf="!saving && !team?.id">Create</span>
        <span *ngIf="saving && !team?.id">Creating...</span>
        <span *ngIf="!saving && team?.id">Save</span>
        <span *ngIf="saving && team?.id">Saving...</span>
      </button>
    </div>
  </div>
</form>
