<div class="list-item-condensed" [routerLink]="['/builds', build?.repository?.id, build?.id]">
  <div class="columns">
    <div class="column is-1 data-column">
      <div class="data-text has-text-left align-center no-padding">
        <span class="status-line" [ngClass]="{
            'is-queued': build?.status === 'queued',
            'is-passing': build?.status === 'passing',
            'is-failing': build?.status === 'failing',
            'is-running': build?.status === 'running'
          }"></span>
        <span *ngIf="!build?.pr">#{{ build?.id }}</span>
        <span *ngIf="build?.pr">PR #{{ build?.pr }}</span>
      </div>
    </div>
    <div class="column is-3 data-column">
      <div class="info-text has-text-left align-center" *ngIf="style === 'history'">
        <a class="data-text" appStopPropagation [routerLink]="['/builds', build?.repository?.id]">{{
          build?.repository?.fullName
        }}</a>
      </div>
      <div class="info-text has-text-left align-center" *ngIf="style === 'repo'">
        <span class="data-text is-small" *ngIf="!build?.pr">{{ build?.commitMessage }}</span>
        <span class="data-text is-small" *ngIf="build?.pr">{{ build?.prTitle }}</span>
      </div>
    </div>
    <div class="column is-2 data-column">
      <div class="align-center justify-start mlr10">
        <img [src]="build?.committerAvatar" class="committer-avatar" appTooltip [text]="build?.committerName!" />
      </div>
      <div class="data-column direction-column">
        <div class="info-text align-center justify-start">
          <i class="octicon octicon-git-commit"></i>
          <span class="data-text plr0">{{ build?.commitShort }}</span>
        </div>
        <div class="info-text align-center justify-start">
          <i class="octicon octicon-git-branch"></i>
          <span class="data-text plr0">{{ build?.branch }}</span>
        </div>
      </div>
    </div>
    <div class="column is-2 data-column">
      <div class="info-text justify-center align-center">
        <span class="data-text" appTooltip
          [text]="build?.createdAt! | date:'medium'">{{ build?.createdAtWords! | async }}</span>
      </div>
    </div>
    <div class="column is-1 data-column justify-start">
      <span class="status is-green" *ngIf="build?.status === 'passing'">Passing</span>
      <span class="status is-red" *ngIf="build?.status === 'failing'">Failing</span>
      <span class="status is-gray" *ngIf="build?.status === 'queued'">Queued</span>
      <span class="status is-yellow" *ngIf="build?.status === 'running'">Running</span>
    </div>
    <div class="column is-1 data-column">
      <div class="info-text justify-center align-center">
        <span class="data-text">{{ build?.runningTime | async }}</span>
      </div>
    </div>
    <div class="column is-2 data-column justify-center" appStopPropagation>
      <button type="button" class="button is-small" (click)="restartBuild()" [disabled]="build?.processing">
        <i class="fas fa-sync-alt"></i>
        <span>Restart</span>
      </button>
      <button type="button" class="button is-small" (click)="stopBuild()"
        [disabled]="(build?.status !== 'running' && build?.status !== 'queued') || build?.processing">
        <i class="fas fa-hand-paper"></i>
        <span>Stop</span>
      </button>
    </div>
  </div>
</div>
