<div class="list-item-slim no-hover-effect">
  <div class="columns is-marginless is-paddingless">
    <div class="column is-2 data-column">
      <span class="data-text">{{ repo.id }}</span>
    </div>
    <div class="column is-4 data-column">
      <span class="data-text">{{ repo?.fullName }}</span>
    </div>
    <div class="column is-1 data-column">
      <div class="data-text justify-center">
        <i class="fas fa-check icon-small" *ngIf="!repo?.isPrivate"></i>
        <i class="fas fa-times icon-small" *ngIf="repo?.isPrivate"></i>
      </div>
    </div>
    <div class="column is-2 data-column">
      <span class="data-text">{{ repo?.createdAt | date:'medium' }}</span>
    </div>
    <div class="column is-2 data-column">
      <span class="data-text">{{ repo?.updatedAt | date:'medium' }}</span>
    </div>
    <div class="column is-1 data-column">
      <div class="data-text justify-center">
        <i class="fas fa-check-circle is-green" *ngIf="repo?.isImported"></i>
        <button type="button" class="button is-small" (click)="import()" *ngIf="!repo?.isImported">
          <span>Import</span>
        </button>
      </div>
    </div>
  </div>
</div>
