<div class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-4 is-offset-4">
          <section class="section">
            <div class="logo-section">
              <img src="/assets/images/ractol.svg" class="logo" />
            </div>
            <form class="form" (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
              <div class="field">
                <label class="label">Email</label>
                <input class="input" type="text" formControlName="email" autocomplete="false" />
              </div>
              <div class="field">
                <label class="label">Password</label>
                <input class="input" type="password" formControlName="password" autocomplete="new-password" />
              </div>
              <div class="field">
                <app-checkbox formControlName="remember" label="Remember me"></app-checkbox>
              </div>
              <div class="form-buttons justify-center align-center">
                <button type="submit" class="button">Login</button>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
