<div class="columns is-multiline">
  <div class="column is-12 pt0 pb0">
    <form class="form" [formGroup]="securityForm" (ngSubmit)="onSubmit()">
      <div class="notification">
        <i class="fas fa-key"></i>
        <p>JWT Secret is used to sign JWT Tokens using the HMAC algorithm, please enter secret longer than 8 characters
          or just generate it.</p>
      </div>
      <div class="field">
        <label class="label">JWT Secret</label>
        <div class="columns align-center">
          <div class="column is-8">
            <input type="text" class="input" placeholder="JWT Secret" formControlName="jwtSecret" />
          </div>
          <div class="column is-4">
            <button type="button" class="button is-fullwidth" (click)="generateSecret()">
              <i class="fas fa-key"></i>
              <span>Generate Secret</span>
            </button>
          </div>
        </div>
      </div>
      <div class="notification">
        <i class="fas fa-history"></i>
        <p>To ensure security, JSON Web Tokens are refreshed in some expiry duration time. Refresh Token expiry
          duration should be greater than actual Token expiry duration.</p>
      </div>
      <div class="columns">
        <div class="column is-6">
          <div class="field">
            <label class="label">JWT Token Expiry</label>
            <app-selectbox [values]="jwtExpiryTimes" placeholder="JWT Token Expiry Time" formControlName="jwtExpiry">
            </app-selectbox>
          </div>
        </div>
        <div class="column is-6">
          <div class="field">
            <label class="label">JWT Refresh Token Expiry</label>
            <app-selectbox [values]="jwtRefreshExpiryTimes" placeholder="JWT Refresh Token Expiry Time"
              formControlName="jwtRefreshExpiry"></app-selectbox>
          </div>
        </div>
      </div>
      <!-- <p>{{ securityForm.controls.jwtRefreshExpiry.errors | json }}</p> -->
      <div class="form-buttons justify-end">
        <button type="button" class="button" [disabled]="setup.savingConfig || securityForm.pristine"
          (click)="resetValues()">Reset</button>
        <button type="submit" class="button is-green"
          [disabled]="setup.savingConfig || !securityForm.valid || (securityForm.pristine && !saved)"
          [class.events-none]="saved">
          <span *ngIf="setup.savingConfig">Saving...</span>
          <span *ngIf="!setup.savingConfig && !saved">Save</span>
          <i class="fas fa-check" *ngIf="!setup.savingConfig && saved"></i>
          <span *ngIf="!setup.savingConfig && saved">Saved</span>
        </button>
      </div>
    </form>
  </div>
</div>
