<div class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-4 is-offset-4">
          <div class="box">
            <div class="login-logo-container justify-center align-center">
              <img src="/assets/images/abstruse-text-black.svg">
            </div>
            <form class="login-form" #loginForm="ngForm" (ngSubmit)="doLogin()">
              <span class="field">
                <label class="label">Username</label>
                <input type="text" name="username" class="input" [(ngModel)]="login.email" required>
              </span>
              <span class="field">
                <label class="label">Password</label>
                <input type="password" name="password" class="input" [(ngModel)]="login.password" required>
              </span>
              <div class="align-center justify-center">
                <button type="submit" class="button" [disabled]="!loginForm.valid">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
