<div class="columns is-multiline">
  <div class="column is-12 align-center">
    <h1>Workers</h1>
    <h4>Server nodes</h4>
  </div>
  <!-- <div class="column is-12">
    <div class="notification is-orange">
      <img src="/assets/images/icons/important.svg" class="notification-icon">
      <img src="/assets/images/icons/close.svg" class="close-icon">
      <p>No workers found. Please connect at least one worker in order to run builds.</p>
    </div>
  </div> -->
  <div class="column is-12">
    <div class="table">
      <div class="headers">
        <div class="columns">
          <div class="column is-1 justify-center">
            <span class="header-title">ID</span>
          </div>
          <div class="column is-3 justify-center">
            <span class="header-title">IP</span>
          </div>
          <div class="column is-1 justify-center">
            <span class="header-title">Capacity</span>
          </div>
          <div class="column is-1 justify-center">
            <span class="header-title">CPU</span>
          </div>
          <div class="column is-1 justify-center">
            <span class="header-title">Memory</span>
          </div>
          <div class="column is-1 justify-center">
            <span class="header-title">Priority</span>
          </div>
          <div class="column is-2 justify-center">
            <span class="header-title">Status</span>
          </div>
          <div class="column is-2 justify-center"></div>
        </div>
      </div>
      <div class="table-items">
        <div class="table-item" *ngFor="let w of workers">
          <div class="columns">
            <div class="column is-1 justify-center">
              <span class="table-data is-number">{{ w.id }}</span>
            </div>
            <div class="column is-3 justify-center">
              <span class="table-data">{{ w.ip }}</span>
            </div>
            <div class="column is-1 justify-center">
              <app-progress-bar [text]="'0 / 2'" [percent]="0"></app-progress-bar>
            </div>
            <div class="column is-1 justify-center">
              <app-progress-bar [text]="'35%'" [percent]="35"></app-progress-bar>
            </div>
            <div class="column is-1 justify-center">
              <app-progress-bar [text]="'76%'" [percent]="76"></app-progress-bar>
            </div>
            <div class="column is-1 justify-center">
              <span class="table-data is-number" [ngClass]="{ 'is-green': w.priority >= 8 && w.priority, 'is-orange': w.priority >= 4 && w.priority < 8, 'is-red': w.priority < 4 }">{{ w.priority }}</span>
            </div>
            <div class="column is-2 justify-center">
              <div class="status-item" [ngClass]="{ 'is-green': w.status === 'operational', 'is-red': w.status === 'down' }">
                <span class="status-circle"></span>
                <span class="status-title">{{ w.getStatus() }}</span>
              </div>
            </div>
            <div class="column is-2 justify-center">
              <button type="button" class="button is-small">
                <i class="far fa-edit"></i>
                <span>Edit</span>
              </button>
              <button type="button" class="button is-small">
                <i class="far fa-chart-bar"></i>
                <span>Stats</span>
              </button>
            </div>
          </div>
        </div>
        <div class="table-item">
          <div class="columns">
            <div class="column is-12 justify-center align-center">
              <span class="table-data justify-center align-center">
                <img class="img-icon" src="/assets/images/icons/important-dark.svg">
                <span class="color-secondary is-medium">No workers found</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
