<div class="columns is-multiline">
  <div class="column is-12">
    <div class="main-heading">
      <div class="main-heading-left">
        <h1>Workers</h1>
        <h2>Worker nodes</h2>
      </div>
      <div class="main-heading-right"></div>
    </div>
  </div>

  <div class="column is-12" *ngIf="fetchingWorkers">
    <app-spinner class="is-large"></app-spinner>
  </div>

  <div class="column is-12" *ngIf="workers.length && !fetchingWorkers">
    <div class="list">
      <div class="list-items">
        <app-workers-list-item
          [worker]="w"
          *ngFor="let w of workers"
        ></app-workers-list-item>
      </div>
    </div>
  </div>

  <div class="column is-12" *ngIf="!workers.length && !fetchingWorkers">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <img src="/assets/images/icons/not-found.svg" class="not-found-icon" />
        <div class="notification is-white">
          <p class="justify-center">
            There are no workers currently online. In order to run jobs you need
            at least one worker node connected.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
