<div class="list-item is-slim" *ngIf="image">
  <div class="columns">
    <div class="column is-1">
      <div class="list-item-content">
        <i class="fab fa-docker is-medium"></i>
      </div>
    </div>
    <div class="column is-2">
      <div class="list-item-content">
        <span class="label">Name</span>
        <span class="text">{{ image.name }}</span>
      </div>
    </div>
    <div class="column is-2">
      <div class="list-item-content">
        <span class="label">Created At</span>
        <span class="text">{{ image.createdAt | date:'medium' }}</span>
      </div>
    </div>
    <div class="column is-2">
      <div class="list-item-content">
        <span class="label">Build At</span>
        <span class="text">{{ image.latestDate | date:'medium' }}</span>
      </div>
    </div>
    <div class="column is-2">
      <div class="list-item-content">
        <span class="label">Latest Tag</span>
        <span class="text">{{ image.latestTag }}</span>
      </div>
    </div>
    <div class="column is-2">
      <div class="list-item-content">
        <span class="label">Image Size</span>
        <span class="text">{{ image.latestSize }}</span>
      </div>
    </div>
    <div class="column is-1 justify-center align-center">
      <button type="button" class="button is-small" (click)="items = !items">
        <i class="fas fa-level-down-alt" *ngIf="!items"></i>
        <span *ngIf="!items">Open</span>
        <i class="fas fa-level-up-alt" *ngIf="items"></i>
        <span *ngIf="items">Close</span>
      </button>
    </div>
  </div>
</div>

<div class="sub-list-items" [class.is-closed]="!items" *ngIf="image">
  <div class="sub-list-item" *ngFor="let t of image.tags">
    <div class="columns">
      <div class="column is-2">
        <span class="tag is-fullwidth is-light">{{ t.tag }}</span>
      </div>
      <div class="column is-6">
        <span class="text-light">{{ t.digest }}</span>
      </div>
      <div class="column is-1">
        <span class="text-light">{{ t.fileSize }}</span>
      </div>
      <div class="column is-2">
        <span class="text-light">{{ t.buildTime | date:'medium' }}</span>
      </div>
      <div class="column is-1">
        <button type="button" class="button is-xsmall" (click)="openImageModal(t.tag)">
          <i class="far fa-edit"></i>
          <span>Edit</span>
        </button>
      </div>
    </div>
  </div>
</div>
