=font-face($family, $path, $weight: normal, $style: normal)
  @font-face
    font-family: $family
    src: url('#{$path}.ttf') format('truetype')
    font-weight: $weight
    font-style: $style

+font-face('Ubuntu-Light', '/assets/fonts/Ubuntu-Light', 300, 'normal')
+font-face('Ubuntu-Regular', '/assets/fonts/Ubuntu-Regular', 400, 'normal')
+font-face('Ubuntu-Medium', '/assets/fonts/Ubuntu-Medium', 500, 'normal')
+font-face('Ubuntu-Bold', '/assets/fonts/Ubuntu-Bold', 700, 'normal')

$font-family-light: 'Ubuntu-Light', sans-serif
$font-family-regular: 'Ubuntu-Regular', sans-serif
$font-family-medium: 'Ubuntu-medium', sans-serif
$font-family-bold: 'Ubuntu-Bold', sans-serif
