.form

.input
  color: $text-input
  font-size: 16px
  height: 40px
  text-indent: 16px
  border: 1px solid $border-input
  outline: none
  display: flex
  align-items: center
  justify-content: center
  line-height: 100%
  transition: all .15s ease-out
  margin: 0
  padding: 0
  width: 100%
