@import '../../node_modules/xterm/src/xterm.css'

.window-terminal-container
  position: relative
  display: block
  background: #000000
  height: 600px
  width: 100%
  font-family: Monaco, monospace
  font-size: 12px
  padding: 5px 10px
  border-radius: 6px
