@import 'colours'
@import 'typography'
@import 'variables'
@import 'mixins'

$image-item-height: 70px

\:host
  outline: none

.image-item
  width: 100%
  height: $image-item-height
  border-bottom: 1px solid $border-primary

  .columns
    display: flex
    align-items: center
    height: $image-item-height

    .data-column

      .heading-text, .data-text
        +ellipsis
        display: block
        line-height: 20px
        text-align: center

      .heading-text
        font-size: 11px
        color: $text-primary

      .data-text
        font-size: 13px
        color: $text-secondary
        font-family: $font-family-medium

        i, img
          width: 20px
          height: 20px
          display: block
          margin: 0 auto
          font-size: 16px

        i

          &.ready
            color: $green

          &.not-ready
            color: $red

