<div class="dialog-overlay">
  <div class="dialog-container is-wide">
    <div class="dialog-header">
      <h1>Create Build Image</h1>
      <i class="fas fa-times close-icon" (click)="imageService.closeCreateDialog()"></i>
    </div>
    <form #imageForm="ngForm">
      <div class="dialog-body">
        <div class="columns is-multiline">
          <div class="column is-5">
            <span class="field">
              <label class="label">From</label>
              <app-selectbox [values]="baseImages" [(ngModel)]="baseImage" (ngModelChange)="onBaseImageSelected($event)" name="base_image"></app-selectbox>
              <span class="input-info">
                <span>Pick base image.</span>
              </span>
            </span>
          </div>
          <div class="column is-4">
            <span class="field">
              <label class="label">Name</label>
              <input type="text" name="repository" placeholder="Image Name" class="input" [(ngModel)]="form.repository" required>
              <span class="input-info">
                <span>Repository or image name.</span>
              </span>
            </span>
          </div>
          <div class="column is-3">
            <span class="field">
              <label class="label">Tag</label>
              <input type="text" name="tag" placeholder="Image Tag" class="input" [(ngModel)]="form.tag" required>
              <span class="input-info">
                <span>Examples: <code>latest</code>, <code>1.6</code></span>
              </span>
            </span>
          </div>
          <div class="column is-12">
            <div class="tabs justify-end">
              <div class="tab" [class.is-active]="tab === 'dockerfile'" (click)="tab = 'dockerfile'">Dockerfile</div>
              <div class="tab" [class.is-active]="tab === 'initsh'" (click)="tab = 'initsh'">init.sh</div>
            </div>
            <div [class.is-hidden]="tab !== 'dockerfile'">
              <span class="field" [class.is-hidden]="tab === 'initsh'">
                <label class="label">Dockerfile</label>
                <app-editor [(ngModel)]="form.dockerfile" name="dockerfile"></app-editor>
              </span>
            </div>
            <div [class.is-hidden]="tab !== 'initsh'">
              <span class="field">
                <label class="label">init.sh</label>
                <app-editor [(ngModel)]="form.initsh" name="initsh"></app-editor>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="dialog-footer justify-end">
        <button class="button" (click)="imageService.closeCreateDialog()">Cancel</button>
        <button class="button is-green" [disabled]="!imageForm.valid || saving" (click)="createImage()">
          <img class="spinner" src="/assets/images/icons/spinner-green.svg" *ngIf="saving">
          <span *ngIf="!saving">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
