<app-header></app-header>

<nav class="nav sub-nav">
  <div class="container">
    <div class="nav-left"></div>
    <div class="nav-center">
      <div class="group-buttons">
        <button class="group-button is-active">My Repositories</button>
        <button class="group-button">All Repositories</button>
      </div>
    </div>
    <div class="nav-right">
      <button class="nav-item button" (click)="addRepositoryForm()">
        <img src="images/icons/add.svg">
        Add Repository
      </button>
    </div>
  </div>
</nav>

<div class="container">
  <div class="columns">
    <div class="column is-12">
      <div class="content">
        <div class="columns is-multiline">
          <div class="column is-12">
            <h1>My Repositories</h1>
          </div>

          <div class="column is-12" *ngIf="repository">
            <form class="add-repo-form" #repositoryForm="ngForm" (ngSubmit)="addRepository()">
              <h1>Add New Repository</h1>
              <div class="columns is-multiline">
                <div class="column is-6">
                  <div class="form-field">
                    <label class="form-label">Repository URL</label>
                    <input class="form-input" type="text" placeholder="Git URL" name="url" [(ngModel)]="repository.url" required>
                  </div>
                </div>
                <div class="column is-6"></div>
                <div class="column is-12">
                  <hr/>
                </div>
                <div class="column is-12">
                  <h4>Credentials</h4>
                </div>
                <div class="column is-6">
                  <div class="form-field">
                    <label class="form-label">Username</label>
                    <input class="form-input" type="text" placeholder="Username">
                  </div>
                </div>
                <div class="column is-6">
                  <div class="form-field">
                    <label class="form-label">Password</label>
                    <input class="form-input" type="password" placeholder="Username">
                  </div>
                </div>
                <div class="column is-12">
                  <hr/>
                </div>
                <div class="column is-12">
                  <button type="submit" class="button green float-right" [disabled]="!repositoryForm.valid">Save</button>
                </div>
              </div>
            </form>
          </div>

          <div class="column is-12" *ngIf="!repositories || !repositories.length">
            <div class="notification">
              <span class="icon">
                <img src="images/icons/info.svg">
              </span>
              <span>No repositories found.</span>
            </div>
          </div>

          <div class="column is-12" *ngIf="repositories && repositories.length">
            <div class="columns list-header">
              <div class="column is-4">Repository URL</div>
              <div class="column is-3">Default Branch</div>
              <div class="column is-3">Status</div>
              <div class="column is-2"></div>
            </div>
            <div class="columns list-item" *ngFor="let repo of repositories; let i = index;">
              <div class="column is-4">
                <span class="icon">
                  <img src="images/icons/git-repository.svg">
                </span>
                <span>{{ repo.url }}</span>
              </div>
              <div class="column is-3">
                <span class="icon">
                  <img src="images/icons/git-branch.svg">
                </span>
                <span>master</span>
              </div>
              <div class="column is-3">
                <span class="status-circle green"></span>
                <span>Passing</span>
              </div>
              <div class="column is-2">
                <button type="button" class="button green" (click)="runBuild($event, repo.id, 'master')">
                  Start New Build
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="overlay">
  <div class="popup">

  </div>
</div>
