<app-header></app-header>

<nav class="nav sub-nav">
  <div class="container">
    <div class="nav-left">
      <span class="nav-item">
        <h1>My Repositories</h1>
        <span>| 2 repositories</span>
      </span>
    </div>
    <div class="nav-center">
      <div class="group-buttons">
        <button class="group-button is-active">My Repositories</button>
        <button class="group-button">All Repositories</button>
      </div>
    </div>
    <div class="nav-right">
      <button class="nav-item button green" (click)="addRepositoryForm()">
        <span class="icon">
          <img src="images/icons/plus.svg">
        </span>
      </button>
    </div>
  </div>
</nav>

<div class="container">
  <div class="columns">
    <div class="column is-12">
      <div class="content">
        <div *ngIf="loading" class="loading">
          <div class="loader">
            <img src="/images/icons/tail-spin.svg">
          </div>
        </div>

        <div class="columns is-multiline" *ngIf="!loading">
          <div class="column is-12">
            <h3>My Repositories</h3>
          </div>
          <div class="column is-4">
            <div class="message-center" *ngIf="buildTriggered">
              <div class="message green">
                <p>
                  <img src="images/icons/hammer.svg">
                  <a routerLink="/">New Build triggered</a>
                </p>
              </div>
            </div>
          </div>
          <div class="column is-4"></div>

          <div class="column is-12" *ngIf="repository">
            <form class="add-repo-form" #repositoryForm="ngForm" (ngSubmit)="addRepository()">
              <div class="columns is-multiline">
                <div class="column is-4">
                  <div class="form-field">
                    <label class="form-label">Repository URL</label>
                    <input class="form-input" type="text" placeholder="Git URL" name="url" [(ngModel)]="repository.url" required>
                  </div>
                </div>
                <div class="column is-4">
                  <div class="form-field">
                    <label class="form-label">Username</label>
                    <input class="form-input" type="text" placeholder="Username">
                  </div>
                </div>
                <div class="column is-4">
                  <div class="form-field">
                    <label class="form-label">Password / Token</label>
                    <input class="form-input" type="password" placeholder="Username">
                  </div>
                </div>
                <div class="column is-12">
                  <hr/>
                </div>
                <div class="column is-12">
                  <button type="submit" class="button green float-right" [disabled]="!repositoryForm.valid">Save</button>
                </div>
              </div>
            </form>
          </div>

          <div class="column is-12" *ngIf="!repositories || !repositories.length">
            <div class="notification">
              <span class="icon">
                <img src="images/icons/info.svg">
              </span>
              <span>No repositories found.</span>
            </div>
          </div>

          <div class="column is-12" *ngIf="repositories && repositories.length">
            <div class="columns list-header">
              <div class="column is-4">Repository URL</div>
              <div class="column is-3">Default Branch</div>
              <div class="column is-3">Status</div>
              <div class="column is-2"></div>
            </div>
            <div class="columns list-item" *ngFor="let repo of repositories; let i = index;">
              <div class="column is-4">
                <span class="icon">
                  <img src="images/icons/git-repository.svg">
                </span>
                <span>{{ repo.url }}</span>
              </div>
              <div class="column is-3">
                <span class="icon">
                  <img src="images/icons/git-branch.svg">
                </span>
                <span>master</span>
              </div>
              <div class="column is-3">
                <span class="status-circle green"></span>
                <span>Passing</span>
              </div>
              <div class="column is-2">
                <div class="button-addon" (click)="toggleDropdown($event, i)">
                  <button type="button" class="button">
                    Actions
                  </button>
                  <span class="button-item">
                    <img src="images/icons/dropdown.svg">
                  </span>
                  <div class="button-dropdown" [ngClass]="{ 'is-active': dropdowns[i] }">
                    <div class="button-dropdown-item" (click)="runBuild($event, repo.id, 'master')">Trigger Build</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
