<div class="list-item">
  <div class="columns">
    <div class="column is-1">
      <div class="list-item-content">
        <span class="label">ID</span>
        <span class="text has-border">{{ integration?.id }}</span>
      </div>
    </div>
    <div class="column is-2">
      <div class="list-item-content">
        <span class="label">Provider</span>
        <span class="text">{{ integration?.provider }}</span>
      </div>
    </div>
    <div class="column is-7"></div>
    <div class="column is-2">
      <div class="list-item-content">
        <button type="button" class="button">
          <i class="fas fa-chart-bar"></i>
          <span>Import</span>
        </button>
      </div>
    </div>
  </div>
</div>
