<div class="columns is-multiline">
  <div class="column is-12" *ngIf="fetchingBuild">
    <app-loader></app-loader>
  </div>
  <div class="column is-12" *ngIf="!fetchingBuild">
    <div class="columns is-multiline build-info">
      <div class="column is-6 align-center">
        <h1>{{ build?.repository_name }}</h1>
        <i class="fas fa-code-branch"></i>
        <span>{{ build?.branch }}</span>
      </div>
      <div class="column is-6 justify-end">
        <button type="button" class="button" [disabled]="fetchingBuild || build?.processing || !build?.hasPermission" (click)="restartBuild($event)">
          <i class="fa fa-sync-alt"></i>
          <span>Restart Build</span>
        </button>
        <button type="button" class="button" [disabled]="fetchingBuild || build?.processing || build?.status !== 'running' || !build?.hasPermission"
          (click)="stopBuild($event)">
          <i class="fa fa-hand-paper"></i>
          <span>Stop Build</span>
        </button>
      </div>
      <div class="column is-11 align-center data-column">
        <img [src]="build?.author_avatar" class="info-avatar" [alt]="build?.author_name">
        <img [src]="build?.committer_avatar" class="info-avatar committer-avatar" [alt]="build?.committer_name"
          *ngIf="build?.committer_avatar && build?.author_avatar !== build?.committer_avatar">
        <span *ngIf="build?.author_name && build?.committer_name === build?.author_name">
          {{ build?.author_name }} authored and committed
        </span>
        <span *ngIf="build?.committer_name !== build?.author_name">
          {{ build?.author_name }} committed with {{ build?.committer_name }}
        </span>
        <img src="/assets/images/icons/code-commit.svg" alt="Commit">
        <span>{{ build?.getSHA() }}</span>
        <i class="fas fa-comment"></i>
        <span class="commit-message">{{ build?.commit_message }}</span>
      </div>
      <div class="column is-1 align-center time-column justify-end">
        <img src="/assets/images/icons/clock.svg" class="icon-clock">
        <span class="build-time" *ngIf="build?.status !== 'running' && maxCompletedJobTime">
          {{ maxCompletedJobTime | toTime }}
        </span>
        <span class="build-time" *ngIf="build?.status !== 'running' && !maxCompletedJobTime">00:00</span>
        <span class="build-time" *ngIf="build?.status === 'running' && maxCompletedJobTime > (currentTime - minRunningJobStartTime)">
          {{ maxCompletedJobTime | toTime }}
        </span>
        <span class="build-time" *ngIf="build?.status === 'running' && (!maxCompletedJobTime || maxCompletedJobTime <= (currentTime - minRunningJobStartTime))">
          {{ currentTime - minRunningJobStartTime | toTime }}
        </span>
      </div>
      <div class="column is-12">
        <div class="message is-green" *ngIf="build?.status === 'passed'">
          <p>
            <i class="fas fa-check"></i>
            <span>Build passed.</span>
          </p>
        </div>
        <div class="message is-red" *ngIf="build?.status === 'failed'">
          <p>
            <i class="fas fa-times"></i>
            <span>Build failed.</span>
          </p>
        </div>
        <div class="message is-yellow" *ngIf="build?.status === 'running'">
          <p>
            <img src="/assets/images/icons/spinner-yellow.svg" class="img-icon">
            <span>Build is running.</span>
          </p>
        </div>
        <div class="message" *ngIf="build?.status === 'queued'">
          <p>
            <i class="fas fa-clock"></i>
            <span>Build is queued.</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-12" *ngIf="!fetchingBuild">
    <div class="build-jobs">
      <h2>Build Jobs</h2>
      <hr/>
      <app-build-job-item [job]="job" [build]="build" [currentTime]="currentTime" *ngFor="let job of build?.jobs; let i = index;"></app-build-job-item>
    </div>
  </div>
</div>
