<div class="modal-header">
  <img src="/assets/images/icons/code-repo-green.svg" class="header-icon" />
  <div class="header-title">
    <h1>Repository</h1>
    <!-- <h2>{{ repo?.fullName }} @ {{ repo?.providerName }}</h2> -->
    <h2>Show answers to commonly asked questions.</h2>
  </div>
  <span class="icon close-icon is-action" (click)="activeModal.dismiss(false)">
    <i class="fas fa-times"></i>
  </span>
</div>
<div class="modal-body">
  <div class="columns is-multiline">
    <div class="section">
      <div class="column is-12">
        <h3>Visibility</h3>
        <p>When should this tool be shown? <a>Edit hours of operation</a></p>
      </div>
    </div>
    <div class="section">
      <div class="column is-12">
        <h3>Introduction media</h3>
        <p>Add an image or video to the top of your form.</p>
      </div>
    </div>
    <!-- <div class="column is-12">
      <form #providerForm="ngForm">
        <div class="columns">
          <div class="column is-4">
            <div class="field">
              <label class="label">Provider</label>
              <app-selectbox name="name" [values]="providerList" [(ngModel)]="provider.name"
                (ngModelChange)="updateProviderURL()" required>
              </app-selectbox>
            </div>
          </div>
          <div class="column is-8">
            <div class="field">
              <label class="label">URL</label>
              <input type="text" name="url" class="input" [(ngModel)]="provider.url" required autocomplete="off">
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column is-12">
            <div class="field">
              <label class="label">Access Token</label>
              <input type="text" name="access_token" class="input" [(ngModel)]="provider.accessToken" required
                autocomplete="off">
            </div>
          </div>
        </div>
      </form>
    </div> -->
  </div>
</div>
<div class="modal-footer space-between">
  <div class="align-center"></div>
  <div class="align-center">
    <button type="button" class="button" (click)="activeModal.close()">Cancel</button>
    <button type="button" class="button is-green" (click)="activeModal.close()">Save</button>
  </div>
</div>
