<div class="container">
  <div class="columns is-multiline">
    <div class="column is-12" *ngIf="fetchingBuilds">
      <app-loader></app-loader>
    </div>

    <div class="column is-6 is-offset-3" [hidden]="!error">
      <div class="notification is-red">
        <i class="far fa-comment-dots"></i>
        <p>{{ error }}.</p>
      </div>
    </div>

    <div class="column is-6 is-offset-3" *ngIf="!fetchingBuilds && !builds.length">
      <div class="notification">
        <i class="far fa-list-alt"></i>
        <p>No builds found.</p>
      </div>
    </div>

    <div class="column is-12" *ngIf="!fetchingBuilds && builds.length">
      <div class="list-heading">
        <div class="columns">
          <div class="column is-1"><span class="text ml10">ID</span></div>
          <div class="column is-3"><span class="text ml10">Repository</span></div>
          <div class="column is-2"><span class="text ml10">Commit / Branch</span></div>
          <div class="column is-2"><span class="text justify-center">Created</span></div>
          <div class="column is-1"><span class="text justify-center">Status</span></div>
          <div class="column is-1"><span class="text justify-center">Time</span></div>
          <div class="column is-2"><span class="text justify-center">Actions</span></div>
        </div>
      </div>
      <div class="list-items">
        <app-build-list-item [build]="b" *ngFor="let b of builds"></app-build-list-item>
      </div>
    </div>

    <div class="column is-12" *ngIf="builds.length && !fetchingBuilds">
      <div class="align-center justify-center mtb10" *ngIf="!hideMoreButton">
        <button type="button" class="button" (click)="find()">
          <app-loader class="is-small" *ngIf="fetchingMore"></app-loader>
          <span *ngIf="fetchingMore">Loading...</span>
          <i class="fas fa-ellipsis-v" *ngIf="!fetchingMore"></i>
          <span *ngIf="!fetchingMore">Load More</span>
        </button>
      </div>
    </div>
  </div>
</div>
