[hidden]
  display: none !important

.justify-center
  display: flex
  justify-content: center

.justify-start
  display: flex
  justify-content: flex-start

.justify-end
  display: flex
  justify-content: flex-end

.space-between
  display: flex
  justify-content: space-between

.align-center
  display: flex
  align-items: center
