[hidden]
  display: none !important

.justify-center
  display: flex !important
  justify-content: center !important

.justify-start
  display: flex !important
  justify-content: flex-start

.justify-end
  display: flex !important
  justify-content: flex-end

.space-between
  display: flex !important
  justify-content: space-between

.align-center
  display: flex !important
  align-items: center

.border-top
  border-top: 1px solid $border-default

.mt30
  margin-top: 30px

.mb30
  margin-bottom: 30px

.pt10
  padding-top: 10px

.pb10
  padding-bottom: 10px

.pt20
  padding-top: 20px

.pb20
  padding-bottom: 20px
