<header class="subheader">
  <nav class="subheader-links">
    <a [routerLink]="['/repos', id, 'builds']" routerLinkActive="is-active">Builds</a>
    <a [routerLink]="['/repos', id, 'branches']" routerLinkActive="is-active">Branches</a>
    <a [routerLink]="['/repos', id, 'pull-requests']" routerLinkActive="is-active">Pull Requests</a>
    <a [routerLink]="['/repos', id, 'settings']" routerLinkActive="is-active"
      *ngIf="(reposService.repo | async)?.perms?.write">Settings</a>
  </nav>
  <div class="container">
    <div class="subheader-container">
      <div class="subheader-left">
        <h1>{{ (reposService.repo | async)?.fullName }}</h1>
        <h2>{{ title }}</h2>
      </div>
      <div class="subheader-right"></div>
    </div>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>
