<div class="list-item-slim" [routerLink]="['/builds', build?.repository?.id, build?.id]">
  <div class="columns is-marginless is-paddingless">
    <div class="column is-1 data-column">
      <div class="data-text has-text-left is-light align-center no-padding">
        <span class="status-line"
          [ngClass]="{ 'is-queued': build?.status === 'queued', 'is-passing': build?.status === 'passing', 'is-failing': build?.status === 'failing', 'is-running': build?.status === 'running' }"></span>
        <span>#{{ build?.id }}</span>
      </div>
    </div>
    <div class="column is-1 data-column">
      <div class="info-text align-center">
        <img [src]="build?.committerAvatar" class="committer-avatar">
      </div>
    </div>
    <div class="column is-2 data-column">
      <div class="info-text has-text-left align-center">
        <i class="octicon octicon-repo repo-icon"></i>
        <span class="repo-name">{{ build?.repository?.name }}</span>
      </div>
    </div>
    <div class="column is-2 data-column">
      <div class="info-text has-text-left align-center">
        <i class="octicon octicon-git-branch repo-icon"></i>
        <span class="small-text">{{ build?.branch }}</span>
      </div>
    </div>
    <div class="column is-2 data-column">
      <div class="info-text has-text-left align-center">
        <i class="far fa-calendar-alt"></i>
        <span class="small-text">{{ build?.createdAtWords | async }}</span>
      </div>
    </div>
    <div class="column is-1 data-column">
      <span class="tag is-medium"
        [ngClass]="{ 'is-gray': build?.status === 'queued', 'is-green': build?.status === 'passing', 'is-red': build?.status === 'failing', 'is-yellow': build?.status === 'running' }">
        <i class="fas fa-check-circle" *ngIf="build?.status === 'passing'"></i>
        <i class="fas fa-times-circle" *ngIf="build?.status === 'failing'"></i>
        <i class="far fa-clock" *ngIf="build?.status === 'queued'"></i>
        <i *ngIf="build?.status === 'running'">
          <app-spinner class="is-small is-yellow"></app-spinner>
        </i>
        <span>{{ build?.status }}</span>
      </span>
    </div>
    <div class="column is-1 data-column">
      <span class="data-text justify-center">{{ build?.runningTime | async }}</span>
    </div>
    <div class="column is-2 data-column justify-center" appStopPropagation>
      <button type="button" class="button is-small" (click)="restartBuild()" [disabled]="build?.processing">
        <i class="fas fa-sync-alt"></i>
        <span>Restart</span>
      </button>
      <button type="button" class="button is-small" (click)="stopBuild()"
        [disabled]="(build?.status !== 'running' && build?.status !== 'queued') || build?.processing">
        <i class="fas fa-hand-paper"></i>
        <span>Stop</span>
      </button>
    </div>
  </div>
</div>
