<app-header></app-header>

<div class="container" *ngIf="loading">
  <img src="images/icons/flickr.svg" class="main-loader">
</div>

<div class="container" *ngIf="!loading">
  <div class="columns">
    <div class="column is-12">
      <div class="content">
        <div class="columns is-multiline">
          <div class="column is-12" *ngIf="build">
            <div class="build-top-container" [ngClass]="{ green: status === 'success', yellow: status === 'running', red: status === 'failed' }">
              <div class="build-top-content">
                <div class="columns is-multiline">
                  <div class="column is-8">
                    <h1 class="bold">
                      <span *ngIf="build?.data?.repository?.full_name"><a [routerLink]="['/repo', build?.data?.repository.id]">{{ build?.data?.repository.full_name }}</a></span>
                      <span *ngIf="!build?.data?.repository?.full_name && build?.data?.project?.path_with_namespace"><a [routerLink]="['/repo', build?.data?.repository.id]">{{ build?.data?.project?.path_with_namespace }}</a></span>
                      <span class="build-icon">
                        <img src="images/icons/clock.svg" *ngIf="status === 'queued'">
                        <img src="images/icons/flickr.svg" *ngIf="status === 'running'">
                        <img src="images/icons/check-true.svg" *ngIf="status === 'success'">
                        <img src="images/icons/check-false.svg" *ngIf="status === 'failed'">
                      </span>
                    </h1>
                  </div>
                  <div class="column is-2" [class.is-hidden]="status !== 'success' && status !== 'failed'"></div>
                  <div class="column is-2" *ngIf="userId && build?.hasPermission">
                    <button class="button is-fullwidth dark" name="restart-build" type="button" (click)="restartBuild($event, build.id)" [disabled]="processingBuild">
                      <div class="centered">
                        <span class="icon">
                          <img src="images/icons/restart.svg">
                        </span>
                        <span>Restart Build</span>
                      </div>
                    </button>
                  </div>
                  <div class="column is-2" *ngIf="build?.hasPermission" [class.is-hidden]="status === 'success' || status === 'failed'">
                    <button class="button is-fullwidth dark" name="stop-build" type="button" (click)="stopBuild($event, build.id)" [disabled]="processingBuild">
                      <div class="centered">
                        <span class="icon">
                          <img src="images/icons/stop.svg">
                        </span>
                        <span>Stop Build</span>
                      </div>
                    </button>
                  </div>

                  <hr/>

                  <div class="column is-1">
                    <p>
                      <span class="icon">
                        <img src="images/icons/git-commit.svg">
                      </span>
                      <span *ngIf="build?.data?.pull_request?.head?.sha">{{ build?.data?.pull_request?.head?.sha.slice(0, 7) }}</span>
                      <span *ngIf="!build?.data?.pull_request?.head?.sha && build?.data?.after">{{ build?.data?.after.slice(0, 7) }}</span>
                      <span *ngIf="!build?.data?.pull_request?.head?.sha && !build?.data?.after && build?.data?.sha">{{ build?.data?.sha.slice(0, 7) }}</span>
                      <span *ngIf="!build?.data?.pull_request?.head?.sha && !build?.data?.after && !build?.data?.sha && build?.data?.object_attributes?.last_commit?.id">{{ build?.data?.object_attributes?.last_commit?.id.slice(0,7) }}</span>
                    </p>
                  </div>
                  <div class="column is-4">
                    <p *ngIf="build?.data?.pull_request && !tag">{{ build?.data?.pull_request?.title }}</p>
                    <p *ngIf="!build?.data?.pull_request && build?.data?.commits && !tag">{{ build?.data?.commits[0]?.message }}</p>
                    <p *ngIf="!build?.data?.pull_request && !build?.data?.commits && build?.data?.message && !tag">{{ build?.data?.message }}</p>
                    <p *ngIf="!build?.data?.pull_request && !build?.data?.commits && !build?.data?.message && build?.data?.object_attributes?.last_commit?.message !tag">{{ build?.data?.object_attributes?.last_commit?.message }}</p>
                    <p *ngIf="tag">{{ build?.data?.head_commit?.message }}</p>
                  </div>
                  <div class="column is-4">
                    <p class="text-small">
                      <span class="avatar-img-container">
                        <img *ngIf="build?.data?.sender?.avatar_url && authorAvatar" [src]="authorAvatar" class="avatar-img">
                        <img *ngIf="build?.data?.sender?.avatar_url && authorAvatar && authorAvatar !== committerAvatar" [src]="committerAvatar" class="avatar-small">
                        <img *ngIf="!build?.data?.sender?.avatar_url && build?.data?.actor?.links?.avatar?.href" [src]="build?.data?.actor?.links?.avatar?.href" class="avatar-img">
                        <img *ngIf="!build?.data?.sender?.avatar_url && !build?.data?.actor?.links?.avatar?.href && build?.data?.user_avatar" [src]="build?.data?.user_avatar" class="avatar-img">
                        <img *ngIf="!build?.data?.sender?.avatar_url && !build?.data?.actor?.links?.avatar?.href && !build?.data?.user_avatar && build?.data?.user?.avatar_url" class="avatar-img" [src]="build?.data?.user?.avatar_url">
                      </span>
                      <span *ngIf="(build?.data?.pull_request || build?.data?.head_commit) && !tag && build?.data?.head_commit?.author?.username === build?.data?.head_commit?.committer?.username">{{ nameAuthor }} commited</span>
                      <span *ngIf="!build?.data?.pull_request && build?.data?.head_commit && !tag && build?.data?.head_commit?.author?.username !== build?.data?.head_commit?.committer?.username">
                        {{ nameAuthor }} committed with {{ nameCommitter }}
                      </span>
                      <span *ngIf="!build?.data?.pull_request && !build?.data?.commits && build?.data?.actor?.display_name && !tag">{{ build?.data?.actor?.display_name }} committed</span>
                      <span *ngIf="!build?.data?.pull_request && !build?.data?.commits && !build?.data?.actor?.display_name && build?.data?.user?.name && !tag">{{ build?.data?.user?.name }} committed</span>
                      <span *ngIf="tag">{{ build?.data?.head_commit?.comitter?.name }} committed</span>
                      <span class="text-time">{{ timeWords }} ago</span>
                    </p>
                  </div>
                  <div class="column is-2">
                    <p *ngIf="status === 'running' && previousRuntime && previousRuntime >= (totalTime | timeDurationRaw)" class="text-small">
                      <span>approximately {{ previousRuntime - (totalTime | timeDurationRaw) | date:'mm:ss' }} remaining</span>
                    </p>
                  </div>
                  <div class="column is-1">
                    <p class="total-time">
                      <img src="images/icons/clock.svg">
                      <span *ngIf="status !== 'running'">{{ totalTime | toTime }}</span>
                      <span *ngIf="status === 'running'">{{ totalTime | timeDuration }}</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="column is-12" *ngIf="build?.jobs && build?.jobs.length">
            <div class="columns list-item list-item-slim"
                 *ngFor="let job of build.jobs; let i = index;"
                 [ngClass]="{ 'is-queued': job.status === 'queued', 'is-success': job.status === 'success', 'is-running': job.status === 'running', 'is-errored': job.status === 'failed' }"
                 (click)="gotoJob($event, job.id)">
              <div class="column is-1">
                <span class="bold larger"># {{ build.id }}.{{ job.id }}</span>
              </div>
              <div class="column is-4">
                <div class="icon-and-text">
                  <span class="icon is-medium">
                    <img src="images/icons/linux.svg">
                  </span>
                </div>
                <div class="icon-and-text">
                  <span class="icon is-medium">
                    <img src="images/icons/node_js.svg" *ngIf="job?.data?.language === 'node_js'">
                  </span>
                  <span class="version">{{ job?.data?.display_version }}</span>
                </div>
              </div>
              <div class="column is-3">
                <div class="icon-and-text">
                  <span class="icon is-medium">
                    <img src="images/icons/computing-script.svg">
                  </span>
                  <span>{{ job?.data?.display_env }}</span>
                </div>
              </div>
              <div class="column is-2">
                <progress min="0" max="1" [value]="(job.start_time | timeDurationRaw) / job.lastRunTime" *ngIf="job?.status === 'running' && job?.lastRunTime"></progress>
                <span class="data-label green" *ngIf="job?.status === 'success'">Success</span>
                <span class="data-label red" *ngIf="job?.status === 'failed'">Failed</span>
                <span class="data-label bright" *ngIf="job?.status === 'queued'">Queued</span>
              </div>
              <div class="column is-1">
                <span class="job-time" *ngIf="job?.status === 'running'">{{ job.start_time | timeDuration }}</span>
                <span class="job-time" *ngIf="job?.status === 'success' || job?.status === 'failed'">{{ job.end_time - job.start_time | toTime }}</span>
                <span class="job-time" *ngIf="job?.status === 'queued'">00:00</span>
              </div>
              <div class="column is-1" *ngIf="userId && build?.hasPermission">
                <span class="icon" name="restart-job" (click)="restartJob($event, job.id)" [class.disabled]="job.processing">
                  <svg width="15px" height="14px" viewBox="0 0 15 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="icon" fill-rule="nonzero" fill="#FFFFFF">
                        <path d="M12.083,1.887 C11.288,1.093 10.353,0.528 9.356,0.19 L9.356,2.325 C9.836,2.564 10.291,2.875 10.69,3.275 C12.683,5.269 12.683,8.511 10.69,10.504 C8.697,12.494 5.457,12.494 3.461,10.504 C1.47,8.509 1.47,5.269 3.461,3.275 C3.466,3.269 3.482,3.259 3.489,3.25 L3.491,3.25 L4.672,4.429 L4.665,0.685 L0.923,0.68 L2.099,1.856 C2.092,1.868 2.081,1.88 2.072,1.887 C-0.691,4.649 -0.691,9.13 2.072,11.892 C4.839,14.657 9.317,14.657 12.083,11.892 C14.844,9.13 14.847,4.649 12.083,1.887 Z" id="Shape"></path>
                      </g>
                    </g>
                  </svg>
                </span>
                <span class="icon" name="stop-job" (click)="stopJob($event, job.id)" [class.disabled]="job.processing" [class.is-hidden]="status === 'success' || status === 'failed'">
                  <svg width="44px" height="44px" viewBox="0 0 44 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="cancel-2" fill-rule="nonzero" fill="#FFFFFF">
                        <path d="M22,0 C9.8,0 0,9.8 0,22 C0,34.2 9.8,44 22,44 C34.2,44 44,34.2 44,22 C44,9.8 34.2,0 22,0 Z M25.2,22.4 L32.7,29.9 C32.9,30.1 33,30.4 33,30.6 C33,30.8 32.9,31.1 32.7,31.3 L31.3,32.7 C31.1,32.9 30.8,33 30.6,33 C30.3,33 30.1,32.9 29.9,32.7 L22.4,25.2 C22.2,25 21.9,25 21.7,25.2 L14.2,32.7 C14,32.9 13.7,33 13.5,33 C13.2,33 13,32.9 12.8,32.7 L11.4,31.3 C11.2,31.1 11.1,30.8 11.1,30.6 C11.1,30.4 11.2,30.1 11.4,29.9 L18.9,22.4 C19.1,22.2 19.1,21.9 18.9,21.7 L11.4,14.2 C11.2,14 11.1,13.7 11.1,13.5 C11.1,13.3 11.2,13 11.4,12.8 L12.8,11.4 C13,11.2 13.3,11.1 13.5,11.1 C13.7,11.1 14,11.2 14.2,11.4 L21.7,18.9 C21.9,19.1 22.2,19.1 22.4,18.9 L29.9,11.4 C30.1,11.2 30.4,11.1 30.6,11.1 C30.9,11.1 31.1,11.2 31.3,11.4 L32.7,12.8 C32.9,13 33,13.3 33,13.5 C33,13.7 32.9,14 32.7,14.2 L25.2,21.7 C25,21.8 25,22.2 25.2,22.4 L25.2,22.4 Z" id="Shape"></path>
                      </g>
                    </g>
                  </svg>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
