<app-header></app-header>

<div class="container">
  <div class="columns">
    <div class="column is-12">
      <div class="content">
        <div class="columns is-multiline">
          <div class="column is-12" *ngIf="build">
            <div class="build-top-container" [ngClass]="{ green: status === 'success', yellow: status === 'running', red: status === 'failed' }">
              <div class="build-top-content">
                <div class="columns">
                  <div class="column is-1">
                    <span class="build-icon">
                      <img src="images/icons/hourglass.svg" *ngIf="status === 'queued'">
                      <img src="images/icons/flickr.svg" *ngIf="status === 'running'">
                      <img src="images/icons/check-true.svg" *ngIf="status === 'success'">
                      <img src="images/icons/check-false.svg" *ngIf="status === 'failed'">
                    </span>
                  </div>
                  <div class="column is-9">
                    <h1 class="bold">{{ build.repository.url }}</h1>
                    <h2>{{ build.commit_message }}</h2>
                  </div>
                  <div class="column is-2">
                    <button class="button is-fullwidth" type="button">
                      Restart Build
                    </button>
                  </div>
                </div>
                <div class="columns">
                  <div class="column is-1"></div>
                  <div class="column is-9">
                    <p>{{ build.commit_hash }}</p>
                  </div>
                  <div class="column is-2">
                    <span class="total-time">
                      <span class="icon">
                        <img src="images/icons/hourglass.svg">
                      </span>
                      5:32
                    </span>
                  </div>
                </div>
                <div class="columns">
                  <div class="column is-1"></div>
                  <div class="column is-11">
                    <p>{{ build.commit_author }} authored and commited {{ timeWords }} ago.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="column is-12" *ngIf="build && build.jobs && build.jobs.length">
            <div class="columns list-header">
              <div class="column is-1">Job Id</div>
              <div class="column is-4">Environment</div>
              <div class="column is-3">Script</div>
              <div class="column is-1">Time</div>
              <div class="column is-2">Status</div>
              <div class="column is-1"></div>
            </div>
            <div class="columns list-item"
                 *ngFor="let job of build.jobs; let i = index;"
                 [ngClass]="{ 'is-queued': job.status === 'queued', 'is-success': job.status === 'success', 'is-running': job.status === 'running', 'is-errored': job.status === 'failed' }"
                 (click)="gotoJob($event, job.id)">
              <div class="column is-1">
                <span># {{ build.id }}.{{ job.id }}</span>
              </div>
              <div class="column is-4">
                <div class="icon-and-text">
                  <span class="icon">
                    <img src="images/icons/linux.svg">
                  </span>
                  <span>Linux</span>
                </div>
                <div class="icon-and-text">
                  <span class="icon">
                    <img src="images/icons/code.svg">
                  </span>
                  <span *ngIf="job.language === 'node_js'">Node.js:</span>
                  <span class="version">{{ job.language_version }}</span>
                </div>
              </div>
              <div class="column is-3">
                <div class="icon-and-text">
                  <span class="icon script">
                    <img src="images/icons/computing-script.svg">
                  </span>
                  <span>{{ job.test_script }}</span>
                </div>
              </div>
              <div class="column is-1">
                <span>{{ job.time }}</span>
              </div>
              <div class="column is-2">
                <span class="status-circle" [ngClass]="{ green: job.status === 'success', yellow: job.status === 'running', red: job.status === 'failed' }"></span>
                <span>{{ job.status }}</span>
              </div>
              <div class="column is-1">
                <button type="button" class="button green" (click)="restartJob($event, job.id)" *ngIf="job.status !== 'running'" [disabled]="job.status === 'queued'">
                  Restart
                </button>
                <button type="button" class="button red" (click)="stopJob($event, job.id)" *ngIf="job.status === 'running'">
                  Stop
                </button>
              </div>
            </div>
          </div>

          <!--<div class="column is-12">
            <app-terminal [data]="terminalInput" (outputData)="terminalOutput($event)" [options]="terminalOptions"></app-terminal>
          </div>-->
        </div>
      </div>
    </div>
  </div>
</div>
