<div class="image-item">
  <div class="columns is-marginless is-paddingless">
    <div class="column is-2 is-marginless is-paddingless data-column">
      <span class="heading-text">Repository / Name</span>
      <span class="data-text">{{ image?.repository }}</span>
    </div>
    <div class="column is-2 is-marginless is-paddingless data-column">
      <span class="heading-text">Tag</span>
      <span class="data-text">{{ image?.tag }}</span>
    </div>
    <div class="column is-2 is-marginless is-paddingless data-column">
      <span class="heading-text">Image ID</span>
      <span class="data-text">{{ image?.getSHA() }}</span>
    </div>
    <div class="column is-2 is-marginless is-paddingless data-column">
      <span class="heading-text">Created</span>
      <span class="data-text">{{ image?.getCreatedTime() }}</span>
    </div>
    <div class="column is-1 is-marginless is-paddingless data-column">
      <span class="heading-text">Size</span>
      <span class="data-text">{{ image?.size }}</span>
    </div>
    <div class="column is-3 is-marginless is-paddingless buttons-column justify-end">
      <button type="button" class="button is-small">Delete</button>
      <button type="button" class="button is-small">Log</button>
    </div>
  </div>
</div>
