@import 'colours'
@import 'variables'
@import 'typography'

$terminal-height: 500px

.terminal
  display: block
  width: 100%
  height: $terminal-height
  position: relative

  .xterm
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    width: 100%
    height: 100%
    padding: 10px
    border-radius: $border-radius
    height: $terminal-height

    .xterm-viewport
      border-radius: $border-radius
      height: $terminal-height
      border: 1px solid var(--border-default)
