<div class="modal-header">
  <div class="header-title">
    <h1>Docker Image</h1>
    <h2>Build Docker Image</h2>
  </div>
  <span class="icon close-icon is-action" (click)="activeModal.dismiss(false)" [class.events-none]="building">
    <i class="fas fa-times"></i>
  </span>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="tabs">
      <span class="tab" [class.is-active]="tab === 'form'" (click)="tab = 'form'">Form</span>
      <span class="tab" [class.is-active]="tab === 'log'" (click)="tab = 'log'">Build Log</span>
    </div>
    <div class="columns is-multiline" *ngIf="tab === 'form'">
      <div class="column is-6">
        <div class="field">
          <label class="label">Name</label>
          <input type="text" name="name" class="input" placeholder="Image Name" formControlName="name"
            autocomplete="off" />
        </div>
      </div>
      <div class="column is-6">
        <div class="field">
          <label class="label">Tags</label>
          <input type="text" name="tag" class="input" placeholder="Image Tag or Version" formControlName="tag"
            autocomplete="off" />
          <span class="form-helper">Multiple tags can be provided separated by commas.</span>
        </div>
      </div>
      <div class="column is-12">
        <div class="field">
          <label class="label">Dockerfile</label>
          <div class="editor-container">
            <ngx-monaco-editor style="height: 100%; border-radius: 4px;" [options]="editorOptions"
              formControlName="dockerfile">
            </ngx-monaco-editor>
          </div>
        </div>
      </div>
    </div>
    <div class="columns is-multiline" *ngIf="tab === 'log'">
      <div class="column is-12" *ngIf="tag || tags.length">
        <div class="tabs mt10" *ngIf="tags.length">
          <span class="tab" [class.is-active]="activeTag === t" *ngFor="let t of tags"
            (click)="activeTag = t">{{ t.tag }}</span>
        </div>
        <app-terminal class="is-small" [data]="activeTag!.buildLog" *ngIf="activeTag && tags.length"></app-terminal>
        <app-terminal class="is-small" [data]="tag!.buildLog" *ngIf="!tags.length"></app-terminal>
      </div>
    </div>
  </div>
  <div class="modal-footer space-between">
    <div class="align-center"></div>
    <div class="align-center">
      <button type="button" class="button" (click)="activeModal.close()" [disabled]="building">Cancel</button>
      <button type="submit" class="button is-green" [disabled]="!form.valid || building">
        <span *ngIf="!building">Build Image</span>
        <app-loader class="is-small is-white" *ngIf="building"></app-loader>
        <span *ngIf="building">Building Image...</span>
      </button>
    </div>
  </div>
</form>
