<div class="dialog-overlay">
  <div class="dialog-container">
    <div class="dialog-header">
      <h1>Team</h1>
      <i class="fa fa-times" (click)="teamsService.closeTeamDialog()"></i>
    </div>
    <div class="dialog-body">

      <div class="tabs">
        <span class="tab" [class.is-active]="tab === 'general'" (click)="switchTab('general')">General</span>
        <span class="tab" [class.is-active]="tab === 'users'" (click)="switchTab('users')">Users</span>
        <span class="tab" [class.is-active]="tab === 'permissions'" (click)="switchTab('permissions')">Permissions</span>
      </div>

      <div class="general-tab" *ngIf="tab === 'general'">
        <form #form="ngForm" class="no-padding">
          <div class="field">
            <label class="label">Team Title</label>
            <input type="text" class="input" name="title" placeholder="Team Title" [(ngModel)]="team.title" required
              minlength="3">
            <p class="input-info">Name.</p>
          </div>
          <div class="field">
            <label class="label">Description</label>
            <input type="text" class="input" name="description" placeholder="Team Description" [(ngModel)]="team.description"
              required>
            <p class="input-info">A few words what this group is all about.</p>
          </div>
          <div class="field">
            <label class="label">Placeholder Color</label>
            <app-color-picker name="color" [(ngModel)]="team.color" required></app-color-picker>
            <p class="input-info">Pick a color used in placeholders and tags for this group.</p>
          </div>
        </form>
      </div>

      <div class="users-tab" *ngIf="tab === 'users'">

        <div class="dialog-search-input">
          <input type="text" class="input" placeholder="Search to add users...">
          <i class="fa fa-search"></i>
        </div>

        <div class="user-item" *ngFor="let user of team?.users">
          <div class="columns">
            <div class="column is-2 justify-center align-center">
              <img [src]="user.avatar" class="user-avatar">
            </div>
            <div class="column is-8">
              <div class="user-data">
                <span class="name">Jan Kuri</span>
                <span class="email">jkuri88@gmail.com</span>
              </div>
            </div>
            <div class="column is-2 justify-end align-center">
              <button type="button" class="button is-xsmall is-red mr10">
                <span>Remove</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="permissions-tab" *ngIf="tab === 'permissions'">
        <!-- <div class="notification is-red mt20" *ngIf="errorFetchingPredefinedPermissions">
          <img src="/assets/images/icons/important-red.svg" class="notification-icon">
          <i class="fa fa-times close-icon" (click)="errorFetchingPredefinedPermissions = null"></i>
          <p>HTTP Error: {{ errorFetchingPredefinedPermissions | json }}</p>
        </div>
        <app-loader *ngIf="fetchingPredefinedPermissions && !errorFetchingPredefinedPermissions" class="mtb20"></app-loader> -->
        <div class="field">
          <label class="label">Team Applied Permissions</label>
          <div class="checkboxes-container">
            <div class="checkbox-item" *ngFor="let permission of team.permissions">
              <span class="label">{{ permission.title }}</span>
              <app-checkbox [(ngModel)]="permission.write" [disabled]="team.id === 1"></app-checkbox>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="dialog-footer justify-end">
      <button type="button" class="button" (click)="teamsService.closeTeamDialog()">
        <i class="fa fa-times"></i>
        <span>Cancel</span>
      </button>
      <button type="button" class="button" [disabled]="savingTeam" (click)="saveTeam()">
        <i class="fa fa-check"></i>
        <span>Save</span>
      </button>
    </div>
  </div>
</div>
