<div class="dialog-overlay">
  <div class="dialog-container">
    <div class="dialog-header">
      <h1>Team</h1>
      <i class="fa fa-times"></i>
    </div>
    <div class="dialog-body">
      <form>
        <div class="field">
          <label class="label">Placeholder Color</label>
          <app-color-picker></app-color-picker>
        </div>
      </form>
    </div>
    <div class="dialog-footer justify-end">
      <button type="button" class="button">
        <span>Close</span>
      </button>
    </div>
  </div>
</div>
