<header class="nav">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item nav-logo" routerLink="/">
        <img src="images/abstruse-text-logo.svg">
      </a>
      <a class="nav-item nav-team is-hidden-mobile" routerLink="/dashboard" routerLinkActive="is-active">
        Dashboard
      </a>
      <a class="nav-item nav-team is-hidden-mobile" routerLink="/team" routerLinkActive="is-active" *ngIf="user">
        Team
      </a>
      <a class="nav-item is-hidden-mobile" routerLink="/repositories" routerLinkActive="is-active">
        Repositories
      </a>
      <a class="nav-item is-hidden-mobile" routerLink="/images" routerLinkActive="is-active">
        Images
      </a>
    </div>
    <div class="nav-right">
      <a class="nav-item notification-item is-hidden-mobile" *ngIf="user" (click)="toggleNotify()">
        <img src="/images/icons/notification.svg">
        <div class="notify-num-container" *ngIf="notifications?.length">
          <span>{{ notifications?.length }}</span>
        </div>
        <div class="notification-dropdown" *ngIf="notifyDropped">
          <div class="notification-item" *ngFor="let notify of notifications; let i = index;">
            <span [ngClass]="{ error: notify.type === 'error' }">{{ notify.message }}</span>
          </div>
        </div>
      </a>

      <a class="nav-item user-item" (click)="toggleMenu()" *ngIf="user">
        <img class="nav-avatar" [src]="user.avatar">
        <div class="nav-dropdown" *ngIf="menuDropped">
          <a class="nav-dropdown-item" routerLink="/settings">
            Settings
          </a>
          <a class="nav-dropdown-item" routerLink="/logs">
            System Logs
          </a>
          <a class="nav-dropdown-item" (click)="logout()">
            Logout
          </a>
        </div>
      </a>

      <a class="nav-item" *ngIf="!user" routerLink="/login">
        <img src="images/icons/login.svg" class="nav-item-icon">
        Login
      </a>
    </div>
  </div>
</header>
