<header class="nav">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item nav-logo" routerLink="/">
        <img src="images/abstruse-text-logo.svg">
      </a>
      <a class="nav-item" routerLink="/team" routerLinkActive="is-active">
        <img src="images/icons/team.svg" class="nav-item-icon">
        Team
      </a>
      <a class="nav-item" routerLink="/repositories" routerLinkActive="is-active">
        <img src="images/icons/assets.svg" class="nav-item-icon">
        Repositories
      </a>
    </div>
    <div class="nav-right">
      <a class="nav-item user-item" (click)="toggleMenu()">
        <img class="nav-avatar" src="https://avatars0.githubusercontent.com/u/1796022?v=3&s=460">
        <div class="nav-dropdown" *ngIf="menuDropped">
          <a class="nav-dropdown-item" routerLink="/settings">
            Settings
          </a>
          <a class="nav-dropdown-item" (click)="logout()">
            Logout
          </a>
        </div>
      </a>
    </div>
  </div>
</header>
