<router-outlet *ngIf="!(authService?.isLoggedIn | async)"></router-outlet>

<!-- <section *ngIf="(statusService?.status$ | async) === 'setup' && !(authService?.isLoggedIn | async)">
  <app-header-setup></app-header-setup>
  <main class="main">
    <div class="container">
      <div class="columns is-marginless is-paddingless">
        <div class="column is-10 is-offset-1 is-paddingless">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </main>
</section> -->

<section *ngIf="authService?.isLoggedIn | async">
  <app-header></app-header>
  <main class="main">
    <div class="container">
      <div class="columns is-marginless">
        <div class="column is-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </main>
</section>
