<div class="builds-info-container" *ngIf="build">
  <div class="columns info-columns">
    <div class="column is-2">
      <div class="info-text" *ngIf="!job">
        <span
          class="tag is-medium"
          [ngClass]="{
            'is-gray': build?.status === 'queued',
            'is-green': build?.status === 'passing',
            'is-red': build?.status === 'failing',
            'is-yellow': build?.status === 'running'
          }"
        >
          <i class="fas fa-check-circle" *ngIf="build?.status === 'passing'"></i>
          <i class="fas fa-times-circle" *ngIf="build?.status === 'failing'"></i>
          <i class="far fa-clock" *ngIf="build?.status === 'queued'"></i>
          <i *ngIf="build?.status === 'running'">
            <app-spinner class="is-small is-yellow"></app-spinner>
          </i>
          <span>{{ build?.status }}</span>
        </span>
      </div>
      <div class="info-text" *ngIf="job">
        <span
          class="tag is-medium"
          [ngClass]="{
            'is-gray': job?.status === 'queued',
            'is-green': job?.status === 'passing',
            'is-red': job?.status === 'failing',
            'is-yellow': job?.status === 'running'
          }"
        >
          <i class="fas fa-check-circle" *ngIf="job?.status === 'passing'"></i>
          <i class="fas fa-times-circle" *ngIf="job?.status === 'failing'"></i>
          <i class="far fa-clock" *ngIf="job?.status === 'queued'"></i>
          <i *ngIf="job?.status === 'running'">
            <app-spinner class="is-small is-yellow"></app-spinner>
          </i>
          <span>{{ job?.status }}</span>
        </span>
      </div>
    </div>
    <div class="column is-9 align-center">
      <div class="info-text">
        <img [src]="build?.committerAvatar" class="committer-avatar" />
        <span class="desc-text">{{ build?.committerName }} authored and commited</span>
      </div>
      <div class="info-text">
        <i class="octicon octicon-git-commit"></i>
        <span class="desc-text">{{ build?.commitShort }}</span>
      </div>
      <div class="info-text">
        <i class="far fa-comment-alt"></i>
        <span class="desc-text" *ngIf="!build?.pr">{{ build?.commitMessage }}</span>
        <span class="desc-text" *ngIf="build?.pr">{{ build?.prTitle }}</span>
      </div>
    </div>
    <div class="column is-1 justify-end">
      <div class="info-text running-time">
        <i class="far fa-clock time-icon"></i>
        <span *ngIf="!job">{{ build?.runningTime | async }}</span>
        <span *ngIf="job">{{ job?.runningTime | async }}</span>
      </div>
    </div>
  </div>
</div>
