<div class="user-item">
  <div class="columns is-marginless is-paddingless">
    <div class="column is-1 is-marginless is-paddingless data-column">
      <img [src]="user?.avatar" class="user-avatar">
    </div>
    <div class="column is-2 is-marginless is-paddingless data-column">
      <span class="data-text">{{ user?.fullname }}</span>
    </div>
    <div class="column is-3 is-marginless is-paddingless data-column">
      <span class="data-text">{{ user?.email }}</span>
    </div>
    <div class="column is-3 is-marginless is-paddingless data-column">
      <app-selectbox [values]="teamService?.userTypes" [(ngModel)]="user.admin" name="isAdmin" *ngIf="user"></app-selectbox>
    </div>
    <div class="column is-3 is-marginless is-paddingless buttons-column justify-end">
      <button type="button" class="button is-small w70">Delete</button>
      <button type="button" class="button is-small w70" (click)="teamService.openUserDialog('edit', user)">Edit</button>
    </div>
  </div>
</div>
