<div class="columns is-multiline">

  <div class="column is-12">
    <div class="main-heading">
      <div class="main-heading-left">
        <h1>Providers</h1>
        <h2>Provider Integrations</h2>
      </div>
      <div class="main-heading-right">
        <button class="button" type="button" (click)="providersService.openProviderModal()">
          <i class="octicon octicon-plus"></i>
          <span>Add Provider</span>
        </button>
      </div>
    </div>
  </div>

  <div class="column is-12 justify-center" *ngIf="providersService.fetchingProviders">
    <app-spinner class="is-large"></app-spinner>
  </div>

  <div class="column is-12" *ngIf="providersService.providers.length && !providersService.fetchingProviders">
    <div class="list">
      <div class="list-items">
        <app-providers-list-item [provider]="p" *ngFor="let p of providersService.providers"></app-providers-list-item>
      </div>
    </div>
  </div>

  <div class="column is-12" *ngIf="!providersService.fetchingProviders && !providersService.providers.length">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div class="notification">
          <p>
            <i class="fas fa-info"></i>
            <span>No provider configurations found.</span>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
