.batman-ansi-theme {

  .ansi-black-fg, .ansi-black-bg {
    color: #1b1d1e;
  }

  .ansi-red-fg, .ansi-red-bg {
    color: #e6dc44;
  }

  .ansi-green-fg, .ansi-green-bg {
    color: #c8be46;
  }

  .ansi-yellow-fg, .ansi-yellow-bg {
    color: #f4fd22;
  }

  .ansi-blue-fg, .ansi-blue-bg {
    color: #737174;
  }

  .ansi-magenta-fg, .ansi-magenta-bg {
    color: #747271;
  }

  .ansi-cyan-fg, .ansi-cyan-bg {
    color: #62605f;
  }

  .ansi-white-fg, .ansi-white-bg {
    color: #c6c5bf;
  }

  .ansi-bright-black-fg, .ansi-bright-black-bg {
    color: #505354;
  }

  .ansi-bright-red-fg, .ansi-bright-red-bg {
    color: #fff78e;
  }

  .ansi-bright-green-fg, .ansi-bright-green-bg {
    color: #fff27d;
  }

  .ansi-bright-yellow-fg, .ansi-bright-yellow-bg {
    color: #feed6c;
  }

  .ansi-bright-blue-fg, .ansi-bright-blue-bg {
    color: #919495;
  }

  .ansi-bright-magenta-fg, .ansi-bright-magenta-bg {
    color: #9a9a9d;
  }

  .ansi-bright-cyan-fg, .ansi-bright-cyan-bg {
    color: #a3a3a6;
  }

  .ansi-bright-white-fg, .ansi-bright-white-bg {
    color: #dadbd6;
  }
}
