.dracula-ansi-theme {

    .ansi-black-fg, .ansi-black-bg {
      color: #282a36;
    }

    .ansi-red-fg, .ansi-red-bg {
      color: #ff5555;
    }

    .ansi-green-fg, .ansi-green-bg {
      color: #50fa7b;
    }

    .ansi-yellow-fg, .ansi-yellow-bg {
      color: #f1fa8c;
    }

    .ansi-blue-fg, .ansi-blue-bg {
      color: #134eb2;
    }

    .ansi-magenta-fg, .ansi-magenta-bg {
      color: #bd93f9;
    }

    .ansi-cyan-fg, .ansi-cyan-bg {
      color: #8be9fd;
    }

    .ansi-white-fg, .ansi-white-bg {
      color: #f8f8f2;
    }

    .ansi-bright-black-fg, .ansi-bright-black-bg {
      color: #f8f8f2;
    }

    .ansi-bright-red-fg, .ansi-bright-red-bg {
      color: #ff5555;
    }

    .ansi-bright-green-fg, .ansi-bright-green-bg {
      color: #50fa7b;
    }

    .ansi-bright-yellow-fg, .ansi-bright-yellow-bg {
      color: #f1fa8c;
    }

    .ansi-bright-blue-fg, .ansi-bright-blue-bg {
      color: #54a4f3;
    }

    .ansi-bright-magenta-fg, .ansi-bright-magenta-bg {
      color: #bd93f9;
    }

    .ansi-bright-cyan-fg, .ansi-bright-cyan-bg {
      color: #8be9fd;
    }

    .ansi-bright-white-fg, .ansi-bright-white-bg {
      color: #f8f8f2;
    }
  }
