.material-dark-ansi-theme {

  .ansi-black-fg, .ansi-black-bg {
    color: #212121;
  }

  .ansi-red-fg, .ansi-red-bg {
    color: #b7141f;
  }

  .ansi-green-fg, .ansi-green-bg {
    color: #457b24;
  }

  .ansi-yellow-fg, .ansi-yellow-bg {
    color: #f6981e;
  }

  .ansi-blue-fg, .ansi-blue-bg {
    color: #134eb2;
  }

  .ansi-magenta-fg, .ansi-magenta-bg {
    color: #560088;
  }

  .ansi-cyan-fg, .ansi-cyan-bg {
    color: #0e717c;
  }

  .ansi-white-fg, .ansi-white-bg {
    color: #efefef;
  }

  .ansi-bright-black-fg, .ansi-bright-black-bg {
    color: #424242;
  }

  .ansi-bright-red-fg, .ansi-bright-red-bg {
    color: #e83b3f;
  }

  .ansi-bright-green-fg, .ansi-bright-green-bg {
    color: #7aba3a;
  }

  .ansi-bright-yellow-fg, .ansi-bright-yellow-bg {
    color: #ffea2e;
  }

  .ansi-bright-blue-fg, .ansi-bright-blue-bg {
    color: #54a4f3;
  }

  .ansi-bright-magenta-fg, .ansi-bright-magenta-bg {
    color: #aa4dbc;
  }

  .ansi-bright-cyan-fg, .ansi-bright-cyan-bg {
    color: #26bbd1;
  }

  .ansi-bright-white-fg, .ansi-bright-white-bg {
    color: #d9d9d9;
  }
}
