<div class="columns is-multiline">
  <div class="column is-12">
    <div class="setup-heading">
      <h1>Create Admin</h1>
    </div>
  </div>
  <div class="column is-6 is-offset-3" [hidden]="!error">
    <div class="notification is-red">
      <i class="far fa-comment-dots"></i>
      <p>{{ error }}.</p>
    </div>
  </div>
  <div class="column is-12 pt0 pb0">
    <form class="form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="field">
        <app-avatar-picker formControlName="avatar"></app-avatar-picker>
      </div>
      <div class="field">
        <label class="label">
          <span>Login</span>
          <i
            class="fas fa-question-circle"
            appTooltip
            text="Login is unique identifier used for username."
          ></i>
        </label>
        <input type="text" class="input" placeholder="Username" formControlName="login" />
      </div>
      <div class="field">
        <label class="label">
          <span>Email</span>
          <i
            class="fas fa-question-circle"
            appTooltip
            text="Email is unique identifier"
          ></i>
        </label>
        <input type="text" class="input" placeholder="Email" formControlName="email" />
      </div>
      <div class="field">
        <label class="label">
          <span>Full Name</span>
          <i
            class="fas fa-question-circle"
            appTooltip
            text="Type in your real name and lastname."
          ></i>
        </label>
        <input type="text" class="input" placeholder="John Smith" formControlName="name" />
      </div>
      <div class="columns">
        <div class="column is-6">
          <div class="field">
            <label class="label">
              <span>Password</span>
              <i
                class="fas fa-question-circle"
                appTooltip
                text="Password must include at least 8 characters."
              ></i>
            </label>
            <input
              type="password"
              class="input"
              placeholder="Set Your Password"
              autocomplete="new-password"
              formControlName="password"
            />
          </div>
        </div>
        <div class="column is-6">
          <div class="field">
            <label class="label">
              <span>Confirm Password</span>
              <i
                class="fas fa-question-circle"
                appTooltip
                text="Re-type password, it must match with previous input."
              ></i>
            </label>
            <input
              type="password"
              class="input"
              placeholder="Confirm Password"
              autocomplete="new-password"
              formControlName="confirmPassword"
            />
          </div>
        </div>
      </div>
      <div class="form-buttons justify-end">
        <button type="button" class="button" [disabled]="userForm.pristine" (click)="resetValues()">
          Reset
        </button>
        <button type="submit" class="button is-green" [disabled]="!userForm.valid">
          Create User
        </button>
      </div>
    </form>
  </div>
</div>
