<div class="hero is-fullheight login-hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-4 is-offset-4">
          <form class="login-form">
            <h1>Sign In</h1>
            <div class="form-field">
              <label class="form-label">Email Address</label>
              <input class="form-input" type="text" placeholder="Email">
            </div>
            <div class="form-field">
              <label class="form-label">Password</label>
              <input class="form-input" type="password" placeholder="Password">
            </div>
            <div class="form-field">
              <button type="button" class="button green">Sign In</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
