<article class="provider-item">
  <div class="provider-item-bg" [ngSwitch]="provider?.name">
    <i class="fab fa-github bg-icon" *ngSwitchCase="'github'"></i>
    <i class="fab fa-gitlab bg-icon" *ngSwitchCase="'gitlab'"></i>
    <i class="fab fa-bitbucket bg-icon" *ngSwitchCase="'bitbucket'"></i>
    <img class="bg-icon" src="/assets/images/icons/gitea-bg.svg" *ngSwitchCase="'gitea'" />
    <i class="fab fa-git icon-large" *ngSwitchDefault></i>
  </div>
  <div class="provider-item-container">
    <h2>{{ provider?.getName }}</h2>
    <span class="url">{{ provider?.url }}</span>
    <span class="last-update">
      Last Sync:
      <span *ngIf="provider?.lastSync" appTooltip
        [text]="provider?.lastSync | date:'medium'">{{ provider?.lastSynced }}</span>
      <span *ngIf="!provider?.lastSync">Never</span>
    </span>
    <div class="buttons justify-end">
      <button type="button" class="button is-small is-blue" [class.events-none]="synchronizing"
        (click)="openProviderModal()">
        <span>Edit</span>
      </button>
      <button type="button" class="button is-small is-green" [class.events-none]="synchronizing" (click)="sync()">
        <i class="fas fa-sync-alt" *ngIf="!synchronizing"></i>
        <span *ngIf="!synchronizing">Synchronize</span>
        <app-loader class="is-small is-white" *ngIf="synchronizing"></app-loader>
        <span *ngIf="synchronizing">Synchronizing...</span>
      </button>
    </div>
  </div>
</article>
