<header class="header">
  <div class="container">
    <div class="columns is-marginless is-paddingless">
      <div class="column is-10 is-offset-1 is-paddingless">
        <nav class="header-container">
          <div class="header-left">
            <a class="header-item logo" routerLink="/">
              <img src="/assets/images/abstruse-text-black.svg">
            </a>
          </div>
          <div class="header-right">
            <!-- <a class="header-item" (click)="authService.logout()">
              Logout
            </a> -->
            <div class="header-item">
              <img [src]="authService.userInfo?.avatar" class="avatar" (click)="toggleDropdown()">
              <app-header-dropdown *ngIf="dropdownOpened"></app-header-dropdown>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
