<header class="subheader">
  <div class="container">
    <div class="subheader-container">
      <div class="subheader-left">
        <h1>Providers</h1>
        <h2>Repositories</h2>
      </div>
      <div class="subheader-right"></div>
    </div>
  </div>
</header>

<div class="container">
  <div class="columns is-multiline">
    <div class="column is-12" *ngIf="loading">
      <app-loader></app-loader>
    </div>
    <div class="column is-12" *ngIf="!loading && repos?.length">
      <app-providers-repos-list-item [repo]="r" *ngFor="let r of repos"></app-providers-repos-list-item>
    </div>
  </div>
</div>
