<div class="columns is-multiline">

  <div class="column is-12">
    <div class="main-heading">
      <div class="main-heading-left">
        <h1 [routerLink]="['/providers']">Providers</h1>
        <h2>Repositories</h2>
      </div>
      <div class="main-heading-right">
        <i class="fas fa-search"></i>
        <input type="text" class="input search-box" placeholder="Search repositories..." [(ngModel)]="search"
          (ngModelChange)="onSearchInputChange($event)">
      </div>
    </div>
  </div>

  <div class="column is-12 justify-center" *ngIf="fetching">
    <app-spinner class="is-large"></app-spinner>
  </div>

  <div class="column is-12" *ngIf="repos.length && !fetching">
    <div class="list">
      <div class="list-items">
        <app-providers-repos-list-item [repo]="r" [providerId]="providerId" *ngFor="let r of repos">
        </app-providers-repos-list-item>
      </div>
    </div>
  </div>

  <div class="column is-12" *ngIf="!fetching && !repos.length">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div class="notification">
          <p>
            <i class="fas fa-info"></i>
            <span>
              No repositories for provider found.
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
