<app-header></app-header>

<nav class="nav sub-nav">
  <div class="container">
    <div class="nav-left is-hidden-mobile">
      <span class="nav-item">
        <h1>Images</h1>
      </span>
    </div>
    <div class="nav-center is-hidden-mobile"></div>
    <div class="nav-right"></div>
  </div>
</nav>

<div class="container">
  <div class="columns">
    <div class="column is-12">
      <div class="content">
        <div class="container" *ngIf="loading">
          <img src="images/icons/flickr.svg" class="main-loader">
        </div>
      </div>

      <div *ngIf="!loading">

        <div class="content-box image-builder-box" *ngIf="!building && !success">
          <h1>Build New Image</h1>
          <div class="columns is-multiline">
            <div class="column is-12">
              <h2>Image name</h2>
              <input type="text" class="image-name-input" [(ngModel)]="form.name" placeholder="Image Name">
              <h2>Dockerfile</h2>
              <app-editor [options]="editorOptions" [(ngModel)]="form.dockerfile" class="editor-large"></app-editor>
              <h2>init.sh</h2>
              <app-editor [options]="initEditorOptions" [(ngModel)]="form.initsh" class="editor-small"></app-editor>
              <div class="images-buttons-container">
                <button type="button" class="button w300 blue" (click)="buildImage()" name="build-image-btn">Build Image</button>
              </div>
            </div>
          </div>
        </div>

        <div class="content-box image-builder-box" *ngIf="!building && success">
          <h1>Image Build Done</h1>
          <div class="columns is-multiline">
            <div class="column is-12">
              <div class="notification is-info">
                <p class="has-text-centered" name="build-done">Image successfully built.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="content-box image-builder-box" *ngIf="building">
          <p class="has-text-centered">
            Building image <strong>{{ form.name }}</strong> <span *ngIf="imageBuildsText">({{ imageBuildsText }} layers)</span> ...
          </p>
          <pre class="image-build-log" [innerHTML]="imageBuildLog | safeHtml" *ngIf="imageBuildLog"></pre>
        </div>

      </div>



    </div>
  </div>
</div>
