<app-header></app-header>

<nav class="nav sub-nav">
  <div class="container">
    <div class="nav-left is-hidden-mobile">
      <span class="nav-item">
        <h1>Docker Build Images</h1>
      </span>
    </div>
    <div class="nav-center is-hidden-mobile"></div>
    <div class="nav-right">
      <div class="group-buttons">
        <button class="group-button" name="tab-images" [ngClass]="{ 'is-active': tab === 'images' }" (click)="tab = 'images'">
          <i class="ionicon ion-ios-paper-outline"></i>
          Images
        </button>
        <button class="group-button" name="tab-build-image" [ngClass]="{ 'is-active': tab === 'build' }" (click)="tab = 'build'; resetForm();">
          <i class="ionicon ion-hammer"></i>
          Build Image
        </button>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <div class="columns">
    <div class="column is-12">
      <div class="content">
        <div class="container" *ngIf="loading">
          <img src="images/icons/flickr.svg" class="main-loader">
        </div>
      </div>

      <div *ngIf="!loading">

        <div *ngIf="tab === 'images'">
          <div class="content-box image-builder-box">
            <div class="columns is-multiline">
              <div class="column is-4" *ngFor="let i of images; let index = index;">
                <div class="image-item">
                  <h2>{{ i.name }}</h2>
                  <span class="version">{{ i.version }}</span>
                  <img src="images/logos/docker.svg" class="docker-img">
                  <span class="time">{{ i.created }}</span>
                  <span class="time">Created {{ i.createdAgo }} ago</span>
                  <span class="size">Size {{ i.size }}</span>
                  <button type="button" class="button is-fullwidth" (click)="editImage(index)">Edit Image</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="tab === 'build'">
          <div class="content-box image-builder-box" *ngIf="!building">
            <div class="columns is-multiline">
              <div class="column is-12">
                <h2>Image name</h2>
                <input type="text" class="image-name-input" [(ngModel)]="form.name" placeholder="Image Name">
                <h2>Dockerfile</h2>
                <app-editor [options]="editorOptions" [(ngModel)]="form.dockerfile" class="editor-large"></app-editor>
                <h2>init.sh</h2>
                <app-editor [options]="initEditorOptions" [(ngModel)]="form.initsh" class="editor-small"></app-editor>
                <div class="images-buttons-container">
                  <button type="button" class="button w300 green" (click)="buildImage()" name="build-image-btn">Build Image</button>
                </div>
              </div>
            </div>
          </div>

          <div class="content-box image-builder-box" *ngIf="building">
            <p class="has-text-centered">
              Building image <strong>{{ form.name }}</strong> <span *ngIf="imageBuildsText">({{ imageBuildsText }} layers)</span> ...
            </p>
            <pre class="image-build-log" [innerHTML]="imageBuildLog | safeHtml" *ngIf="imageBuildLog" slimScroll [options]="scrollOptions" [scrollEvents]="scrollEvents"></pre>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
