<nav class="breadcrumb">
  <ul>
    <li [class.is-active]="tab === 'current'" [routerLink]="['/builds', repoid]">Current</li>
    <li [class.is-active]="tab === 'branches'" [routerLink]="['/builds', repoid, 'branches']">Branches</li>
    <li [class.is-active]="tab === 'history'" [routerLink]="['/builds', repoid, 'history']">Build History</li>
    <li [class.is-active]="tab === 'pull_requests'" [routerLink]="['/builds', repoid, 'pull-requests']">Pull Requests</li>
    <li class="separator" *ngIf="tab === 'build' || tab === 'job'"></li>
    <li [class.is-active]="tab === 'build'" *ngIf="tab === 'build' || tab === 'job'" [routerLink]="['/builds', repoid, buildid]">Build #{{ buildid }}</li>
    <li class="separator" *ngIf="tab === 'job'"></li>
    <li [class.is-active]="tab === 'job'" *ngIf="tab === 'job'" [routerLink]="['/builds', repoid, buildid, jobid]">Job #{{ buildid }}.{{ jobid }}</li>
  </ul>
</nav>
