<div class="list-item-condensed is-slim">
  <div class="columns">
    <div class="column is-1 data-column justify-center">
      <img [src]="user?.avatar" class="committer-avatar" />
    </div>
    <div class="column is-2 data-column">
      <div class="info-text has-text-left align-center">
        <span class="data-text">{{ user?.name }}</span>
      </div>
    </div>
    <div class="column is-4 data-column">
      <div class="info-text has-text-left align-center">
        <span class="data-text">{{ user?.email }}</span>
      </div>
    </div>
    <div class="column is-2 data-column">
      <div class="info-text justify-center align-center">
        <div class="tag is-green is-small">
          <i class="fas fa-user-tie" *ngIf="user?.role === 'admin'"></i>
          <i class="fas fa-user" *ngIf="user?.role === 'user'"></i>
          <span>{{ user?.role }}</span>
        </div>
      </div>
    </div>
    <div class="column is-2 data-column">
      <div class="info-text has-text-left align-center justify-center">
        <div class="tag is-yellow is-small">
          <i class="fas fa-users"></i>
          <span>{{ user?.teamsCount }}</span>
        </div>
      </div>
    </div>
    <div class="column is-1 data-column justify-center">
      <button type="button" class="button" (click)="openUserModal()">
        <span>Edit</span>
      </button>
    </div>
  </div>
</div>
