<div class="columns is-multiline">
  <div class="column is-12">
    <h2>Latest builds</h2>
    <hr/>
  </div>
  <div class="column is-12 ptb0 mb15">
    <div class="space-between">
      <p></p>
      <div class="buttons">
        <button type="button" class="button">
          <span>All Builds</span>
        </button>
        <button type="button" class="button">
          <span>Commits</span>
        </button>
        <button type="button" class="button">
          <span>Pull Requests</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="builds">
  <div class="build">
    <div class="columns is-marginless is-paddingless">
      <div class="column is-1 is-marginless is-paddingless avatar-column is-running">
        <img src="https://avatars1.githubusercontent.com/u/1796022?v=4" alt="Jan Kuri" class="build-avatar">
      </div>
      <div class="column is-2 is-marginless is-paddingless repo-branch-column">
        <span class="repo-name">bleenco/abstruse</span>
        <span class="branch-name">master</span>
      </div>
      <div class="column is-2 is-marginless is-paddingless type-column">
        <span class="number">#73</span>
        <span class="type">Pull Request</span>
      </div>
      <div class="column is-2 is-marginless is-paddingless commit-column">
        <span class="commit-hash">dafcc4f</span>
        <span class="commit-message">chore(): update styles</span>
      </div>
      <div class="column is-2 is-marginless is-paddingless author-column">
        <span class="author">Jan Kuri</span>
        <span class="time">about 8 hours ago</span>
      </div>
      <div class="column is-1 is-marginless is-paddingless build-status-column">
        <span class="status-item is-running">
          <span class="status-circle"></span>
          <span class="status-title">Running</span>
        </span>
      </div>
      <div class="column is-1 is-marginless is-paddingless time-column">
        <span class="time">05:06</span>
      </div>
      <div class="column is-1 is-marginless is-paddingless actions-column">
        <i class="fas fa-ellipsis-h menu-icon"></i>
      </div>
    </div>
  </div>

  <div class="build">
    <div class="columns is-marginless is-paddingless">
      <div class="column is-1 is-marginless is-paddingless avatar-column is-passed">
        <img src="https://avatars1.githubusercontent.com/u/1796022?v=4" alt="Jan Kuri" class="build-avatar">
      </div>
      <div class="column is-2 is-marginless is-paddingless repo-branch-column">
        <span class="repo-name">bleenco/abstruse</span>
        <span class="branch-name">master</span>
      </div>
      <div class="column is-2 is-marginless is-paddingless type-column">
        <span class="number">#73</span>
        <span class="type">Pull Request</span>
      </div>
      <div class="column is-2 is-marginless is-paddingless commit-column">
        <span class="commit-hash">dafcc4f</span>
        <span class="commit-message">chore(): update styles</span>
      </div>
      <div class="column is-2 is-marginless is-paddingless author-column">
        <span class="author">Jan Kuri</span>
        <span class="time">about 8 hours ago</span>
      </div>
      <div class="column is-1 is-marginless is-paddingless build-status-column">
        <span class="status-item is-passed">
          <span class="status-circle"></span>
          <span class="status-title">Passed</span>
        </span>
      </div>
      <div class="column is-1 is-marginless is-paddingless time-column">
        <span class="time">05:06</span>
      </div>
      <div class="column is-1 is-marginless is-paddingless actions-column">
        <i class="fas fa-ellipsis-h menu-icon"></i>
      </div>
    </div>
  </div>

  <div class="build">
    <div class="columns is-marginless is-paddingless">
      <div class="column is-1 is-marginless is-paddingless avatar-column is-passed">
        <img src="https://avatars1.githubusercontent.com/u/1796022?v=4" alt="Jan Kuri" class="build-avatar">
      </div>
      <div class="column is-2 is-marginless is-paddingless repo-branch-column">
        <span class="repo-name">bleenco/abstruse</span>
        <span class="branch-name">master</span>
      </div>
      <div class="column is-2 is-marginless is-paddingless type-column">
        <span class="number">#73</span>
        <span class="type">Pull Request</span>
      </div>
      <div class="column is-2 is-marginless is-paddingless commit-column">
        <span class="commit-hash">dafcc4f</span>
        <span class="commit-message">chore(): update styles</span>
      </div>
      <div class="column is-2 is-marginless is-paddingless author-column">
        <span class="author">Jan Kuri</span>
        <span class="time">about 8 hours ago</span>
      </div>
      <div class="column is-1 is-marginless is-paddingless build-status-column">
        <span class="status-item is-passed">
          <span class="status-circle"></span>
          <span class="status-title">Passed</span>
        </span>
      </div>
      <div class="column is-1 is-marginless is-paddingless time-column">
        <span class="time">05:06</span>
      </div>
      <div class="column is-1 is-marginless is-paddingless actions-column">
        <i class="fas fa-ellipsis-h menu-icon"></i>
      </div>
    </div>
  </div>

  <div class="build">
    <div class="columns is-marginless is-paddingless">
      <div class="column is-1 is-marginless is-paddingless avatar-column is-failed">
        <img src="https://avatars1.githubusercontent.com/u/1796022?v=4" alt="Jan Kuri" class="build-avatar">
      </div>
      <div class="column is-2 is-marginless is-paddingless repo-branch-column">
        <span class="repo-name">bleenco/abstruse</span>
        <span class="branch-name">master</span>
      </div>
      <div class="column is-2 is-marginless is-paddingless type-column">
        <span class="number">#73</span>
        <span class="type">Pull Request</span>
      </div>
      <div class="column is-2 is-marginless is-paddingless commit-column">
        <span class="commit-hash">dafcc4f</span>
        <span class="commit-message">chore(): update styles</span>
      </div>
      <div class="column is-2 is-marginless is-paddingless author-column">
        <span class="author">Jan Kuri</span>
        <span class="time">about 8 hours ago</span>
      </div>
      <div class="column is-1 is-marginless is-paddingless build-status-column">
        <span class="status-item is-failed">
          <span class="status-circle"></span>
          <span class="status-title">Failed</span>
        </span>
      </div>
      <div class="column is-1 is-marginless is-paddingless time-column">
        <span class="time">05:06</span>
      </div>
      <div class="column is-1 is-marginless is-paddingless actions-column">
        <i class="fas fa-ellipsis-h menu-icon"></i>
      </div>
    </div>
  </div>

  <div class="build">
    <div class="columns is-marginless is-paddingless">
      <div class="column is-1 is-marginless is-paddingless avatar-column is-passed">
        <img src="https://avatars1.githubusercontent.com/u/1796022?v=4" alt="Jan Kuri" class="build-avatar">
      </div>
      <div class="column is-2 is-marginless is-paddingless repo-branch-column">
        <span class="repo-name">bleenco/abstruse</span>
        <span class="branch-name">master</span>
      </div>
      <div class="column is-2 is-marginless is-paddingless type-column">
        <span class="number">#73</span>
        <span class="type">Pull Request</span>
      </div>
      <div class="column is-2 is-marginless is-paddingless commit-column">
        <span class="commit-hash">dafcc4f</span>
        <span class="commit-message">chore(): update styles</span>
      </div>
      <div class="column is-2 is-marginless is-paddingless author-column">
        <span class="author">Jan Kuri</span>
        <span class="time">about 8 hours ago</span>
      </div>
      <div class="column is-1 is-marginless is-paddingless build-status-column">
        <span class="status-item is-passed">
          <span class="status-circle"></span>
          <span class="status-title">Passed</span>
        </span>
      </div>
      <div class="column is-1 is-marginless is-paddingless time-column">
        <span class="time">05:06</span>
      </div>
      <div class="column is-1 is-marginless is-paddingless actions-column">
        <i class="fas fa-ellipsis-h menu-icon"></i>
      </div>
    </div>
  </div>
</div>

<div class="mt20 justify-center align-center">
  <button class="button">
    <span>Load more</span>
  </button>
</div>
