<div class="columns is-multiline">
  <div class="column is-12">
    <h2>Latest builds</h2>
    <hr/>
  </div>
  <div class="column is-12 ptb0 mb15">
    <div class="space-between">
      <p></p>
      <div class="buttons">
        <button type="button" class="button">
          <span>All Builds</span>
        </button>
        <button type="button" class="button">
          <span>Commits</span>
        </button>
        <button type="button" class="button">
          <span>Pull Requests</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="builds">
  <app-build-item *ngFor="let build of buildService.builds; let i = index;" [build]="build"></app-build-item>
</div>

<div class="mt20 justify-center align-center">
  <button class="button" (click)="buildService.fetchBuilds()">
    <span>Load more</span>
  </button>
</div>
