<!-- <div class="columns">
  <div class="column is-12">
    <div class="message is-red">
      <p>
        <i class="fas fa-info-circle"></i>
        <span>This build of <code>abstruse</code> is running on version <code>2.0.0-alpha.1</code> which is not stable release. Since issues may occur please run stable release on your servers.</span>
      </p>
    </div>
  </div>
</div> -->

<div class="columns is-multiline">
  <div class="column is-12 ptb0 mb15">
    <div class="tabs justify-end">
      <span class="tab" [class.is-active]="show === 'all'" (click)="switchTab('all')">All Builds</span>
      <span class="tab" [class.is-active]="show === 'commits'" (click)="switchTab('commits')">Commits</span>
      <span class="tab" [class.is-active]="show === 'pr'" (click)="switchTab('pr')">Pull Requests</span>
    </div>
  </div>
</div>

<div class="builds">
  <app-loader *ngIf="loading" class="mtb20"></app-loader>
  <div class="build-items" *ngIf="!loading">
    <app-build-item *ngFor="let build of builds; let i = index;" [build]="build" [routerLink]="['/builds', build.id]"></app-build-item>
  </div>
</div>

<div class="mtb20 justify-center align-center">
  <button class="button w100" (click)="fetchBuilds()" [disabled]="fetchingBuilds" *ngIf="!loading" [@fadeAnimation]="'in'">
    <img class="spinner" src="/assets/images/icons/spinner.svg" *ngIf="fetchingBuilds">
    <span *ngIf="!fetchingBuilds">Load more</span>
  </button>
</div>
