<div class="list-item is-bordered">
  <div class="columns is-marginless is-paddingless">
    <div class="column is-5">
      <div class="data-column">
        <span class="heading-text has-text-left">URL Endpoint</span>
        <span class="data-text has-text-left">{{ hook?.url }}</span>
      </div>
    </div>
    <div class="column is-2">
      <div class="data-column">
        <span class="heading-text">Content-Type</span>
        <span class="data-text">{{ hook?.content_type }}</span>
      </div>
    </div>
    <div class="column is-1">
      <div class="data-column">
        <span class="heading-text">Push</span>
        <span class="justify-center">
          <i class="fa fa-check is-green" *ngIf="hook?.event_push"></i>
          <i class="fa fa-times is-red" *ngIf="!hook?.event_push"></i>
        </span>
      </div>
    </div>
    <div class="column is-1">
      <div class="data-column">
        <span class="heading-text">PR</span>
        <span class="justify-center">
          <i class="fa fa-check is-green" *ngIf="hook?.event_pr"></i>
          <i class="fa fa-times is-red" *ngIf="!hook?.event_pr"></i>
        </span>
      </div>
    </div>
    <div class="column is-1">
      <div class="data-column">
        <span class="heading-text">Active</span>
        <span class="justify-center">
          <i class="fa fa-check is-green" *ngIf="hook?.active"></i>
          <i class="fa fa-times is-red" *ngIf="!hook?.active"></i>
        </span>
      </div>
    </div>
    <div class="column is-2 data-column justify-end">
      <button type="button" class="button is-small">
        <i class="fa fa-times"></i>
        <span>Delete</span>
      </button>
    </div>
  </div>
</div>
