<div class="dialog-overlay">
  <div class="dialog-container is-wide">
    <div class="dialog-header">
      <h1>Repository Configuration</h1>
      <i class="fa fa-times" (click)="repos.closeConfigurationDialog()"></i>
    </div>
    <div class="dialog-body">
      <div class="columns is-multiline">
        <div class="column is-12 ptb0 mb15">
          <div class="tabs justify-end">
            <span class="tab" [class.is-active]="tab === 'webhooks'" (click)="switchTab('webhooks')">Webhooks</span>
            <span class="tab" [class.is-active]="tab === 'file'" (click)="switchTab('file')">Configuration File</span>
          </div>
        </div>
        <div class="column is-12" *ngIf="tab === 'webhooks'">
          <div class="columns is-multiline">
            <div class="column is-12" *ngIf="fetchingHooks">
              <app-loader></app-loader>
            </div>
            <div class="column is-12" *ngIf="!fetchingHooks && !hooks?.length">
              <div class="message is-yellow">
                <p>
                  <i class="fa fa-info-circle"></i>
                  <span>No webhooks found configured on this repository.</span>
                </p>
              </div>
            </div>
            <div class="column is-12" *ngIf="!fetchingHooks && hooks?.length">
              <app-repositories-hook-item [hook]="hook" *ngFor="let hook of hooks"></app-repositories-hook-item>
            </div>
            <div class="column is-12" *ngIf="!fetchingHooks">
              <div class="box">
                <form #hookForm="ngForm" (ngSubmit)="addWebhook()">
                  <div class="field">
                    <label class="label">Webhook Endpoint URL</label>
                    <input type="text" class="input" name="url" placeholder="URL" [(ngModel)]="hook.url">
                  </div>
                  <div class="justify-start align-center">
                    <div class="control">
                      <label class="label">Push Events</label>
                      <app-toggle name="commits" [(ngModel)]="hook.event_push"></app-toggle>
                    </div>
                    <div class="control">
                      <label class="label">Pull Request Events</label>
                      <app-toggle name="pr" [(ngModel)]="hook.event_pr"></app-toggle>
                    </div>
                  </div>
                  <div class="justify-end">
                    <button type="submit" class="button">Add Webhook</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-12" *ngIf="tab === 'file'">

        </div>
      </div>
    </div>
  </div>
</div>
