<div class="line-chart-top-content">
  <h2>Jobs</h2>
  <div class="line-chart-legend">
    <span class="dot green"></span>
    <span>Successful</span>
    <span class="dot red"></span>
    <span>Failed</span>
  </div>
  <div class="datepickers-container">
    <ng-datepicker [(ngModel)]="calendarDateFrom" [ngModelOptions]="{ standalone: true }" (ngModelChange)="timeRangeUpdate($event)"></ng-datepicker>
    <ng-datepicker [(ngModel)]="calendarDateTo" [ngModelOptions]="{ standalone: true }" (ngModelChange)="timeRangeUpdate($event)"></ng-datepicker>
  </div>
</div>
<div class="line-chart-container"></div>
