<header class="subheader">
  <div class="container">
    <div class="subheader-container">
      <div class="subheader-left">
        <h1>Builds</h1>
        <h2>Latest Builds</h2>
      </div>
      <div class="subheader-right">
        <a class="link">
          <i class="far fa-list-alt"></i>
          <span>All Builds</span>
        </a>
        <a class="link">
          <i class="octicon octicon-git-commit"></i>
          <span>Commits</span>
        </a>
        <a class="link">
          <i class="octicon octicon-git-pull-request"></i>
          <span>Pull Requests</span>
        </a>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="list-heading">
    <div class="columns">
      <div class="column is-1"><span class="text ml10">ID</span></div>
      <div class="column is-3"><span class="text ml10">Repository</span></div>
      <div class="column is-2"><span class="text ml10">Commit / Branch</span></div>
      <div class="column is-2"><span class="text justify-center">Created</span></div>
      <div class="column is-1"><span class="text ml10">Status</span></div>
      <div class="column is-1"><span class="text justify-center">Time</span></div>
      <div class="column is-2"><span class="text justify-center">Actions</span></div>
    </div>
  </div>
  <div class="list-items">
    <app-build-list-item [build]="b" *ngFor="let b of builds"></app-build-list-item>
  </div>
</div>
