<div class="columns is-multiline">
  <div class="column is-12">
    <div class="main-heading">
      <div class="main-heading-left">
        <h1>Builds</h1>
        <h2>Latest Builds</h2>
      </div>
      <div class="main-heading-right"></div>
    </div>
  </div>

  <div class="column is-12 justify-center" *ngIf="fetchingBuilds">
    <app-spinner class="is-large"></app-spinner>
  </div>

  <div class="column is-12" *ngIf="builds.length && !fetchingBuilds">
    <div class="list-heading">
      <div class="columns">
        <div class="column is-1"><span class="text">ID</span></div>
        <div class="column is-3"><span class="text mlr10">Repository</span></div>
        <div class="column is-2"><span class="text mlr10">Commit / Branch</span></div>
        <div class="column is-2"><span class="text justify-center">Created</span></div>
        <div class="column is-1"><span class="text justify-center">Status</span></div>
        <div class="column is-1"><span class="text justify-center">Time</span></div>
        <div class="column is-2"><span class="text justify-center">Actions</span></div>
      </div>
    </div>
    <app-builds-list-item [build]="b" *ngFor="let b of builds" [style]="'history'"></app-builds-list-item>
  </div>

  <div class="column is-12 is-marginless is-paddingless" *ngIf="builds.length && !fetchingBuilds">
    <div class="more-button-container align-center justify-center mtb10" *ngIf="!hideMoreButton">
      <button type="button" class="button" (click)="findBuilds()">
        <app-spinner class="is-small" *ngIf="fetchingMore"></app-spinner>
        <span *ngIf="fetchingMore">Loading...</span>
        <i class="fas fa-ellipsis-v" *ngIf="!fetchingMore"></i>
        <span *ngIf="!fetchingMore">Load More</span>
      </button>
    </div>
  </div>

  <div class="column is-12" *ngIf="!fetchingBuilds && !builds.length">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <img src="/assets/images/icons/documents-times.svg" class="not-found-icon" />
        <div class="notification is-white">
          <p class="justify-center">No builds found.</p>
        </div>
      </div>
    </div>
  </div>
</div>
