<div class="columns is-multiline">

  <div class="column is-12">
    <div class="main-heading">
      <div class="main-heading-left">
        <h1>Builds</h1>
        <h2>Latest Builds</h2>
      </div>
      <div class="main-heading-right">
      </div>
    </div>
  </div>

  <div class="column is-12 justify-center" *ngIf="fetchingBuilds">
    <app-spinner class="is-large"></app-spinner>
  </div>

  <div class="column is-12" *ngIf="builds.length && !fetchingBuilds">
    <app-builds-list-item [build]="b" *ngFor="let b of builds" [style]="'history'"></app-builds-list-item>
  </div>

  <div class="column is-12 is-marginless is-paddingless" *ngIf="builds.length && !fetchingBuilds">
    <div class="more-button-container align-center justify-center mtb10" *ngIf="!hideMoreButton">
      <button type="button" class="button" (click)="findBuilds()">
        <app-spinner class="is-small" *ngIf="fetchingMore"></app-spinner>
        <span *ngIf="fetchingMore">Loading...</span>
        <i class="fas fa-ellipsis-v" *ngIf="!fetchingMore"></i>
        <span *ngIf="!fetchingMore">Load More</span>
      </button>
    </div>
  </div>

  <div class="column is-12" *ngIf="!fetchingBuilds && !builds.length">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div class="notification">
          <p>
            <i class="fas fa-info"></i>
            <span>
              No builds found.
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
