@import 'colours'
@import 'variables'
@import 'animations'

\:host
  &.is-small

    .loader
      width: 16px
      height: 16px
      margin: 0 5px 0 0

  &.is-large

    .loader
      width: 40px
      height: 40px
      margin: 40px auto

  @each $name, $color in $colors
    &.is-#{$name}
      .loader
        border-top: 2px solid rgba($color, .4)
        border-right: 2px solid rgba($color, .4)
        border-bottom: 2px solid rgba($color, .4)
        border-left: 2px solid $color
