<div class="columns is-multiline">
  <div class="column is-12 align-center">
    <div class="title-header">
      <h1>Repositories</h1>
      <h4>git repositories</h4>
    </div>
  </div>
  <div class="column is-12" *ngIf="repositories?.length">
    <app-repositories-list-item [repo]="repo" *ngFor="let repo of repositories"></app-repositories-list-item>
  </div>
  <div class="column is-12">
    <div class="column is-12 justify-center align-center" *ngIf="!repositories.length && !fetchingRepositories">
      <span class="table-data justify-center align-center">
        <img class="img-icon" src="/assets/images/icons/important-dark.svg">
        <span class="color-secondary is-medium">No repositories found.</span>
      </span>
    </div>
  </div>
</div>
