<div class="columns is-multiline">
  <div class="column is-12" *ngIf="buildsService?.repo && !fetching">
    <div class="main-heading">
      <div class="main-heading-left">
        <h1>Builds</h1>
        <h2 class="is-link" [routerLink]="['/builds', repoid]" *ngIf="repoid" routerLinkActive="is-active"
          [routerLinkActiveOptions]="{ exact: true }">
          {{ buildsService?.repo?.namespace }} / {{ buildsService?.repo?.name }}
        </h2>
        <h2 class="is-link" [routerLink]="['/builds', repoid, buildid]" *ngIf="repoid && buildid"
          routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }">
          Build #{{ buildid }}
        </h2>
      </div>
      <div class="main-heading-right">
        <button type="button" class="button" [disabled]="processing" (click)="restartBuild()">
          <i class="fas fa-sync-alt"></i>
          <span>Restart Build</span>
        </button>
        <button type="button" class="button"
          [disabled]="processing || (build?.status !== 'running' && build?.status !== 'queued')" (click)="stopBuild()">
          <i class="fas fa-hand-paper"></i>
          <span>Stop Build</span>
        </button>
      </div>
    </div>
  </div>

  <div class="column is-12" *ngIf="!build">
    <app-spinner class="is-large"></app-spinner>
  </div>

  <div class="column is-12" *ngIf="build">
    <app-builds-info-container [build]="build"></app-builds-info-container>
  </div>

  <div class="column is-12" *ngIf="build">
    <div class="list-heading">
      <div class="columns">
        <div class="column is-2"><span class="text mlr10">ID</span></div>
        <div class="column is-4"><span class="text">Environment / Command</span></div>
        <div class="column is-2"><span class="text">Docker Image</span></div>
        <div class="column is-1"><span class="text justify-center">Status</span></div>
        <div class="column is-1"><span class="text justify-center">Time</span></div>
        <div class="column is-2"><span class="text justify-center">Actions</span></div>
      </div>
    </div>
    <app-builds-job-list-item [build]="build" [job]="job" *ngFor="let job of build?.jobs"></app-builds-job-list-item>
  </div>
</div>
