<div class="columns is-multiline">
  <div class="column is-12">
    <app-builds-nav [tab]="'build'" [buildId]="id"></app-builds-nav>
  </div>
  <div class="column is-12">
    <app-builds-info-container [build]="build"></app-builds-info-container>
  </div>
  <div class="column is-12">
    <h2 class="plr10">Jobs</h2>
    <hr class="header-border" />
  </div>
  <div class="column is-12">
    <app-builds-job-list-item [job]="job" *ngFor="let job of build?.jobs"></app-builds-job-list-item>
  </div>
</div>
