<div class="columns is-multiline">
  <!-- <div class="column is-12 pb0">
    <div class="align-center justify-start">
      <h3>Database Configuration</h3>
    </div>
  </div> -->
  <div class="column is-12 pt0 pb0">
    <div class="notification">
      <i class="far fa-question-circle"></i>
      <p>Please test database connection, it is mandatory before you can save the config.</p>
    </div>
    <!-- <div class="notification is-green">
      <i class="fas fa-server"></i>
      <p>Connection succesfully established.</p>
    </div> -->
  </div>
  <div class="column is-12 pt0 pb0">
    <form class="form">
      <div class="field">
        <label class="label">Database Driver</label>
        <app-selectbox [values]="drivers" placeholder="Database Driver"></app-selectbox>
      </div>
      <div class="columns">
        <div class="column is-8">
          <div class="field">
            <label class="label">Hostname / IP</label>
            <input type="text" class="input" placeholder="Hostname" />
          </div>
        </div>
        <div class="column is-4">
          <div class="field">
            <label class="label">Port</label>
            <input type="number" class="input" placeholder="Port" />
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Database Name</label>
        <input type="text" class="input" placeholder="Database Name" />
      </div>
      <div class="columns">
        <div class="column is-6">
          <div class="field">
            <label class="label">Username</label>
            <input type="text" class="input" placeholder="Username" />
          </div>
        </div>
        <div class="column is-6">
          <div class="field">
            <label class="label">Password</label>
            <input type="text" class="input" placeholder="Password" />
          </div>
        </div>
      </div>
      <div class="form-buttons justify-end">
        <button type="button" class="button is-small">
          <i class="fas fa-database"></i>
          <span>Test Connection</span>
        </button>
        <button type="submit" class="button is-small is-green" disabled>Save</button>
      </div>
    </form>
  </div>
</div>
