<div class="columns is-multiline">
  <div class="column is-12">
    <div class="mtb20" *ngIf="fetching">
      <app-loader></app-loader>
    </div>

    <div class="columns is-multiline" *ngIf="!fetching">
      <div class="column is-12">
        <div class="columns is-multiline">
          <div class="column is-7 align-center">
            <div class="search-input">
              <input type="text" class="input" placeholder="Search repositories..." [(ngModel)]="searchKeyword" (ngModelChange)="onKeywordChanged($event)">
              <i class="fas fa-search"></i>
            </div>
          </div>
          <div class="column is-5 align-center justify-end">
            <button type="button" class="button is-green">Add repository</button>
          </div>
          <hr/>
        </div>
      </div>
      <div class="column is-12">
        <app-repositories-repo-item [repo]="repo" *ngFor="let repo of displayedRepos; let i = index;" [routerLink]="['/repositories', repo.id]"></app-repositories-repo-item>
      </div>
    </div>
  </div>
</div>
