<div class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-8 is-offset-2">
          <div class="setup-logo">
            <img src="images/abstruse-text-logo.svg">
          </div>
        </div>
        <div class="column is-10 is-offset-1">
          <div class="setup-content">
            <h1>
              <img src="images/icons/server.svg">
              AbstruseCI Setup
              <span>Configure Abstruse Continous Integration Server</span>
            </h1>
            <hr/>

            <div *ngIf="loading">
              <img src="images/icons/flickr.svg" class="main-loader">
            </div>

            <div *ngIf="!loading">
              <div *ngIf="step === 'config'">
                <h2>
                  <img src="images/icons/server-status.svg">
                  Server Status
                </h2>
                <div class="setup-list">
                  <div class="setup-list-item">
                    <img class="icon" [src]="serverStatus.docker ? 'images/icons/check-true.svg' : 'images/icons/check-false.svg'"> Docker Installed
                  </div>
                  <div class="setup-list-item">
                    <img class="icon" [src]="serverStatus.dockerRunning ? 'images/icons/check-true.svg' : 'images/icons/check-false.svg'"> Docker Running
                  </div>
                  <div class="setup-list-item">
                    <img class="icon" [src]="serverStatus.sqlite ? 'images/icons/check-true.svg' : 'images/icons/check-false.svg'"> SQLite3 Installed
                  </div>
                </div>
                <hr/>
                <p *ngIf="!readyToSetup">Please make sure that all of the above checkmarks are green as it is mandatory to run Abstruse on this server.</p>
                <button type="button" class="button" name="btn-recheck" (click)="checkConfiguration()" *ngIf="!readyToSetup">Re-check Configuration</button>
                <button type="button" class="button" name="btn-continue" (click)="continueToDb()" *ngIf="readyToSetup">Continue</button>
              </div>

              <div *ngIf="step === 'db'">
                <h2>
                  <img src="images/icons/password.svg">
                  Administrator Account
                </h2>
                <div class="message blue">
                  <p>
                    <img src="images/icons/info.svg">
                    All fields are mandatory.
                  </p>
                </div>
                <form class="password-form" #userForm="ngForm" (ngSubmit)="createUser()">
                  <div class="columns is-multiline">
                    <div class="column is-6 is-offset-3">
                      <div class="form-field">
                        <label class="form-label">Email</label>
                        <input class="form-input" type="email" name="email" placeholder="Email" [(ngModel)]="user.email" required email>
                        <p class="helper">Email is used for username.</p>
                      </div>
                      <div class="form-field">
                        <label class="form-label">Full Name</label>
                        <input class="form-input" type="text" name="name" placeholder="Full Name" [(ngModel)]="user.fullname" required>
                        <p class="helper">John Wayne.</p>
                      </div>
                      <div class="form-field">
                        <label class="form-label">Password</label>
                        <input class="form-input" type="password" name="password" placeholder="Password" [(ngModel)]="user.password" required>
                        <p class="helper">Pick your password.</p>
                      </div>
                      <div class="form-field">
                        <label class="form-label">Repeat Password</label>
                        <input class="form-input" type="password" name="password2" placeholder="Repeat Password" [(ngModel)]="user.confirmPassword" required validateEqual="password">
                        <p class="helper">Repeat picked password from the previous field.</p>
                      </div>
                      <div class="form-field">
                        <button type="submit" class="button green" name="btn-register" [disabled]="!userForm.valid">Continue</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>

              <div *ngIf="step === 'docker'">
                <div class="paragraph">
                  <img src="images/icons/flickr.svg" class="m-loader">
                  Setting up docker image, please wait ...
                </div>
                <hr/>
                <app-terminal [data]="terminalInput" (outputData)="terminalOutput($event)" [options]="terminalOptions"></app-terminal>
              </div>
              <div *ngIf="step === 'done'">
                <div class="message green">
                  <p>
                    <img src="images/icons/info.svg">
                    Abstruse successfully configured.
                  </p>
                </div>
                <a class="button" routerLink="/login">Login Page</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
