<div class="columns is-multiline">
  <div class="column is-12 ptb0 mb15">
    <div class="tabs justify-end">
      <span class="tab" [class.is-active]="imageService?.tab === 'build images'" (click)="imageService.switchTab('build images')">
        <i class="fab fa-docker"></i>
        <span>Build Images</span>
      </span>
      <span class="tab" [class.is-active]="imageService?.tab === 'base images'" (click)="imageService.switchTab('base images')">
        <i class="fab fa-docker"></i>
        <span>Base Images</span>
      </span>
    </div>
  </div>
</div>

<div class="images-content">
  <div *ngIf="imageService.tab === 'build images'">
    <div class="mtb20" *ngIf="imageService.loadingBuildImages">
      <app-loader></app-loader>
    </div>

    <div class="columns is-multiline" *ngIf="!imageService.loadingBuildImages">
      <div class="column is-12">
        <div class="space-between align-center">
          <p>Build images are mandatory to run build jobs.</p>
          <button type="button" class="button is-small is-green" (click)="imageService?.openCreateDialog()">Create
            Image</button>
        </div>
      </div>
      <div class="column is-12" *ngIf="!imageService?.buildImages.length">
        <div class="message">
          <p>
            <i class="fas fa-info-circle"></i>
            <span>No build images found.</span>
          </p>
        </div>
      </div>
      <div class="column is-12" *ngIf="imageService?.buildImages.length">
        <app-image-item [image]="image" *ngFor="let image of imageService.buildImages; let i = index;"></app-image-item>
      </div>
    </div>
  </div>

  <div *ngIf="imageService.tab === 'base images'">
    <div class="mtb20" *ngIf="imageService.loadingBaseImages">
      <app-loader></app-loader>
    </div>
    <div class="columns is-marginless is-paddingless" *ngIf="!imageService.loadingBaseImages">
      <div class="column is-12 is-marginless is-paddingless">
        <app-image-base-item [image]="image" *ngFor="let image of imageService.baseImages; let i = index;"></app-image-base-item>
      </div>
    </div>
  </div>
</div>

<app-image-log-dialog *ngIf="imageService.detailsDialogOpened"></app-image-log-dialog>
<app-image-create-dialog [image]="imageService.editImage" *ngIf="imageService.createDialogOpened"></app-image-create-dialog>
