<app-header></app-header>

<nav class="nav sub-nav">
  <div class="container">
    <div class="nav-left">
      <span class="nav-item">
        <h1>{{ repo?.full_name }}</h1>
        <span *ngIf="statusBadge" [innerHTML]="statusBadge | safeHtml" class="status-badge"></span>
      </span>
    </div>
    <div class="nav-center"></div>
    <div class="nav-right">
      <div class="group-buttons">
        <button class="group-button" [class.is-active]="tab === 'builds'" (click)="tab = 'builds'">Builds</button>
        <button class="group-button" [class.is-active]="tab === 'settings'" (click)="tab = 'settings'">Settings</button>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <div class="columns">
    <div class="column is-12">
      <div class="content">
        <div class="container" *ngIf="loading">
          <img src="images/icons/flickr.svg" class="main-loader">
        </div>

        <div class="columns is-multiline" *ngIf="!loading">
          <div class="column is-12">
            <div class="columns repository-details">
              <div class="column is-8">
                <span>
                  <img src="images/icons/github-white.svg">
                  <a [href]="repo?.html_url">{{ repo?.html_url }}</a>
                </span>
                <span>
                  <img src="images/icons/git-branch.svg">
                  {{ repo?.default_branch }}
                </span>
                <span *ngIf="repo?.private">
                  <img src="images/icons/unlock.svg">
                  Private
                </span>
                <span *ngIf="!repo?.private">
                  <img src="images/icons/unlock.svg">
                  Public Repository
                </span>
              </div>
              <div class="column is-4"></div>
            </div>
          </div>

          <div class="column is-12" *ngIf="!repo?.builds.length && tab === 'builds'">
            <div class="notification is-info">
              No builds has been runned yet.
            </div>
          </div>

          <div class="column is-12" *ngIf="repo?.builds.length && tab === 'builds'">
            <div class="columns list-item" *ngFor="let build of repo.builds; let i = index;" [ngClass]="{ 'is-queued': build.status === 'queued', 'is-success': build.status === 'success', 'is-running': build.status === 'running', 'is-errored': build.status === 'failed' }" (click)="gotoBuild(build.id)">
              <app-build-item [build]="build"></app-build-item>
            </div>
          </div>

          <div class="column is-12" *ngIf="tab === 'settings'">
            <div class="columns is-multiline">
              <div class="column is-12">
                <h2>Settings</h2>
              </div>
              <div class="column is-12">
                <form class="form" #repoForm="ngForm" (ngSubmit)="saveRepoSettings($event)">

                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
