<app-header></app-header>

<div class="container">
  <div class="columns">
    <div class="column is-12">
      <div class="content">
        <div class="columns is-multiline">
          <div class="column is-12">
            <h1>Builds</h1>
          </div>
          <div class="column is-12">
            <div class="columns list-header">
              <div class="column is-1">Build Id</div>
              <div class="column is-3">UUID</div>
              <div class="column is-2">Commit</div>
              <div class="column is-2">Commited by</div>
              <div class="column is-1">Status</div>
              <div class="column is-1">Time</div>
              <div class="column is-2"></div>
            </div>
            <div class="columns list-item is-active" *ngFor="let build of builds; let i = index;">
              <div class="column is-1">
                <span class="icon">
                  <img src="images/icons/hammer.svg">
                </span>
                <span>{{ build.id }}</span>
              </div>
              <div class="column is-3">
                <span>{{ build.uuid }}</span>
              </div>
              <div class="column is-2 commit-column">
                <span class="icon">
                  <img src="images/icons/git-commit.svg">
                </span>
                <span class="bold">3f534a</span>
                <span>chore(): initial commit</span>
              </div>
              <div class="column is-2">
                <span>Jan Kuri</span>
              </div>
              <div class="column is-1">
                <span class="status-circle green"></span>
                <span>{{ build.status }}</span>
              </div>
              <div class="column is-1">
                <span>0:00</span>
              </div>
              <div class="column is-2">
                <div class="button-addon" (click)="toggleDropdown(i)">
                  <button type="button" class="button">
                    Actions
                  </button>
                  <span class="button-item">
                    <img src="images/icons/dropdown.svg">
                  </span>
                  <div class="button-dropdown" [ngClass]="{ 'is-active': buildDropdowns[i] }">
                    <div class="button-dropdown-item" (click)="runBuild(build.repositories_id)">Run Build</div>
                    <div class="button-dropdown-item">Stop Build</div>
                    <div class="button-dropdown-item">Re-Start Build</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-12">
            <!--<app-terminal [data]="terminalInput" (outputData)="terminalOutput($event)"></app-terminal>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
