<app-header></app-header>

<div class="container">
  <div class="columns">
    <div class="column is-12">
      <div class="content">
        <div class="columns is-multiline">
          <div class="column is-12">
            <h1>Builds</h1>
          </div>
          <div class="column is-12">
            <div class="columns list-header">
              <div class="column is-1">Build Id</div>
              <div class="column is-3">UUID</div>
              <div class="column is-2">Commit</div>
              <div class="column is-2">Commited by</div>
              <div class="column is-2">Status</div>
              <div class="column is-2">Time</div>
            </div>
            <div class="columns list-item is-active" *ngFor="let build of builds; let i = index;">
              <div class="column is-1">
                <span class="icon">
                  <img src="images/icons/hammer.svg">
                </span>
                <span>{{ build.id }}</span>
              </div>
              <div class="column is-3">
                <span>{{ build.uuid }}</span>
              </div>
              <div class="column is-2 commit-column">
                <span class="icon">
                  <img src="images/icons/git-commit.svg">
                </span>
                <span class="bold">3f534a</span>
                <span>chore(): initial commit</span>
              </div>
              <div class="column is-2">
                <span>Jan Kuri</span>
              </div>
              <div class="column is-2">
                <span class="status-circle green"></span>
                <span>{{ build.status }}</span>
              </div>
              <div class="column is-2">
                <span>0:00</span>
              </div>
            </div>
          </div>
          <div class="column is-12">
            <!--<app-terminal [data]="terminalInput" (outputData)="terminalOutput($event)"></app-terminal>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
