<div class="columns is-multiline">
  <div class="column is-12">
    <div class="box">
      <h2>{{ repo?.full_name }}</h2>
      <hr />
      <div class="columns is-multiline">
        <div class="column is-12 mb10">
          <div class="space-between align-center">
            <span class="has-icon">
              <span>{{ repo?.html_url }}</span>
            </span>
            <div class="repo-actions align-center">
              <button type="button" class="button">
                <i class="fas fa-hammer"></i>
                <span>Trigger Build</span>
              </button>
              <button type="button" class="button" (click)="repos.openConfigurationDialog()">
                <i class="far fa-file-alt"></i>
                <span>Check Configuration</span>
              </button>
              <button type="button" class="button">
                <i class="fa fa-edit"></i>
                <span>Edit</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="columns is-multiline">
      <div class="column is-12 ptb0 mb15">
        <div class="tabs justify-end">
          <span class="tab" [class.is-active]="tab === 'all'" (click)="switchTab('all')">All Builds</span>
          <span class="tab" [class.is-active]="tab === 'commits'" (click)="switchTab('commits')">Commits</span>
          <span class="tab" [class.is-active]="tab === 'pr'" (click)="switchTab('pr')">Pull Requests</span>
        </div>
      </div>
    </div>
  </div>
</div>

<app-repositories-configuration-dialog *ngIf="repos.configurationDialogOpened" [repo]="repo"></app-repositories-configuration-dialog>
