<div class="columns is-multiline">
  <div class="column is-12 align-center">
    <div class="title-header">
      <h1>{{ repo?.full_name }}</h1>
      <h3>{{ repo?.html_url }}</h3>
    </div>
  </div>
  <div class="column is-12">
    <div class="box mb15">
      <!-- <h2>{{ repo?.full_name }}</h2>
      <hr class="mb10" /> -->
      <div class="columns is-multiline">
        <div class="column is-12">
          <div class="space-between align-center">
            <span class="has-icon">
              <h3>{{ repo?.html_url }}</h3>
            </span>
            <div class="repo-actions align-center">
              <button type="button" class="button" [disabled]="processing" (click)="triggerBuild()">
                <i class="fas fa-hammer"></i>
                <span>Trigger Build</span>
              </button>
              <button type="button" class="button" (click)="repos.openConfigurationDialog()">
                <i class="far fa-file-alt"></i>
                <span>Check Configuration</span>
              </button>
              <button type="button" class="button">
                <i class="fa fa-edit"></i>
                <span>Edit</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-12">
    <div class="tabs">
      <div class="tabs-heading"></div>
      <div class="tabs-items">
        <div class="tab" [class.is-active]="tab === 'all'" (click)="switchTab('all')">
          <i class="octicon octicon-git-compare"></i>
          <span>All Builds</span>
        </div>
        <span class="tab" [class.is-active]="tab === 'commits'" (click)="switchTab('commits')">
          <i class="octicon octicon-git-commit"></i>
          <span>Commits</span>
        </span>
        <span class="tab" [class.is-active]="tab === 'pr'" (click)="switchTab('pr')">
          <i class="octicon octicon-git-pull-request"></i>
          <span>Pull Requests</span>
        </span>
      </div>
    </div>
    <div class="tabs-content">
      <div class="columns is-mutliline">
        <div class="column is-12" *ngIf="tab === 'all'">
          <app-loader *ngIf="fetchingBuilds"></app-loader>
          <div class="columns h70" *ngIf="!fetchingBuilds && !builds.length">
            <div class="column is-12 justify-center align-center">
              <span class="table-data justify-center align-center">
                <img class="img-icon" src="/assets/images/icons/important-dark.svg">
                <span class="color-secondary is-medium">No builds found.</span>
              </span>
            </div>
          </div>
          <div class="columns is-multiline" *ngIf="!fetchingBuilds && builds && builds.length">
            <div class="column is-12">
              <app-builds-list-item [build]="build" *ngFor="let build of builds"></app-builds-list-item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-repositories-configuration-dialog *ngIf="repos.configurationDialogOpened" [repo]="repo">
</app-repositories-configuration-dialog>
